[2022-01-07 18:19] griest024 opened #1 "ci: Add Github Actions pipeline"

[2022-01-07 18:19] damienwebdev opened #2 "Remove refs to old Marak repo"
- [ ] Remove Faker Cloud Links
- [ ] Remove refs to `github.com/marak/faker.js
- [ ] Remove any references to non-MIT licensed content

[2022-01-07 18:20] damienwebdev opened #3 "Remove logos that may not be Creative Commons or MIT Licensed"

[2022-01-07 18:20] damienwebdev opened #4 "Notify all existing contributors to Marak/faker.js of new repo"
Dear fellow contributors, we're targeting this repo as the long-term home of Faker.js. We're refing you as contributors so that you can update your codebases, projects, etc that may use Faker. We're hoping to provide a stable place for the future of Faker.

We plan on releasing the tarballs of the `faker` npm package as `@faker-js/faker` at the same exact content and version as was previously rele

[2022-01-07 18:21] damienwebdev opened #5 "Publish old versions of `faker` as `@faker-js/faker`"
I've pulled all of these tar balls from the registry and added them to the v6.0.0-alpha.0 release. I've also verified the checksums of the files I pulled against the registry and additionally uploaded them to the release.

I performed the check by doing:

[code]

and comparing against the versions I pulled from NPM. Others can verify these against the checksums I put in the 6.0.0-alpha.0 release.

[2022-01-07 18:40] damienwebdev commented on #5
Likley, we won't be able to keep the same shasums, as we need to change the package.json of the release to the new namespace. For posterity, we have uploaded these (as retrieved directly from npm) to https://github.com/graycoreio/faker.js/releases/tag/6.0.0-alpha.0

[2022-01-07 18:40] damienwebdev opened #6 "Publish 6.0.0 as `@faker-js/faker`"
If you need earlier versions of faker, see #5

[2022-01-07 18:41] damienwebdev opened #7 "Fix bug in `npm run test` result"

[2022-01-07 18:43] damienwebdev opened #8 "FEAT: Add ESM Module support"

[2022-01-07 18:43] damienwebdev opened #9 "Feat: Add typescript types for @faker-js/faker"

[2022-01-07 18:45] damienwebdev opened #10 "CI: Remove Travis"

[2022-01-07 21:13] griest024 opened #14 "Rewrite in typescript and emit usable types"

[2022-01-07 21:35] griest024 opened #16 "replace `/vendor` files with appropriate npm packages"

[2022-01-08 02:11] damienwebdev opened #18 "docs(codeowner): add codeowners file for clear reviews"

[2022-01-08 02:20] damienwebdev opened #19 "chore: acquire ownership of npm org"
Just adding here that I've made sure to snag ownership of https://www.npmjs.com/@faker-js/faker.js

[2022-01-08 04:34] Shinigami92 opened #20 "GitHub Discussion"
Open GitHub Discussion

[2022-01-08 04:36] Shinigami92 opened #21 "Discord Community Server"
Create and link a Discord community server.

(If you need a moderator for the start and initial setup, I can help)

[2022-01-08 04:40] Shinigami92 opened #22 "Document as own website"
Serve a documentation as own website.

We could e.g. use VitePress for that.
Happy to help if decision was made what to use for that website.
For now it would be enough to use `gh-pages`.

[2022-01-08 20:57] clarkerican commented on #21
What is everyone's take on Slack vs Discord?  I'm happy to help set either one up!

[2022-01-08 21:02] damienwebdev commented on #21
We have the Daffodil Discord server https://discord.gg/EcF7XFpr as a temporary server if we need to get stuff done quickly. I don't intend for this to be the forever home of FakerJs though,

[2022-01-08 21:24] Shinigami92 commented on #21
What's Daffodil? I asked for creating a Faker.js community Discord Server like e.g. we have for Vite or Vue or Quasar

Example:
Vite: https://chat.vitejs.dev <a href="https://chat.vitejs.dev"><img src="https://img.shields.io/badge/chat-discord-blue?style=flat&logo=discord" alt="discord chat"></a>

[2022-01-08 21:30] damienwebdev commented on #21
Daffodil is a project that depends on Faker. I was just using it as a temporary server for quick correspondence until we set up a new one.

Use this instead: https://discord.gg/U6JxmrEm for a temporary one.

[2022-01-08 22:53] mmahalwy opened #24 "Will this continue as source of the Faker library? #1"
@Geertvdc asked in https://github.com/withshepherd/faker.js/issues/1#issue-1094203363:

[code]

Continuing conversation here

[2022-01-08 22:56] #21 closed

[2022-01-08 23:00] prisis commented on #24
I will try to port old PRs from web archive to this repo

[2022-01-08 23:02] prisis opened #28 "Replace all FakerCloud links with a new source"

[2022-01-08 23:07] clarkerican commented on #28
@prisis Hey Daniel, I was thinking of just removing this for now ([PR](https://github.com/faker-js/faker.js/pull/27)). Although, if someone does end up creating a Faker Cloud, then we can add it back. Thoughts?

[2022-01-08 23:08] #10 closed

[2022-01-08 23:13] damienwebdev commented on #3
I've taken the time to make a new logo in Paint 3D. It's ok for now.

[2022-01-08 23:13] damienwebdev commented on #3
![faker](https://user-images.githubusercontent.com/9029654/148663046-99899c11-9f4a-4a3a-a9a1-5515cf936988.jpg)

[2022-01-08 23:13] clarkerican opened #29 "Add Github action to enforce conventional commit names"
We'll also need to update the Contributing guidelines

[2022-01-08 23:23] damienwebdev commented on #20
This is enabled. Thanks for the idea @Shinigami92

[2022-01-08 23:23] #20 closed

[2022-01-08 23:40] Shinigami92 commented on #29
https://github.com/vitejs/vite/blob/main/.github/semantic.yml
https://github.com/vitejs/vite/blob/8fb854fd62f0edc9b1d1bab79b7d9b11cd03cf90/package.json#L65

[2022-01-09 00:02] prisis commented on #28
What I mean is, https://github.com/faker-js/faker.js/blob/29234378807c4141588861f69421bf20b5ac635e/lib/internet.js

[2022-01-09 00:03] prisis commented on #28
Maybe we can replace it with https://github.com/leafac/fake-avatars/tree/main

[2022-01-09 00:20] clarkerican commented on #29
I like the idea of using simple git hooks!

[2022-01-09 00:22] Shinigami92 commented on #29
We did too :smiley:

[2022-01-09 00:34] clarkerican opened #31 "Deprecate code of merit"
@damienwebdev and I discussed deprecating the Code of Merit and replacing it with a Code of Conduct. I just started small and deleted the Code of Merit, we can find an appropriate Code of Conduct to replace it with

Step 1: Remove Code of Merit https://github.com/faker-js/faker.js/pull/32#issue-1097070749
Step 2: [Add Standard Code of Conduct](https://www.contributor-covenant.org/version/2/1/code_

[2022-01-09 01:28] ericjeker commented on #14
Not sure if this is a duplicate: https://github.com/faker-js/faker.js/issues/9

[2022-01-09 01:33] ericjeker opened #33 "docs(changelog): Changelog is still at version 4.0.0"

[2022-01-09 01:35] damienwebdev commented on #14
I don't think this is a duplicate. There will be some period of time between `@faker-js/faker` v6 with Definitely typed and `@faker-js/faker` some future version where the codebase itself emits the types.

I think we keep this issue to track the future rewrite in typescript.

[2022-01-09 01:56] clarkerican commented on #28
Ahh, I see. Yea, we should update those

[2022-01-09 01:58] ericjeker opened #34 "feat(lint): Properly setup eslint and decide on a set of rules or coding standard"
- [ ] Define the rules we wanna use? Should we start with `eslint:recommended` or the existing rules, something else?
- [ ] Should we check the test folder? Currently, it's not covered.
- [ ] ... other?

[2022-01-09 04:31] damienwebdev commented on #34
I think `eslint:recommended` would be a good starting point, likely whatever we can get done with a `lint fix` without breaking any tests is good.

For the moment, I don't think we should lint the test folder.

I would simply start by linting `lib`

[2022-01-09 04:32] damienwebdev commented on #33
We need to implement `standard-version` along with automated changelogs for releases.

[2022-01-09 04:34] damienwebdev commented on #31
@clarkerican I updated your comment with the link to the [Standard Code of Conduct](https://www.contributor-covenant.org/version/2/1/code_of_conduct/code_of_conduct.md)

[2022-01-09 04:35] damienwebdev commented on #24
@prisis just to ensure that we respect the original contributor of the PR, can you ref the PR (or the author here) so that we can ping them and have them submit it themselves if they want to?

[2022-01-09 04:41] damienwebdev commented on #22
I believe @JeffBeltran mentioned a docs website of some kind that he has already put together?

[2022-01-09 09:18] ericjeker opened #36 "fix(dist): The dist folder is present in the repository, shouldn't we remove that?"
Add `dist` to .gitignore?

[2022-01-09 11:05] Shinigami92 commented on #28
https://github.com/faker-js/faker.js/discussions/26#discussioncomment-1934189

[2022-01-09 11:24] Shinigami92 opened #38 "Commit package lock file"
faker.js's history is one of the best examples why it's useful to commit the package lock file.
This stabilizes also CI

[2022-01-09 11:25] Shinigami92 commented on #38
Additionally we could decide if we want to use `pnpm` instead of `npm`. But this could be done in it's own PR.

[2022-01-09 11:35] Shinigami92 commented on #6
Did we already claim the npm org?
If not, please do that immediately

https://www.npmjs.com/package/@faker-js/faker

Maybe we could also release a 5.5.3 :thinking:
That way the community can already just replace the dep to our package without any issues (except for no TS support :thinking:)

[2022-01-09 15:24] damienwebdev commented on #6
I've already acquired ownership -- see: #19

[2022-01-09 17:00] prisis commented on #24
Yeah can do it

[2022-01-09 17:34] damienwebdev opened #42 "FEAT: Support Node18 when it drops"
https://nodejs.org/en/about/releases/

Node 18 is slated to release on `2022-04-19`, we need to update the ci pipeline to this on that day.

[2022-01-09 18:01] #38 closed

[2022-01-09 18:32] BitesizedLion opened #43 "Change or remove FUNDING.yml?"
Currently the FUNDING.yml points to Marak (previous author whom is now banned from github).

Maybe this should be updated or removed?

[2022-01-09 18:33] Shinigami92 commented on #43
https://github.com/faker-js/faker.js/pull/30#issuecomment-1008278307

[2022-01-09 19:37] damienwebdev commented on #43
https://github.com/faker-js/faker.js/pull/15#issuecomment-1008174977

[2022-01-09 19:37] #43 closed

[2022-01-09 20:05] #1 closed

[2022-01-09 20:26] #7 closed

[2022-01-09 20:49] Shinigami92 opened #45 "Test Issue for label automation"

[2022-01-09 20:51] #45 closed

[2022-01-09 20:51] Shinigami92 commented on #45
@griest024 Everything works as expected :+1:

[2022-01-09 21:44] JeffBeltran commented on #22
Yeah if it makes sense I could move over the repo to the org.

[2022-01-09 21:46] damienwebdev commented on #22
@JeffBeltran I would love (and maybe this is an eventual goal) to get these docs closer to the relevant code and eventually get your docs auto-generated from the codebase rather a separate repo.

[2022-01-09 22:45] damienwebdev commented on #43
I'm going to post my thoughts here based upon a discussion that we had when initiating this repository:

[2022-01-10 02:41] ericjeker commented on #29
Is this relevant as documentation? Looks very similar to what you have in Vite.
https://www.conventionalcommits.org/en/v1.0.0/

[2022-01-10 02:42] damienwebdev commented on #29
@ericjeker yes. This combined with https://github.com/conventional-changelog/standard-version will be the go-to.

[2022-01-10 02:53] ericjeker opened #46 "docs(demo): Create a demo website"
### Clear and concise description of the problem

Currently, in the README the Demo is still marked as `Coming soon`.

### Suggested solution

We could build a small demo website that allows users to:

1. See the different generators and their options
2. Play with the different options and see the result live
3. Allow the result of the generator to be one-click copied in the clipboard
3. Generates

[2022-01-10 02:56] damienwebdev commented on #46
[I can suggest Stackblitz](https://stackblitz.com/) because its really easy to use. I don't know what all we want to showcase on the site. Perhaps pick some of the most common `faker` scenarios? Words, numbers, etc.

[2022-01-10 03:11] ericjeker commented on #46
I have used Stackblitz a lot but now I use [codesandbox.io](https://codesandbox.io/). My experience with it is much better. Just wanted to mention it, both are good.

[2022-01-10 04:35] jlarmstrongiv opened #47 "Documentation website"
Link to documentation website so I can find it in future:
- https://fakerjsdocs.netlify.app/
- https://github.com/JeffBeltran/faker.js-docs

[2022-01-10 04:35] #47 closed

[2022-01-10 06:22] schalkventer commented on #46
I'm the maintainer of the [faker-extra ](https://www.npmjs.com/package/faker-extra) library, obviously the recent development has been a bit of a head-ache for me. Happy to help out in whatever way might be helpful to ensure the continued development (even if community driven) of Faker.js.

I have a lot of design/UI/UX experience as well ([https://www.linkedin.com/in/schalkventer/](https://www.lin

[2022-01-10 06:27] schalkventer commented on #22
Might even be worth looking at obtaining `faker.js.org` site via https://js.org/?

[2022-01-10 10:26] G1itcher commented on #24
This will probably be an unpopular opinion, but it seems a little disrespectful to do this?

I believe Marak took his project down specifically to protest exploitation of open source by large companies after losing almost everything in a fire? To nullify his protest like this seems a little wrong to me.

[2022-01-10 10:57] zachariahtimothy commented on #24
Is certainly an interesting take. Was it respectful of him to cost our team a couple hours of collective productivity by releasing a new version with no code and leaving us scratching our heads why the build was broken?
It was his prerogative to do that but this is the nature of open source. This library is necessary and utilized by many. Perhaps he should have been appropriately compensated, but

[2022-01-10 11:34] G1itcher commented on #24
I acknowledge that it's a complicated subject that can't be easily slotted on either side of anyone's morality. Just thought it was worth expressing.

[2022-01-10 11:36] zachariahtimothy commented on #24
Best thing we can do to avoid this type of thing in the future is to our employers to do more sponsorship! Libraries like this save many many hours of development so why not give even a couple hundred bucks?

[2022-01-10 12:04] prisis commented on #24
Hey @MilosPaunovic and @gustawdaniel-acaisoft do you like to work with us on faker.js v6?

[2022-01-10 12:14] prisis commented on #22
I can buy fakerjs.org or faker-js.org if its needed

[2022-01-10 12:25] xryshirfxn opened #49 "docs: remove old documentation and add a new one"
In the "Docs" section, the link points to the original [github.io](https://github.io) page which is no longer working. Create a `faker-js.github.io` repository and host the docs there (just a suggestion)

[2022-01-10 12:30] MilosPaunovic commented on #24
@prisis Hmm... You mean to discard the `community-faker` altogether?

I'm up for it, as I think it will benefit the open source community more than to have multiple versions of, basically, the same thing. Did you have anything particular on your mind?

[2022-01-10 12:47] prisis commented on #24
@MilosPaunovic Yes :), we would give to maintainer rights if the other team member are fine with it and if you want it :) Nothing particular in mind just to work together :)

[2022-01-10 13:04] schalkventer opened #51 "Create Discord or Slack workspace for discussion"
It might be worthwhile to create a Slack or Discord space to discuss the way forward in real-time?

[2022-01-10 13:16] damienwebdev commented on #51
This has already been done. See https://github.com/faker-js/faker/issues/21

[2022-01-10 13:16] #51 closed

[2022-01-10 14:35] damienwebdev commented on #5
This has been completed. See https://www.npmjs.com/package/@faker-js/faker

[2022-01-10 14:35] #5 closed

[2022-01-10 14:36] ericjeker commented on #36
Fixed

[2022-01-10 14:36] jasonk opened #54 "Willing to help.."
It looks like you are attempting to turn this into a community-controlled package, which is a great idea given recent events.  Since I've been using it at my day job I'd be willing to pitch in and help.  FWIW I'm already mentioned in the README, as I wrote the Perl Data::Faker package that it's based on...

[2022-01-10 14:44] damienwebdev commented on #54
@jasonk thank you for the offer. Your copyright has been in this repo for a very long time, so having your background is most appreciated. If you use Discord, we have a nice little community server going - #21 Otherwise, I'd love to get any insight from you in general!

[2022-01-10 14:48] #54 closed, assigned to nobody

[2022-01-10 16:52] #4 closed

[2022-01-10 16:53] damienwebdev commented on #4
Refing #5 so that you're aware that this is complete.

[2022-01-10 16:53] #19 closed

[2022-01-10 16:54] damienwebdev commented on #31
This is closed by #32 and #57

[2022-01-10 16:54] #31 closed

[2022-01-10 17:38] nick-krantz commented on #9
I'd be interested in contributing to getting types going for the project. Based on the discussion in #14, I think the intention is to add the types to DefinitelyTyped? Is that correct?

[2022-01-10 17:46] Shinigami92 commented on #9
For now please create a file in your repo with content:

[code]

and then just use the `@types/faker`

[2022-01-10 17:47] Shinigami92 commented on #9
The rewrite to TS could take some days

[2022-01-10 17:49] damienwebdev commented on #9
read: weeks.

[2022-01-10 18:31] nick-krantz commented on #9
Oh I must have misunderstood, I thought there would be an intermediate state where types would come before the TS rewrite.

I believe it

[2022-01-10 19:04] Shinigami92 commented on #9
It works! I tested this im my own repo at work!

[2022-01-10 21:00] damienwebdev opened #73 "build: Create a devcontainer for the project"

[2022-01-10 21:43] Shinigami92 commented on #46
For a start, we could also try it simple with `typedoc`
But this would be super simple and not really nice if we want to add manually content

[2022-01-10 22:12] sramam commented on #9
Can't this be actually included in the current repo?
That way, it'll get fixed when it'll get fixed and we won't have to back out this change from a 10^6 downstream modules.

Happy to submit a PR is that seems like an acceptable band-aid.

[2022-01-11 01:02] JessicaSachs commented on #22
Hey all, I've made contact and gotten approved by Netlify for free OSS hosting. https://faker.dev is owned currently and https://fakerjs.dev is available. Conversations are happening in the Discord around hosting and domain names.

@Shinigami92 I've started a Vitepress spike.

[2022-01-11 08:40] MilosPaunovic commented on #9
Hello @MohdImran001,

You were willing to help with types on `community-faker`, https://github.com/MilosPaunovic/community-faker/issues/3, but, for the benefit of the OpenSource, we are moving the official community-driven fork here, so, are you willing to help out here, as well?

[2022-01-11 09:56] Shinigami92 commented on #9
This will not work, cause the current versions <=5.5.3 are already released and not touched by us except the package name.
But I already working on TS migration at all #72, but sadly I'm a human and not a AI, so this could take a week or so

[2022-01-11 11:59] MohdImran001 commented on #9
Thanks, for tagging me here @MilosPaunovic. 😃.  As far as I have understood, @Shinigami92 is working on all the Typescript related things in #72. @Shinigami92 Please let me know, how can I get started. I have joined the discord server.

[2022-01-11 13:54] yashraj-02-techie commented on #46
I would love to work on creating a demo website for faker-js. If you decide that we need one.

[2022-01-11 13:57] Shinigami92 commented on #46
Please go into the Discord server, if you are not there already
and communicate with @JessicaSachs and @ericjeker

[2022-01-11 14:21] erlendfh opened #88 "address.streetAddress() doesn't use locale.address.street_address template"
### Describe the bug

In fact, most of the `locale.address.*` properties seems to be unused. Am I missing something, is this being used somewhere else, or should I open a PR and propose a fix?

### Reproduction

[code]

### Additional Info

_No response_

[2022-01-11 14:22] MilosPaunovic commented on #88
PR is definitely welcome.

[2022-01-11 14:33] JessicaSachs commented on #46
👋 just to write something outside of Discord... PR #80 has the infra to get a Playground page within the Faker website.

I did some noodling on what a UI/UX would look like, but couldn't come up with anything. If you decide to pick it up, tell me in the Discord so we don't do double work.

[2022-01-11 15:09] damienwebdev commented on #46
See also #87

[2022-01-11 21:02] bolshoytoster commented on #49
It looks like documentation is still hosted on [netlify](https://fakerjsdocs.netlify.app). We could point to that instead.

[2022-01-11 21:07] Shinigami92 commented on #49
In 1-2 days we will have hopefully deployed #80
For everything else, please subscribe to #87

[2022-01-11 23:04] xryshirfxn commented on #49
Great to know. Thanks

[2022-01-12 03:23] damienwebdev commented on #73
@STORP-Inc I'm referring to https://code.visualstudio.com/docs/remote/containers which @MateusDadalto has already started. We were deciding on how to coalesce on a dev env for consistency.

[2022-01-12 13:34] AllanOricil opened #99 "The original repo was not deleted for unknown reasons"
### Describe the bug

The original repo was not deleted for unknown reasons.
That was also an attempt to show private companies that open source developers also need support. Doing this is probably not what the community wants. It also is kind disrespectful with the creators of faker, as it does not help them at all.

### Reproduction

something

### Additional Info

_No response_

[2022-01-12 13:38] MilosPaunovic commented on #99
Hello,

We can't be sure of the real reasons behind why the original creator decided to do what he did, but we can keep it going (and improve) for the community to use.

For more information, check [https://github.com/faker-js/faker/discussions/52](https://github.com/faker-js/faker/discussions/52).

[2022-01-12 13:38] #99 closed

[2022-01-12 13:42] AllanOricil commented on #99
Why not let this open and see what the community has to say?

[2022-01-12 13:45] AllanOricil commented on #99
https://www.reddit.com/r/programming/comments/rz5rul/marak_creator_of_fakerjs_who_recently_deleted_the/

[2022-01-12 13:46] #2 closed

[2022-01-12 13:48] #28 closed

[2022-01-12 14:25] damienwebdev commented on #99
Please continue discussion here: https://github.com/faker-js/faker/discussions/52 not in issues.

[2022-01-12 14:30] damienwebdev opened #101 "chore: design a new logo for the project"

[2022-01-12 14:31] damienwebdev commented on #9
Given the workaround here: https://github.com/faker-js/faker/issues/9#issuecomment-1009172915 I'm closing this issue.

[2022-01-12 14:31] #9 closed

[2022-01-12 14:32] #29 closed

[2022-01-12 16:17] Shinigami92 commented on #2
Is this already done? The checkboxes are not ticked :thinking:

[2022-01-12 16:19] JessicaSachs commented on #101
👋🏻 Looking like we have a few topic areas, all centered around disguises or animals that disguise themselves
1. Drama Masks
2. Superhero Masks
3. Sunglasses
4. Party Masks
5. Mustache + Hat
6. Mockingbirds
7. Pandas
8. Disguised Pandas

Here are some examples of each.
<img src="https://user-images.githubusercontent.com/2801156/149177138-32873624-113a-47b2-a8a5-38c2f47b8266.png" width="300"/>
<img

[2022-01-12 16:34] JessicaSachs commented on #101
We also have:
1. Panda 3 👍🏻
<img src="https://user-images.githubusercontent.com/2801156/149181978-21cfcf17-45f2-4a8b-9e43-c3fc8cd26fa4.png" width="200"/>

[2022-01-12 16:48] TechStudent11 commented on #101
I'm not a designer but here's my concept. It's a minimalistic logo.

![Faker js concept](https://user-images.githubusercontent.com/76978184/149184402-14375514-137e-430d-9830-5cf4f765f08a.png)

[2022-01-12 19:14] noahreinalter opened #111 "chore: change .github/FUNDING.yml"
Change or delete the funding information to match the new maintainers

[2022-01-12 19:34] Shinigami92 commented on #111
#56 #43 #15 #110

[2022-01-12 19:34] #111 closed

[2022-01-12 20:16] jonah-williams opened #112 "Update .github/FUNDING.yml"
This currently mirrors the original settings from https://github.com/marak/Faker.js/ which means that github is displaying Marak as the sponsorable individual on this repo's page:
![image](https://user-images.githubusercontent.com/86003/149214460-8396bb02-6550-4c83-a6fd-300f1d8d9837.png)
and on issue pages:
![image](https://user-images.githubusercontent.com/86003/149214678-d0bc47b6-ad10-43e3-9696-

[2022-01-12 20:23] Shinigami92 commented on #112
#43 #111 #56 #15 #110

[2022-01-12 20:23] #112 closed

[2022-01-12 22:19] griest024 opened #113 "`random.word()` can return undesirable non-alpha characters"
### Describe the bug

The pool of strings from which `random.words()` pulls values includes strings that have parentheses, e.g. `Cocos (Keeling) Islands` and `Killer Whale (Orca)`. This can result in `(Keeling)` and `(Orca)` being returned.

There's a larger problem here of non-alphabetic characters being returned in words. Obviously some non-alpha characters are desired in words, e.g. `-`, but so

[2022-01-12 23:42] prisis opened #116 "faker.internet.email() may generate invalid email with other locales"
### Describe the bug

orginal bug https://web.archive.org/web/20201104085310/http://github.com/Marak/faker.js/issues/943

### Reproduction
[code]
### Additional Info

_No response_

[2022-01-12 23:48] #116 closed

[2022-01-13 00:56] damienwebdev opened #119 "chore: determine the purpose and usage of various test helpers"
[code]

Are a few files in the codebase that I haven't reviewed, but I think are worth investigating whether they can be replaced with::

1. A more modern tool
2. A dev dep

[2022-01-13 01:04] tmilewski commented on #119
Having looked through some of this...

`test/support/walk_dir.js` - Used by `test/run.js` which, as far as I can tell, itself is unused.

`test/support/chai.js` & `test/support/sinon-1.5.2.js` - Both are used by `test/browser.unit.html` which fails hard on the `main` branch. Seems pointless to touch that file given the sheer number of updates that are going in.

`test/support/luhnCheck.js` - looks

[2022-01-13 02:19] JessicaSachs commented on #49
Yeah so we need to kill the old docs and we need to migrate the examples.

[2022-01-13 04:27] JessicaSachs commented on #101
K I'm gonna do the Panda. The witch panda might be a bit hard to pull off so I'm gonna try for _any_ Panda first 😅

[2022-01-13 07:35] JessicaSachs commented on #101
The majority of people chose Panda. I did as much digging as I could for panda logos for purchase and found the following... (I couldn't find the witch) as well as one bird. I really like the bird if I were building a company.

Here's what I have:

<img width="240" alt="Screen Shot 2022-01-13 at 2 09 16 AM" src="https://user-images.githubusercontent.com/2801156/149285388-8d27232e-2f63-4669-91b4-04

[2022-01-13 07:41] JessicaSachs commented on #101
The majority of people chose Panda. I did as much digging as I could for panda logos for purchase and found the following... (I couldn't find the witch) as well as one new bird. I really like the bird if I were building a company, but because we're a devtool I think we can be more relaxed.

Here's what I have.
Same voting rules.

# 👍🏻

<img width="120" alt="Screen Shot 2022-01-13 at 2 09 16 AM" sr

[2022-01-13 08:18] JessicaSachs opened #123 "Fix the site description and meta tags for fakerjs.dev"
### Describe the bug

When you link https://fakerjs.dev in chats like Discord or on Twitter, it won't render any rich preview or site description.

### Reproduction

<img width="387" alt="Screen Shot 2022-01-13 at 3 19 22 AM" src="https://user-images.githubusercontent.com/2801156/149292241-0e9677d7-f082-4250-9cdb-9611aa61b6ed.png">

### Additional Info

The rich preview currently has no creative t

[2022-01-13 12:54] damienwebdev commented on #22
Closing re: #80

[2022-01-13 12:54] #22 closed

[2022-01-13 14:21] imrishabh18 commented on #123
I would like to take this issue up. Can you tell what should be the description to be used for the meta tag?

[2022-01-13 14:50] griest024 opened #129 "Use word methods in `random.word()`"
### Clear and concise description of the problem

As a developer, I want `random.word()` to draw from the entire pool of appropriate words.

### Suggested solution

Add the word methods (`word.noun`, `word.verb`, etc.) to the pool from which `random.word()` pulls.

https://github.com/faker-js/faker/blob/9506122a7725d9919e5a5c6ba036484cb608cd83/lib/random.js#L150-L182

### Alternative

These words

[2022-01-13 15:19] nicolasrouanne commented on #9
FWIW in order to use named imports, I had to make a slightly different export from the `.d.ts` file than the [proposed solution](https://github.com/faker-js/faker/issues/9#issuecomment-1009172915):

[code]

Using it as named imports
[code]

[2022-01-13 21:28] JessicaSachs commented on #101
OK we now own one Magic Panda. Here's the zip of it:

[fakerjs-magic-panda.zip](https://github.com/faker-js/faker/files/7866139/fakerjs-magic-panda.zip)

It's purchased and licensed for non-profit use :+1:

[2022-01-13 22:15] seanCodes commented on #123
Looks like the SSL cert is also expired or invalid. Not sure if it’s related.

[2022-01-13 22:56] JessicaSachs commented on #123
May not have propagated for you yet
<img width="700" alt="Screen Shot 2022-01-13 at 5 55 50 PM" src="https://user-images.githubusercontent.com/2801156/149421843-5128a564-2ca4-470f-87f3-4b418c938c2d.png">

[2022-01-13 22:59] micalevisk commented on #9
another way is using TS path aliases like:

[code]

thus you don't need to change anything besides the `tsconfig` file.

[2022-01-14 00:53] JessicaSachs commented on #123
Absolutely. Let's start with the tagline:

"Generate massive amounts of fake JSON data in the browser or node for testing and development. You can mock users, mock images, mock products, and mock transactions. You can also mock filesystem paths and folders!"

[2022-01-14 01:33] JessicaSachs opened #135 "Prevent docs folder from being published to npm"
### Describe the bug

We don't want to publish the entire docs directory when releasing the package. Update the .npmignore file to contain the new docs directory.

See: https://npm.github.io/publishing-pkgs-docs/publishing/the-npmignore-file.html

### Additional Info

_No response_

[2022-01-14 03:25] sohamsshah commented on #135
I would like to work on this issue. Please assign this to me

[2022-01-14 10:24] imrishabh18 commented on #123
@JessicaSachs Just to confirm that the meta tag is to be added to the [`config.mjs`](https://github.com/faker-js/faker/blob/main/docs/.vitepress/config.mjs#L101) file, right?

[2022-01-14 11:33] KubaJastrz opened #142 "Update MIT license holder"
I know almost nothing about legalities, but it looks like Marak Squires still holds the copyright rights to the forked code, according to the `MIT-LICENSE.txt`

https://github.com/faker-js/faker/blob/9506122a7725d9919e5a5c6ba036484cb608cd83/MIT-LICENSE.txt#L1-L3

[2022-01-14 11:38] Shinigami92 commented on #142
Thanks for notifying us, but we are aware of that.
We have plans to create a `LICENSE` file

[2022-01-14 12:28] #135 closed

[2022-01-14 13:08] imrishabh18 commented on #34
@Shinigami92 I would like to take this up and setup the eslint for this project. 😁

[2022-01-14 13:11] Shinigami92 commented on #34
@imrishabh18 Thanks for your help offer, but I think I will do this myself after I migrated the stuff to typescript this evening.
I have some very opinionated eslint setup and before we communicate back and forth and slow us down and do double work, ... I will do it myself :sweat_smile:

[2022-01-14 20:32] #6 closed

[2022-01-14 22:55] jcubic commented on #142
You can't remove the copyright from him, AFAIK, you can only add additional copyright on top.

[2022-01-15 00:56] damienwebdev commented on #33
This has been done for the latest release. We don't have historical change logs, so unless someone wants to do the tedious work of generating those manually, I'm going to assume this is complete!

[2022-01-15 00:56] #33 closed

[2022-01-15 00:58] damienwebdev commented on #142
@jcubic this is correct. We'll be sure to keep the license consistent with the requirements of the MIT license.

[2022-01-15 15:56] fncolon commented on #101
Panda magician seems cool!

[2022-01-15 16:25] damienwebdev opened #156 "build: add src to .npmignore"
### Describe the bug

I was releasing `6.0.0-alpha.3` and I noticed that the `src` folder is in the distributable package.

### Reproduction

Run `npm pack` and review the subsequent tarball.

### Additional Info

_No response_

[2022-01-15 16:46] #123 closed

[2022-01-15 19:57] prisis opened #159 "ci: add matrix of supported node versions"
Check https://github.com/vitejs/vite/blob/main/.github/workflows/ci.yml#L27 how to do it

[2022-01-15 21:29] fzn0x opened #162 "Adding new feature `songName` in `faker.music`"
### Clear and concise description of the problem

Adding new feature `songName` which is generate a random song name based on country locales, it's real song name not dummy ones.

### Suggested solution

Locales -> definitions -> data e.g https://github.com/faker-js/faker/blob/main/src/address.ts#L258

### Alternative

_No response_

### Additional context

This issue created for awareness if ther

[2022-01-16 01:41] luciferreeves opened #164 "Merge `@luciferreeves/blaver` to this repo"
Hello,

A few days ago, I received an issue on [`@luciferreeves/blaver`](https://github.com/luciferreeves/blaver) to merge the project with this repo and maintain this. Now, I'm not going to try and read the tea leaves and figure out what the future looks like. The question for me was, "Do I maintain the repo alone or move to a more community based approach?" I thought the answer was obvious and t

[2022-01-16 04:30] Shinigami92 commented on #164
You are absolutely welcome 🤗
Please show up in our Discord server and tell us there your name, than we can proceed further.

[2022-01-16 04:56] damienwebdev commented on #164
@luciferreeves welcome our not-so-little little community! As @Shinigami92 mentioned, if you hop into discord (don't forget to give us your name here so that we know who you are) we can add roles!

Additionally, I'm going to move this to a discussion since it is not a code related issue.

Further, you may note our repo has a few new processes beyond the original Faker.js that your fork was based u

[2022-01-16 04:59] damienwebdev commented on #14
Closing as this is merged and released as `6.0.0-alpha.3`

[2022-01-16 04:59] #14 closed

[2022-01-16 08:14] stefanprobst opened #166 "types: random.arrayElement (and probably others) should support ReadonlyArray"
### Describe the bug

the new types in 6.0.0-alpha.3 (thanks!) don't handle cases where the DT types allowed `ReadonlyArray`, e.g. `random.arrayElement`.

### Reproduction

[code]

also note, that the other way around would be fine:

https://www.typescriptlang.org/play?#code/CYUwxgNghgTiAEAzArgOzAFwJYHtX1higE8BRCEAWxFQwB4AVAPgAosMqBnALngEEYRYoyYBKXgwBQksHk4Z4cKMDwRiAofAC88ANoByPCH0AaePowB3HKfMYAFn

[2022-01-16 09:43] Shinigami92 opened #167 "Provide TypeScript support for locales"
### Describe the bug

It is already possible to import `locales` via e.g.: `import en from '@faker-js/faker/lib/locales/en'`

This was also [documented](https://github.com/faker-js/faker/blob/8ab656b601901b53bf33f04bf1ff9812fda2f4cc/README.md?plain=1#L375) in the old docs and is the wanted behaviour to import additional locales.
In the old way it was just `faker/locales/en`. But now were we're pla

[2022-01-16 14:41] Shinigami92 commented on #156
Instead of using `.npmignore`, we should use `package.json`'s `files` field

[2022-01-16 15:01] MohdImran001 commented on #156
@Shinigami92 I'd like to work on it.

[2022-01-16 15:54] MohdImran001 commented on #159
@Shinigami92 Can I work on it ?

[2022-01-16 16:34] Shinigami92 opened #174 "Setup a new bundling process"
### Clear and concise description of the problem

We want to switch away from the old gulp bundling process and modernize it.
Also we want to produce `esm`, `cjs` and `umd`

### Suggested solution

Use e.g. [`rollup`](https://github.com/rollup/rollup), [`preconstruct`](https://github.com/preconstruct/preconstruct) or [`microbundle`](https://github.com/developit/microbundle)

### Alternative

_No r

[2022-01-16 17:07] luciferreeves opened #175 "Add Random Zodiac Signs"
### Clear and concise description of the problem

We can add random zodiac signs. We can also use the `date.past()` function to generate a random birthday. We can also get the zodiac sign based on birthdate in wherever random details are generated.

### Suggested solution

Do a new module for zodiac signs. The birthday module can be appended to the date module itself.

### Alternative

_No respons

[2022-01-16 17:11] PabloSzx opened #176 "Typescript error due to missing "types" field"
### Describe the bug

Typescript gives the error:

[code]

This is fixed by adding the "types" field:

From:

[code]

To:

[code]

### Reproduction

https://github.com/pabloszx/faker-error-types

### Additional Info

   "@faker-js/faker": "6.0.0-alpha.3"

[2022-01-16 17:16] MohdImran001 commented on #88
@prisis can I work on it ?

[2022-01-16 17:20] Shinigami92 commented on #88
@MohdImran001 Let's focus on v6.0.0 first :slightly_smiling_face:
Otherwise there would be very much to rebase

[2022-01-16 17:55] erlendfh commented on #88
Does anyone know the status of this feature? There seems to have been a lot of work put into the translations to support this, but as far as I can tell it's not actually being used at all? Or is there some way of using this "manually" in the _format_ method?

[2022-01-16 19:29] #156 closed

[2022-01-16 19:29] #176 closed

[2022-01-16 19:37] import-brain opened #181 "Credit Card number parameter"
<img width="746" alt="Screen Shot 2022-01-16 at 2 35 07 PM" src="https://user-images.githubusercontent.com/68196762/149675063-9f980495-3ee4-498a-9fd1-fe7f7ef76d22.png">

In the part of the Finance section of the API docs shown above, I think it would improve the docs if we listed all possible inputs of the 'provider' parameter, such as 'Visa', 'MasterCard', etc. What would happen if someone used g

[2022-01-16 20:26] #142 closed

[2022-01-17 01:33] luciferreeves opened #184 "feat: add binary and octal random number generation"
### Clear and concise description of the problem

`faker.random.[...]` already generates random number, bigInt, float, hexadecimal, etc. But it lacks octal and binary numbers. This can be added.

### Suggested solution

This is an easy task. Either use the [`faker.datatype.hexadecimal()`](https://github.com/faker-js/faker/blob/4a69d6dc295153e037c15e084e55aef1e662096b/src/datatype.ts#L179) method a

[2022-01-17 03:15] clarkerican opened #187 "Lib folder now needs built before running tests"
It seems like now we need to build the lib folder when running tests. We should consider either:

1. Updating the README to include this in the Running Tests section
2. Adding a "pretest" step that automatically builds the lib folder for the developer

[2022-01-17 03:39] clarkerican commented on #181
One interesting challenge here is that each locale is going to have different options. We should consider the best way to represent this, cause I think adding the options is likely a good call! But we should probably add the options for each locale.

[2022-01-17 04:36] mbokinala commented on #184
Can I work on this?

[2022-01-17 05:16] import-brain commented on #181
Yes, we probably need to look at different ways to represent this, because this section taking up half of the page is not optimal.

[2022-01-17 05:16] mbokinala commented on #184
Also, I believe the title should be edited to read "add *binary* and octal random number generation"

[2022-01-17 05:58] mbokinala opened #190 "Add `commit-convention.md`"
Currently, when attempting to commit with a message that does not follow the proper format enforced by [`scripts/verifyCommit.ts`](https://github.com/faker-js/faker/blob/31ad7328805486d9bda05b9b507fa02335ef24b0/scripts/verifyCommit.ts), the following error message is shown:

[code]

However, the file `.github/commit-convention.md` does not exist, so contributors must track down the `verifyCommit`

[2022-01-17 07:23] shernshiou opened #193 "Export assignment cannot be used when targeting ECMAScript modules"
### Describe the bug

I received export error when building project with `@fakerjs/faker`

[code]

### Reproduction

Install `@fakerjs/faker`

Build project with tsc

### Additional Info

_No response_

[2022-01-17 07:27] Shinigami92 commented on #190
We took the script from [Vite](https://github.com/vitejs/vite).
Thanks for the hint :slightly_smiling_face:
Are you willing to open a PR for this?

[2022-01-17 07:33] Shinigami92 commented on #193
This will be fixed already by next version due to excluding the `index.ts` from bundle.
See #173 for more

[2022-01-17 07:33] #193 closed

[2022-01-17 12:12] poyea opened #197 "Dark Mode for fakerjs.dev website"
### Clear and concise description of the problem

We can provide a dark mode option for the entire documentation website. How about we make a [toggle](https://github.com/GoogleChromeLabs/dark-mode-toggle)? Or we may use `prefers-color-scheme`.

### Suggested solution

Implement a dark mode for the website

### Alternative

_No response_

### Additional context

#195

[2022-01-17 12:20] mbokinala commented on #190
Sure, will do

[2022-01-17 12:30] Shinigami92 commented on #197
This issue could help :thinking: https://github.com/vuejs/vitepress/issues/251

[2022-01-17 13:38] pkuczynski opened #198 "Accept dates as params for Date methods"
### Describe the bug

Old faker used to support dates for functions like `faker.date.past` or `faker.date.between`. New types do not allow such calls.

### Reproduction

[code]

### Additional Info

_No response_

[2022-01-17 13:42] Marak opened #199 "Add new module: Curse of Kek"
### Clear and concise description of the problem

![1641884537252](https://user-images.githubusercontent.com/70011/149779279-836843dd-e329-4573-9639-0d5559965b2a.png)

### Suggested solution

![1641884537252](https://user-images.githubusercontent.com/70011/149779296-150130fc-4d10-4b6d-a89a-b0b163fc0c6e.png)

### Alternative

![enter-the-terry](https://user-images.githubusercontent.com/70011/149779

[2022-01-17 13:43] Marak commented on #199
![1641748921258](https://user-images.githubusercontent.com/70011/149779726-5e50ab70-c468-4deb-8d4e-6053e04002f4.jpeg)

[2022-01-17 13:45] Marak commented on #199
![INFINITE-PRAY](https://user-images.githubusercontent.com/70011/149779901-d0561266-b996-4b74-94c0-43474bfb7981.gif)

[2022-01-17 13:45] Marak commented on #199
![may-the-schwartz-1](https://user-images.githubusercontent.com/70011/149779948-5de1c384-7ccb-43f6-8067-ce4c64a9e593.png)

[2022-01-17 13:45] Marak commented on #199
![may-the-schwartz-0](https://user-images.githubusercontent.com/70011/149779976-aefdcac4-4eb3-49a4-98ff-8d0c4cc8e5ed.png)

[2022-01-17 13:45] Marak commented on #199
![may-the-schwartz](https://user-images.githubusercontent.com/70011/149780000-587f19b9-aaf7-4112-a32a-8c9de296a27f.jpeg)

[2022-01-17 13:45] Marak commented on #199
![friends](https://user-images.githubusercontent.com/70011/149780058-4c61698a-df00-4a87-8c48-94e258cdcb48.gif)

[2022-01-17 13:46] Marak commented on #199
![little-oofa](https://user-images.githubusercontent.com/70011/149780131-478fe0a1-1de9-4f90-917c-2f47f5d247c2.jpeg)

[2022-01-17 13:46] Marak commented on #199
![1641501698556](https://user-images.githubusercontent.com/70011/149780222-6db5961e-5b59-42f7-8102-bd4dabe8c0fb.jpeg)

[2022-01-17 17:30] Shinigami92 opened #203 "EPIC: Add JSDoc descriptions"
### Clear and concise description of the problem

Most (if not all) of the functions already have JSDoc, but these are just simple e.g. `@param <fieldName>` without the descriptive text.
We found some documentation like https://github.com/faker-js/faker/pull/160, https://fakerjs.dev/api/datatype and e.g. these [schema definitions](https://github.com/faker-js/faker/blob/a973ee1ce64d2b593f64b633e927

[2022-01-17 22:42] mbokinala commented on #203
@Shinigami92 I can work on this

[2022-01-17 22:57] JessicaSachs commented on #197
Yeah there's work being done on this internally. Once it's ready we'll have dark mode for free.

[2022-01-18 01:35] JessicaSachs opened #206 "docs: scale the new faker panda logo up"
(Once #205 is merged)

When we switched logos to be that panda magician, the sizes got a bit too small to look good. Can someone scale them up and vertically align the text so it looks good?

[2022-01-18 04:23] import-brain commented on #203
@Shinigami92 Please assign to @mbokinala, thanks

[2022-01-18 04:53] bl0cknumber opened #210 "docs: document supported locales"
### Clear and concise description of the problem

Document supported locales in https://github.com/faker-js/faker/tree/main/locale

Avoid related issues and discussions (e.g https://github.com/faker-js/faker/discussions/209)

### Suggested solution

Write supported locales in https://github.com/faker-js/faker/tree/main/locale

### Alternative

-

### Additional context

- Using table
- Add navigat

[2022-01-18 05:00] 23navi opened #211 "Add list of region/country supported"
### Clear and concise description of the problem

Trying to find the fake data for a particular region or country is hard as the lib only contains the initials of the country.

### Suggested solution

Have a readme doc for the list and the initial associated to it.

### Alternative

_No response_

### Additional context

_No response_

[2022-01-18 06:51] MilosPaunovic commented on #211
Closing this in favour of [https://github.com/faker-js/faker/issues/210](https://github.com/faker-js/faker/issues/210)

[2022-01-18 06:51] #211 closed

[2022-01-18 07:23] Shinigami92 opened #212 "Provide migration guide"
### Clear and concise description of the problem

We need a migration guide where we can link to if folks ask us how to switch to the new package.

### Suggested solution

Provide a find-and-replace regex pattern that can be used e.g. in VSCode
and/or
Provide a sed-command that can run over a whole file structure and replace the import statements.

### Alternative

_No response_

### Additional co

[2022-01-18 07:32] Shinigami92 commented on #210
We should do three things:

1. Add the supported locales in the VitePress docs
2. Add them in README.md (so that folks on the npm site can read it without the need of jump into docs but just searching with ctrl+f)
3. Add an enum/string literal that defines the locales and export it + type the functions in TS
    But maybe it's possible to provide you own locale on demand from external, so it might

[2022-01-18 07:33] Shinigami92 commented on #210
Please also note that there is currently a huge PR that needs to be merged first, to reduce rebase/merge mess #169

[2022-01-18 07:39] fncolon commented on #210
Cool! especially number 3

[2022-01-18 07:39] fncolon commented on #210
Noted, thanks @Shinigami92

[2022-01-18 07:55] Shinigami92 commented on #203
Please not that it is very much to do in this PR. Maybe split it and multiple contributors can open PRs, communicating here or via Discord who is on which part or so.
That would also be easier to review.

[2022-01-18 08:26] wowowooooo opened #213 "Notice of Legal action"
Stop your project now or I'll take action on them
Your project is unauthorized copy. It's completely illegal

[2022-01-18 08:32] wowowooooo commented on #213
For all: Do not use this library. It's completely illegal. You should pay some money for it.

[2022-01-18 08:38] wowowooooo commented on #213
I'm going to work with marak (original author of this project), to take legal action.

[2022-01-18 09:21] MilosPaunovic commented on #213
Refer to [https://github.com/faker-js/faker/discussions/52]( https://github.com/faker-js/faker/discussions/52)

[2022-01-18 09:21] #213 closed

[2022-01-18 09:52] wowowooooo opened #214 "[IMPORTANT] This project is illegal."
The open source doesn't mean copyright-free. Accoding to LICENSE file, this project is copyrighted under MIT. The copyright owner is Marak Squires.

If you intend to continue ignoring this warning, we must take action on them.
We will send a DMCA takedown notice to github, Then take another legal action
https://github.com/faker-js/faker/issues/213

[2022-01-18 09:55] wowowooooo commented on #214
For everyone: Do not use this library. It's completely illegal. You should pay some money for it.

[2022-01-18 10:00] Shinigami92 commented on #214
I assume you have read https://github.com/faker-js/faker/discussions/52#discussioncomment-1955832

It is not illegal and even forking is a common standard in open source.

The license is also still valid as before and just taken over, see https://github.com/faker-js/faker/blob/a973ee1ce64d2b593f64b633e927382280da8f27/LICENSE#L26-L39

If you really think this repo/fork is illegal, so please also re

[2022-01-18 10:16] wowowooooo commented on #214
Please note that Marak Squires holds copyright of this project. Under the rules of contract law, Marak might be possible to revoke your license.

And also, the trademark is not under MIT-license. You are not allowed to continue using trademark "faker.js".

[2022-01-18 10:22] prisis commented on #214
Good that we dont call this faker.js, Please read [https://en.wikipedia.org/wiki/MIT_License](https://en.wikipedia.org/wiki/MIT_License) to understand what a MIT license is and how it can be used.

[2022-01-18 10:52] poyea commented on #214
Because the copyright notice is included [here](https://github.com/faker-js/faker/blob/main/LICENSE), it permits what people are working on here, including any modification, or even "selling" in the sense of receiving sponsorship. Despite this, actually, I'd love to see what GitHub's actions will be, if any.

[2022-01-18 10:54] Shinigami92 commented on #214
I will use the discussion feature for this, it's not really an issue :shrug:

[2022-01-18 12:04] prisis opened #216 "RFC: Refactor random User Agents"
### Clear and concise description of the problem

The current implementation is generating custom user agents based on some old data.

### Suggested solution

The new implementation:

Create a new package "user-agent-list" that is updated on daily basis. With this we could generate realistic random user agents.

Use https://developers.whatismybrowser.com/useragents/explore/ as datasource
Create a

[2022-01-18 12:27] damienwebdev commented on #213
To be perfectly clear. This project is explicitly legal under US law as per the license terms.

Additionally, @wowowooooo has no authority to make any such claim as he is not Marak, nor acting on behalf of Marak at Marak's request.

[2022-01-18 12:50] #190 closed

[2022-01-18 14:28] damienwebdev opened #219 "array-like elements have default arguments which violate genericity"
### Describe the bug

I was reviewing https://github.com/faker-js/faker/pull/189/files and I noticed that `randomize` supports generic results, but there's an issue with the arguments having a default.

Consider:

[code]

This would return a string, which violates the type.

### Reproduction

[TypeScript Playground Link](https://www.typescriptlang.org/play?ssl=7&ssc=16&pln=1&pc=1#code/GYVwdgxgLglg

[2022-01-18 16:59] mbokinala commented on #203
Sounds good, shall we coordinate it on Discord?

[2022-01-18 17:22] poyea commented on #219
It seems the violation happens when the argument is undefined / empty. Are we trying to achieve
[code]
or else we may have to think of other ways

[2022-01-18 18:52] SametSahin10 commented on #9
Does the location of the faker.d.ts file matter? Where should we put the file?

[2022-01-18 19:05] Shinigami92 commented on #9
Please note that you can already switch to v6.0.0-alpha.3 with native TS support :raised_hands:

[2022-01-18 19:09] Shinigami92 commented on #219
Yeah, but sadly this is not possible due to TS is only at compile time.
So the generic cannot change runtime behavior :shrug:
So we may just remove the default value for the parameter and then declare it as breaking change

[2022-01-18 19:17] poyea commented on #219
Yes if we've to change it. Type specialization in TS is not possible.

[2022-01-18 19:45] JessicaSachs opened #222 "Docs: hook up algolia search"
Right now we have a search bar but no algolia key. The config file for this is inside of `docs/.vitepress/config.mjs`.

[2022-01-18 20:46] #101 closed

[2022-01-18 20:47] SametSahin10 commented on #9
Oh, really? I spent some time trying to figure out how I can link the faker.d.ts with the @types/faker package. Maybe the README file could be updated to remove the [Typescript Support section](https://github.com/faker-js/faker#typescript-support) or there could be a mention of the fact that TS support is available in the latest version.

[2022-01-18 20:49] Shinigami92 commented on #9
Already planed :wink:
But we decide it to leave as is for now, until v6.0.0 is fully released

[2022-01-18 20:51] SametSahin10 commented on #9
The index.d.ts file handles the linking, right? Back then, we needed to create the faker.d.ts file because the index.d.ts did not exist. I'm currently learning how declaration files work in TS. @Shinigami92

[2022-01-18 20:54] Shinigami92 commented on #9
Yes it does, sadly we have currently for some an issue in the `-alpha.3` because we shipped the `index.ts` next to `index.d.ts`, but this will be already fixed in `-alpha.4`

[2022-01-18 21:04] SametSahin10 commented on #9
Is the issue about importing? Cause I cannot import faker with:

`import * as faker from "faker"`

I get "Cannot find module or its type declarations" and "Unable to resolve path to module faker".

[2022-01-18 21:06] Shinigami92 commented on #9
@SametSahin10 Please try `import faker from "@faker-js/faker"` :wink:

Could also be that you need `"esModuleInterop": true` in tsconfig.json

[2022-01-18 21:09] SametSahin10 commented on #9
I needed to add `"esModuleInterop": true` into tsconfig.json and it worked.

[2022-01-18 22:05] #159 closed

[2022-01-18 22:08] Shinigami92 opened #223 "Test: Fix failing test finance in win32 system"
### Describe the bug

The below test is failing in GitHub Workflow's CI and needs to be fixed.

This was discovered in #179

### Reproduction

Remove the conditional wrapper and see CI failing

### Additional Info

https://github.com/faker-js/faker/blob/80e8b3d4aec2e8944f7488a86f6b1ad4d2b2445d/test/finance.unit.js#L283-L302

[2022-01-19 05:37] bl0cknumber commented on #203
Yup we actively discussing everything about faker there :)

[2022-01-19 09:39] marvinroger opened #225 "Alpha versions should not be published as latest on npm"
### Describe the bug

Currently, v6.0.0-alpha.3 is published on npm under the `latest` tag. I think doing `npm i @faker-js/faker` should install the latest stable, not the latest alpha. Therefore, I'd suggest publishing `v6.0.0-alpha.3` under the `alpha` tag (`npm publish --tag alpha`), and publishing a `v5.5.4` (exact content of v5.5.3) under the `latest` tag.

### Reproduction

Run `npm i @faker

[2022-01-19 10:16] Shinigami92 commented on #225
You are right, but

that is somewhat theoretically the state.
Cause we already explicitly decided to create a new major version, we wanted to "inform" folks that there is that new version and to help us test it.
You are still free to use `^5.5.3` as range for now and it will use the old version. But please help us test the new v6 version.
We didn't change runtime code for now and we plan to not in

[2022-01-19 13:29] #18 closed

[2022-01-19 13:36] marvinroger commented on #225
Alright, thanks for the quick reply! I'll let you close the ticket or leave it open for others to see.

[2022-01-19 14:01] poyea commented on #206
It seems the logo is aligned center already? (if you're referring to [README](https://github.com/faker-js/faker/blob/main/README.md))

[2022-01-19 15:20] JessicaSachs commented on #206
Ah. In the docs https://fakerjs.dev there’s a logo in the top left corner
of the site. That logo looks really small and I want it to be bigger so
that it looks better.

On Wed, Jan 19, 2022 at 9:01 AM John Law ***@***.***> wrote:

[2022-01-19 15:58] #167 closed

[2022-01-19 16:06] 23navi opened #226 "Lowercase email"
### Clear and concise description of the problem

As the email is the combination of random fname and lname, the produced email returns a capitalised email.

### Suggested solution

Just make the output as lowercase before return.

### Alternative

_No response_

### Additional context

_No response_

[2022-01-19 16:09] Shinigami92 commented on #226
Not sure if it really worth it. Why not just use `faker.internet.email().toLowerCase()`?
It's easier to do it outside as e.g. "revert" back to the current behavior.

[2022-01-19 16:41] cdierkens commented on #225
I think the confusion comes when you run a new install. Testing the Alpha should be opt in, and probably not the default.

[2022-01-19 16:44] Shinigami92 commented on #225
@cdierkens https://jubianchi.github.io/semver-check/#/^5.5.3/6.0.0-alpha.1

[2022-01-19 16:49] cdierkens commented on #225
I wasn't arguing constraints. Constraints come into play when I already have a dependency in the `package.json`

But when I run `yarn add --dev @faker-js/faker` I would expect to get the latest non alpha or beta with the either the default prefix or `^` if I've configured that as my constraint prefix.

[2022-01-19 16:55] marvinroger commented on #225
Personally, I can understand the situation right now, because the current v5 is tied to the old `@types/faker`, and it's important to get rid of this dependency so the project can start clean. Moreover, there are apparently no runtime code changes, so I'd say, for this transitional state, as long as it's exceptional, it's fine.

However, I hope future releases will indeed respect the `latest` tag

[2022-01-19 18:39] bl0cknumber commented on #226
I think you can use built in support for string for that :)

[2022-01-19 18:45] #166 closed

[2022-01-19 19:09] NotNotMarshall opened #232 "Did marak committed su1c1d3? (had to censor)"
### Describe the bug

Did marak committed su1c1d3? (had to censor)
Is he on dru9s or something?

### Reproduction

Did marak committed su1c1d3? (had to censor)
Is he on dru9s or something?

### Additional Info

Did marak committed su1c1d3? (had to censor)
Is he on dru9s or something?

[2022-01-19 19:09] bl0cknumber opened #233 "Move mocha to jest"
## Reduce package installation, cause difficulties for audit if the project dependencies become larger, make it the number of dependencies smaller as possible.

<html>
<body>

test runner | testing framework
-- | --
requires other libraries to work | no preconfiguration required
offers a huge dose of flexibility regarding test development | focused on simplicity
originally designed for Node.js | o

[2022-01-19 19:10] NotNotMarshall commented on #232
I'm worried

[2022-01-19 19:10] bl0cknumber commented on #232
Nope still alive and enjoying life https://twitter.com/marak/status/1483809614453956609

[2022-01-19 19:12] Shinigami92 commented on #233
We already think about to move to [vitest](https://vitest.dev/)

[2022-01-19 19:13] bl0cknumber commented on #233
There's @antfu on it :) , closing..

[2022-01-19 19:13] #233 closed

[2022-01-20 01:11] #232 closed

[2022-01-20 01:13] JessicaSachs commented on #225
As per the above, won't fix. Going forward things will be normal and latest will be a non-alpha, non-beta version.

[2022-01-20 01:13] #225 closed

[2022-01-20 01:15] JessicaSachs opened #239 "add e2e test infrastructure"
Gonna go w/ Cypress because that's easiest for me.

[2022-01-20 14:02] zbcms opened #245 "ts ECMAScript Consider using 'export default'"
./node_modules/@faker-js/faker/index.ts:4:1
Type error: Export assignment cannot be used when targeting ECMAScript modules. Consider using 'export default' or another module format instead.

  2 | import { Faker } from './lib';
  3 | const faker: Faker = new Faker({ locales: require('./lib/locales') });

    | ^

update:
export default faker;

[2022-01-20 14:06] Shinigami92 commented on #245
Duplicate of #217

We are already on it :slightly_smiling_face:

[2022-01-20 14:06] Shinigami92 commented on #245
Will leave this open, so no more folks are creating multiple duplicates

[2022-01-20 18:51] imbdb commented on #46
Can we use Runkit for demo?
something like this
[code]

[2022-01-20 19:13] MasterOdin opened #246 "Add tags for previous versions"
While it's nice to see that all prior versions were published on NPM to make switching over easy, would it be possible to also see all tags be created on this repo as well? It should largely just be a matter of going backwards through the [package.json commit history](https://github.com/faker-js/faker/commits/main/package.json) and find the commits Marak did that were commented with `Bump v...` or

[2022-01-20 23:00] ST-DDT commented on #246
Archive to the rescue:
This should at least cover some of the older tags
https://web.archive.org/web/20201113033557/https://github.com/Marak/faker.js/tags

I tried to find a fork with the tags, but couldn't find any yet.

[2022-01-20 23:18] MasterOdin commented on #246
Ah cool, I never would have thought to check the web archive. It looks like the commits there mostly line up with the aforementioned named commits. It is missing 5.2.0 - 5.5.3, but that's a relatively few versions in the scheme of it to link up to commits manually.

[2022-01-20 23:32] JessicaSachs commented on #246
Need anything else on this or can we close?

[2022-01-20 23:40] MasterOdin commented on #246
@JessicaSachs Someone with push access to actually add the tags to this repo (https://github.com/faker-js/faker/tags)?

[2022-01-21 01:02] aadibajpai opened #247 "docs: import faker so it is accessible from the console"
### Clear and concise description of the problem

One of the things I liked about the old faker docs was that while perusing the API docs, you could have an inbuilt demo by just opening the browser console and trying it out. I saw that wasn't the case on <fakerjs.dev> but it would be very helpful to have that!

### Suggested solution

We include faker in the page, so it is accessible from the cons

[2022-01-21 05:48] import-brain commented on #247
Do you mean you would like a little sandbox/playground to test out Faker on the website? @JessicaSachs, isn't this already being implemented? I don't remember.

[2022-01-21 11:41] ST-DDT commented on #206
Which size would you like?
You can temporarily edit the size
- by pressing F12 to open the developer console
- and pressing `Ctrl` + `Shift` + `C` and then clicking and thus selecting the logo
- then there should be a css/styles box on the right side of the developer tools, where you can adjust the `height` property.

I tried with 2rem for the logo and 1.8rem for the nav-bar-title which looked bet

[2022-01-21 12:17] Shinigami92 commented on #210
Update to my comment: https://github.com/faker-js/faker/issues/210#issuecomment-1015139942

We now already have: https://github.com/faker-js/faker#localization and https://fakerjs.dev/api/localization#localization
We don't have an automatisation for updating these.
Also I think we should link from the README.md to the official docs, so we don't need to keep the README.md up to date.

Also we want

[2022-01-21 12:18] ST-DDT commented on #210
I would like to do this.

[2022-01-21 16:24] mbokinala commented on #216
I'd love to help on this

[2022-01-21 22:08] ST-DDT commented on #210
This is covered completely by #248 (TS) and #252 (docs)

[2022-01-22 07:14] import-brain commented on #3
@damienwebdev Should I close this? We pushed the panda logo PR.

[2022-01-22 07:59] cduff opened #256 "faker.internet.url() returning invalid URLs with spaces"
### Describe the bug

faker.internet.url() sometimes returns invalid URLs with spaces, e.g.

http://sick-dune buggy.name
https://hollow-dust storm.info

This is causing some of my tests which incorporate URL validation to intermittently fail. I had never seen this with the old "faker" but it started happening since moving to "@faker-js/faker" (6.0.0-alpha.3).

### Reproduction

[code]

### Additio

[2022-01-22 09:34] ST-DDT commented on #256
I can confirm that it fails.
I'll have a look at it.

[2022-01-22 09:38] #3 closed

[2022-01-22 09:48] ST-DDT commented on #256
I found a fix for this, but AFAICT the bug should have been present before faker-js took this over:

- https://github.com/faker-js/faker/blob/29234378807c4141588861f69421bf20b5ac635e/lib/internet.js#L155
- https://github.com/faker-js/faker/blob/29234378807c4141588861f69421bf20b5ac635e/lib/internet.js#L172
- https://github.com/faker-js/faker/blob/29234378807c4141588861f69421bf20b5ac635e/lib/interne

[2022-01-22 10:03] Shinigami92 commented on #256
Seems it was introduced in `6.0.0-alpha.0` :thinking:
But it's a "new" feature :thinking:
Maybe we should rollback and introduce the change later in v6.1?

[2022-01-22 10:51] ST-DDT commented on #256
We don't know how many hidden and untested changes/bugs are there, so we shouldn't revert the code to introduce it again in the next release. If there are errors, we should just fix them, when they are reported.

[2022-01-22 12:15] Shinigami92 commented on #256
Okay, but then I would vote to provide this bug at least in v6.0.1
I currently would very like to not mess around with the runtime code until we released v6.0.0

[2022-01-22 19:36] ST-DDT commented on #223
Is this obsolete since #235 is merged?

[2022-01-22 19:54] #223 closed

[2022-01-22 20:48] mbokinala commented on #216
It looks like they charge $50 AUD for access to their database (https://developers.whatismybrowser.com/useragents/database/). @prisis Is this what you were referring to or was it something else?

[2022-01-22 22:33] prisis commented on #216
This url was just a example, maybe we find a different source or we can try to get them as sponsor. Or I will pay the 50$ is not so much,  I just need to check the license

[2022-01-23 05:48] Lateralus58 opened #261 "faker.image.avatar() console.logs "Deprecation Warning: faker.random.number is now located in faker.datatype.number""
### Describe the bug

Any call to `faker.image.avatar()` or `faker.internet.avatar()` result in a deprecation warning being outputted to the console:

`
Deprecation Warning: faker.random.number is now located in faker.datatype.number
`

### Reproduction

Simply import faker and call `faker.image.avatar()` or `faker.internet.avatar()`

[code]

### Additional Info

Version: `"@faker-js/faker": "^6.0

[2022-01-23 06:20] Shinigami92 commented on #261
6.0.0-alpha.4 is not released yet
This is already fixed on main branch

[2022-01-23 06:24] Lateralus58 commented on #261
I realized that when I forked and built. I will update my local .3 version with the fix until 6.0.0-alpha.4 is released.

Thank you for the prompt response

[2022-01-23 06:24] #261 closed

[2022-01-23 06:24] Lateralus58 commented on #261
I realized that when I forked and built. I will update my local .3 version with the fix until 6.0.0-alpha.4 is released.

Thank you for the prompt response

[2022-01-23 11:34] #210 closed

[2022-01-23 15:27] Moosh-be opened #265 "QUESTION : cascading locality fallbacks"
QUESTION : cascading locality fallbacks
Was # 977 in marak repo.

Moosh-be opened this issue on 25 Aug
In most of case the "sub locales" are not fully different of basic locale.
Most of content of fr is valid for fr_BE
How to double /cascade the fallback ?
fr_BE --> fr --> en

Marak commented on 25 Aug
Seems like we will want to add this.
I've made note and will attempt to include this functionali

[2022-01-23 16:50] Shinigami92 commented on #265
_TL;DR_ :sweat_smile:

We should just implement a simple `localeFallback?: UsableLocale | UsableLocale[]`

https://github.com/faker-js/faker/blob/c1f2b09be957760a133baaab9d58364bda57be0d/src/index.ts#L199

And then just use it in order the values are provided in a cascade

[2022-01-23 18:24] ST-DDT commented on #265
I'm not sure whether we should keep the notion of `locale` and `fallbackLocale`.
Instead we should just use: `localeOrder: UsableLocale[]` (`string[]`).

I have a POC here:
https://github.com/ST-DDT/faker/compare/main...feature/locales/multi-fallback

Note, that this requires some changes to the logic how certain fields are checked.
E.g. The checks whether a specific subgroup exists has to be repl

[2022-01-23 18:36] Ranguna opened #268 "Automatic npm publish on commit"
### Clear and concise description of the problem

As a developer using faker I want to get the latest merged changes on npm so that I can get access to the latest changes without local npm linking.

Right now, it seems that tag creation is done manually (maybe?) and there are some changes that are not available on the published npm version.

### Suggested solution

We could setup some action to ex

[2022-01-23 18:51] Shinigami92 commented on #268
I think https://github.com/typescript-eslint/typescript-eslint has something like that.
Definitely not real releases on commits, but something like commit / nightly builds would be cool.

Currently we are awaiting #254 and #257, so a release would make no sense anyways.
We hope that we can do that in a few days.
Sorry that we are kinda blocked so long, we working hard on making the base stable and

[2022-01-23 19:16] #226 closed

[2022-01-23 19:52] pkuczynski commented on #203
If you need some help, I can jump in... I am not using discord much, but I can follow on the comment here...

[2022-01-23 19:54] Shinigami92 commented on #203
Take a look at https://github.com/faker-js/faker/pull/230 and https://github.com/faker-js/faker/pull/250
Just do exactly that for the other modules :slightly_smiling_face:

[2022-01-23 20:00] pkuczynski commented on #113
I can work on this. Let me know if you want me to...

[2022-01-23 20:01] pkuczynski commented on #88
I can work on this. Let me know if you want me to...

[2022-01-23 20:02] pkuczynski commented on #174
I can work on this. Let me know if you want me to...

[2022-01-23 20:20] griest024 commented on #113
Sure I can assign you. What do you think should be the allowed chars? How would you handle other locales?

[2022-01-23 20:22] pkuczynski opened #272 "Special characters in email"
### Clear and concise description of the problem

Email addresses can contain special characters like `!#$%&'*+-/=?^_`{|}~` (see https://stackoverflow.com/a/2049510/1806316). Faker could support this (maybe with an option?), so generated data is more realistic...

### Suggested solution

Update `faker.internet.email` method.

### Alternative

_No response_

### Additional context

_No response_

[2022-01-23 20:24] pkuczynski commented on #203
Is there a list whos working on what, so I can put my name on it and avoid duplicating work?

[2022-01-23 20:37] Shinigami92 commented on #203
@pkuczynski https://github.com/orgs/faker-js/projects/2

[2022-01-23 21:13] Shinigami92 commented on #174
Sorry, I did not linked the new "already in awaiting review" PR

[2022-01-23 21:17] ST-DDT commented on #88
In the meantime you can use the formats with the `faker.fake(format: string): string` method.

[code]

[2022-01-23 21:27] prisis commented on #268
I have a package that is doing auto release its based on semantic-release (https://github.com/anolilab/javascript-style-guide/tree/main/packages/semantic-release-preset), we (maintainer) just need to talk how we will handle it.

And for the first part that we don't release so fast is, because we doing it in our free time, we always open for merge request and in the end nobody want to have a broken

[2022-01-23 22:06] pkuczynski commented on #113
I took a bit different approach. Have a look at #267

[2022-01-24 03:30] #119 closed

[2022-01-24 03:31] #49 closed

[2022-01-24 09:22] Shinigami92 commented on #119
As a note for later readers:

- We migrated the `luhnCheck` to TypeScript
- We embedded some of the stuff of `function-helpers` in the dependen test file iteself
- We could happily get rid of the other files while migrating to vitest :partying_face: These were mostly just embedded dependencies or gulp related files

[2022-01-24 18:02] jackfiszr opened #279 "docs: add Deno use case"
Apparently Faker now works in the Deno runtime. I would suggest indicating this in the readme and possibly on the website:

### Deno

[code]

[2022-01-24 18:07] Shinigami92 opened #280 "Convert MersenneTwister19937 to a class"
### Clear and concise description of the problem

Convert MersenneTwister19937 to a class

### Suggested solution

Convert MersenneTwister19937 to a class

### Alternative

_No response_

### Additional context

_No response_

[2022-01-24 19:04] #174 closed

[2022-01-24 20:41] deriegle opened #286 "Add more random color generators"
### Clear and concise description of the problem

As a developer using faker I want to generate random hexadecimal colors so that I can use it to generate random colors for things in my applications.

One use case example is the ability to generate a random color for a team/user in the application.

**I'd love to submit a PR for this if it's a welcomed change! 😄**

### Suggested solution

I'm not

[2022-01-24 20:54] prisis opened #287 "EPIC: Improve test cases"
List of test that need to be checked and adjusted:

| test                   | developer             |                   PR # |        Done        |
| :--------------------- | :-------------------- | ---------------------: | :----------------: |
| address.spec.ts        | @Shinigami92          |                   #285 | :heavy_check_mark: |
| all_functional.spec.ts | _can be skipped_      |

[2022-01-24 21:24] prisis commented on #286
I would say the best namespace would be internet, there is a color function

[2022-01-24 21:40] deriegle commented on #286
@prisis oops. I totally missed this in the documentation. There already is a hexadecimal color generator. Sorry about that.

https://fakerjs.dev/api/internet.html#hexadecimal-color

[2022-01-24 21:55] prisis commented on #286
I will reopen it, because i think it would be nice to have the other functions RGBA, CMYK, HSL colors

[2022-01-24 23:54] jbkly opened #290 "npm install fails for package consumers due to "only-allow pnpm""
### Describe the bug

First line of the readme Installation section suggests you can use npm, yarn, or pnpm to install faker:

`npm install @faker-js/faker --save-dev`

[code]

This commit (https://github.com/faker-js/faker/commit/a273f67066c7c19b01ff4348eb9d7e857615cca6) added `"preinstall": "npx only-allow pnpm"` to `package.json`.

### Reproduction

`npm install @faker-js/faker --save-dev`

###

[2022-01-24 23:57] ST-DDT commented on #290
This looks like a bug to me. @Shinigami92

[2022-01-25 00:25] edilsonalves commented on #290
The same happens to me.

[code]

[2022-01-25 05:46] Lamia-Mihoubi commented on #290
Same:
![Screenshot 2022-01-25 064530](https://user-images.githubusercontent.com/29714883/150918389-5fcd07bf-9fb0-416f-85b3-0edec362830e.jpg)

[2022-01-25 06:05] Shinigami92 commented on #290
What 😱
How is this not a big for half a million people using Vite but for us 👀

There must be something I missed to correctly configure 🤔

[2022-01-25 06:30] Shinigami92 commented on #290
Another team member at Vite explained me:

I'm so sorry 🤦 I really didn't thought that preinstall will be just executed. Is this not a huge CVE? 👀🤔 is it possible to just `rm -Rf *` in preinstall?

[2022-01-25 06:50] nimatrazmjo commented on #290
same
<img width="682" alt="Screen Shot 2022-01-25 at 11 20 06 AM" src="https://user-images.githubusercontent.com/3712526/150925886-4bc54180-2090-45ec-a389-321d3817939e.png">
:

[2022-01-25 06:55] #290 closed

[2022-01-25 10:04] ST-DDT commented on #290
@damienwebdev Any ETA on a fixed release?

[2022-01-25 12:42] feedm3 commented on #290
Quick fix for now: Pin the version in your `package.json` to `6.0.0-alpha.3`:

[code]

[2022-01-25 13:07] Shinigami92 commented on #286
We should think about to move color out of commerce and internet and make its own module
I see this after 6.1, so long time goal :D

[2022-01-25 14:00] patak-dev opened #295 "chat.fakerjs.dev"
### Clear and concise description of the problem

Several projects redirect chat.project.dev to discord, and it is a useful convention.

It would also be nice to have social links in the landing of fakerjs.dev, and a Community section in the Getting Started guide

### Suggested solution

Support https://chat.fakerjs.dev/

### Alternative

_No response_

### Additional context

Y'all are awesome, t

[2022-01-25 14:04] patak-dev opened #296 "fakerjs.dev/new"
### Clear and concise description of the problem

It would be good that fakerjs.dev/new would redirect to the main online demo for the project. This is a useful convention (used by https://sli.dev/new and https://vitest.dev/new).

In Vitest, we started with a StackBlitz demo updating it in the app but now migrated to use imports from GitHub. We moved the demo to our examples folder and linked vite

[2022-01-25 14:37] Shinigami92 commented on #287
For the long run we could try to create a type + abstraction like this:

[code]

But it would be cool to also have somehow have the expectations values typed :thinking:

[2022-01-25 15:11] Shinigami92 commented on #290
https://www.npmjs.com/package/@faker-js/faker/v/6.0.0-alpha.5 it's released :partying_face:

Sorry for that issue, but I'm happy that we have the alpha-phase

[2022-01-25 19:54] Ranguna commented on #268
Not at all, I'll patiently wait!
Thanks for the awesome work!

100% completely understandable!

Automated tests are not always the answer, but in this case, I think they'd really help preventing the possibility of a broken releases vs having manual human review of releases (maybe the time is better spent on PR review). But maybe I'm missing an important detail here, since I haven't been involved a

[2022-01-25 20:31] import-brain commented on #296
We could have it redirect to the playground, once that is finished. (fakerjs.dev/playground) Is that what you mean by "main online demo"?

[2022-01-25 20:53] Shinigami92 commented on #296
@import-brain not directly, we want to setup a stackblitz env and redirect the path to that one

@JessicaSachs theoretically we may not need a playground at all then :eyes:

[2022-01-25 20:55] import-brain commented on #296
Yeah, setting up StackBlitz would be easier than making our own playground.

[2022-01-25 21:10] Shinigami92 commented on #296
Reference #46

[2022-01-25 21:38] #212 closed

[2022-01-25 23:16] prisis commented on #206
@ST-DDT i would go for 2rem for the logo :)

[2022-01-26 00:12] JessicaSachs commented on #296
No I definitely want a playground. We should have the stackblitz, too.

[2022-01-26 00:30] ST-DDT commented on #206
Sounds like a good suggestion. I'm not familiar with that framework, do you know how to change it?

[2022-01-26 00:41] damienwebdev commented on #296
https://docs.netlify.com/configure-builds/file-based-configuration/#redirects

[2022-01-26 00:46] damienwebdev commented on #295
I have configured the domain, so this should be as simple as modifying https://github.com/faker-js/faker/blob/main/netlify.toml to as Netlify recommends.

https://docs.netlify.com/routing/redirects/redirect-options/#domain-level-redirects

[2022-01-26 00:56] damienwebdev opened #305 "Vet v6.0.0-alpha.5 types emitted types against v5.5.3"
We need to ensure that the types emitted from our packages are API compatible with the previous DefinitelyTyped package.

See:

1. #166
2. #198
3. `faker.address.nearbyGPSCoordinate` (`coordinate` is a ReadOnlyArray in DefinitelyTyped)
4. `faker.address.companyName` has an arg of `format` which should be `string | number`
5. `faker.database.column` is implicitly return typed as `string` in 6.0.0-a

[2022-01-26 01:20] deriegle commented on #286
I can put up a PR for adding the additional colors. I'll try to get to it in the next week.

Thanks! Love the idea to move them into their own color module.

[2022-01-26 05:18] Shinigami92 commented on #305
It could help to look what the types were their, but keep in mind that also these could be out of sync from the source code and introduce false assumptions.
Don't just trust these blindly.

The Date type issue explicitly showed how wrong type assumption can nearly introduce new bugs to us without covered by the tests 😬

We are still in alpha and on some places I even did not assign a type **yet**,

[2022-01-26 08:38] Shinigami92 commented on #305
Here is a version of the types: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/291c346588768b8ea13472ff95bdacd659f67790/types/faker/index.d.ts

Note that there are also some interfaces like https://github.com/DefinitelyTyped/DefinitelyTyped/blob/291c346588768b8ea13472ff95bdacd659f67790/types/faker/index.d.ts#L336

These could be helpful for https://github.com/faker-js/faker/pull/151/files

[2022-01-26 08:46] Shinigami92 opened #308 "Documentate teams, labels, boards ..."
To prevent situations like these: https://github.com/faker-js/faker/pull/300#issuecomment-1021641593
we may want to:

- documentate better e.g. which label is for what
- where you can find the project board(s) and how to work with that
- how and when to use drafts
- which team/maintainer are "responsible" for what and how to or how not to communicate to them (e.g. async-chatting)

[2022-01-26 10:26] ST-DDT commented on #305
Is there a tool to automatically compare the types?

[2022-01-26 12:16] import-brain commented on #308
Perhaps, we could add it here?
https://github.com/faker-js/faker/blob/main/CONTRIBUTING.md

[2022-01-26 23:22] luciferreeves commented on #296
I am also in the side of having our own playground.

I can build a custom Faker playground from the ground up (would use some CSS/JS frameworks/libraries)

Or we can all build a playground - if we put the playground to another repo which deploys to https://fakerjs.dev/new or https://playground.fakerjs.dev (I like the subdomain better - probably redirect the earlier to the latter) whenever there is

[2022-01-26 23:36] ST-DDT commented on #296
This would also be consistent with chat.fakerjs.dev.

I'm not sure about what should be in the playground, maybe some dummy webapp, that generates random data on button click.
One of these views could be a registration form with
- username (verb-noun)
- password (alphanum, visible)
- password reset question (favorite vehicle)
- gender | firstname | lastname
- bio (some random text lorem)
- avatar

[2022-01-27 01:05] luciferreeves commented on #296
Actually I think, the playground should be fully featured. Allowing users to write/click on faker API methods and then there can be a console.like window which shows the output.

[2022-01-27 09:06] demipel8 opened #319 "faker.vehicle.vin() returning an invalid Vin number"
### Describe the bug

From time to time the vin generated id 18 characters long. according to the [standard](https://en.wikipedia.org/wiki/Vehicle_identification_number) a vin number should be 17 characters long.

Looking at the code:
https://github.com/faker-js/faker/blob/3242dfc4b2f566931c3687173f6361a6384b6247/src/vehicle.ts#L87

This last segment intends to return a 5 digit block but it has an

[2022-01-27 10:04] MilosPaunovic commented on #319
@demipel8 If you submit a PR, please do provide a test which will create a large number of VINs to make sure it doesn't happen again.

[2022-01-27 12:33] Shinigami92 opened #321 "Investigate why test address gps coords for non-metric sometimes fails"
### Describe the bug

[`218ae3a` (#285)](https://github.com/faker-js/faker/pull/285/commits/218ae3ace1085244a83ac32f56cea93f123cf389)

### Reproduction

comment in the outcommented code and see that it sometimes fails

### Additional Info

Not sure if the test is written wrongly or if the function really is broken

[2022-01-27 16:30] ST-DDT opened #322 "Document npm scripts"
We should document

- which script should be run by humans in which order
- which scripts are required by CI/netlify-toml
- which are "just" sub-scripts

Potentially a part of #308

_Originally posted by @Shinigami92 in https://github.com/faker-js/faker/issues/289#issuecomment-1023405156_

[2022-01-27 18:12] ST-DDT opened #324 "Api Docs render as empty when page is reloaded"
### Describe the bug

If you enter https://fakerjs.dev/api/address.html#cardinal-direction into the address bar and press enter or reload the page while on the api docs, then the content shows up for a split of a second before it is gone.

When navigating manually to that page the error does not occur.

### Reproduction

- Enter https://fakerjs.dev/api/address.html#cardinal-direction into your add

[2022-01-27 20:56] #324 closed

[2022-01-28 07:30] #295 closed

[2022-01-28 09:14] ST-DDT opened #327 "The last returns and example section on each api docs page vanishes after reload"
### Describe the bug

This behaves exactly like https://github.com/faker-js/faker/issues/324 but only for the returns and example section of the last element.

[code]

During reload:

![grafik](https://user-images.githubusercontent.com/1579362/151519551-131a4196-1e1b-422e-a612-45634cb55d04.png)

After a short period:

![grafik](https://user-images.githubusercontent.com/1579362/151519631-cf3077b7-9

[2022-01-28 09:23] pkuczynski opened #328 "datatype.number is not immutable"
### Describe the bug

The `faker.datatype.number` mutates the `options` param.

### Reproduction

[code]

### Additional Info

_No response_

[2022-01-28 09:27] pkuczynski opened #329 "datatype.number does not produce random number when min = max + precision"
### Describe the bug

`faker.datatype.number` returns always the same value `=max+precision`, when `min = max + precision`

### Reproduction

[code]

### Additional Info

A check ensuring `max` is reasonably larger then `min` is missing...

[2022-01-28 09:44] pkuczynski opened #331 "datatype.number does not always generate numbers with expected precision"
### Describe the bug

Due to the limitations of float arithmetics the `precision` param is not always well reflected in the generated output.

### Reproduction

[code]

### Additional Info

Suggested solution would be to use a better math library offering arbitrary-precision decimal arithmetic, eg. https://www.npmjs.com/package/big.js

[2022-01-28 09:45] ST-DDT opened #332 "Change api docs edit button to point to the ts files"
### Describe the bug

The [Suggest changes to this page](https://github.com/faker-js/faker/edit/main/docs/api/address.md) link on the api docs points to a file that does not exist. It should point to the ts files instead.

### Reproduction

- Navigate to https://fakerjs.dev/api/address.html#time-zone
- Press `Suggest changes to this page`
- You will end up on a github 404 page

### Additional Info

[2022-01-28 10:18] pkuczynski opened #334 "datatype.datetime seed might not be working"
### Describe the bug

There was this comment in the jsdoc
https://github.com/faker-js/faker/blob/60b71fd257c2b95a6997f5aac516b88327a78f4b/src/datatype.ts#L92-L98

We are not sure if this is true or not, however this method relies underneath on `datatype.number` which might be also affected.

Discussed here: https://discord.com/channels/929487054990110771/929544761122111498/936559737540071434

###

[2022-01-28 10:27] #239 closed

[2022-01-28 12:23] Shinigami92 commented on #187
I think we now documented this in contribution.md and it doesn't count that much on project "stability"
I will close this for now
Feel free to reopen if really needed and update the issue

[2022-01-28 12:23] #187 closed

[2022-01-28 12:32] Shinigami92 commented on #8
Already done

[2022-01-28 12:32] #8 closed

[2022-01-28 12:33] Shinigami92 commented on #16
Done :wink:

[2022-01-28 12:33] #16 closed

[2022-01-28 12:55] Shinigami92 commented on #245
We released 6.0.0-alpha.5 and this should be fixed

[2022-01-28 12:55] #245 closed

[2022-01-28 12:57] Shinigami92 commented on #129
Is this related to #276 ?

[2022-01-28 13:23] schw4rzlicht commented on #256
This is a huge issue for my team too b/c currently we have to decide between `@types/faker` and `@faker-js/faker@next` - we decided for the latter and now our tests fail regularly 😬

But having it in 6.0 means that it's considered urgent, right? How could I possibly help with fixing that issue?

[2022-01-28 13:27] ST-DDT commented on #256
There is already #258 to fix it.

[2022-01-28 14:15] Shinigami92 commented on #256
Yeah, we just need only some one more review and then we could ask @damienwebdev to make a `6.0.0-alpha.6` release
Like the avatar URL fix, this counts to the critical bugs I think

[2022-01-28 14:17] Shinigami92 commented on #256
@schw4rzlicht as a workaround, could you try to call just `faker.internet.domainWord().replace(/\s/g, '-').replace(/-{2,}/g, '-')` :thinking:

[2022-01-28 17:59] pkuczynski opened #336 "datatype.hexaDecimal should be called datatype.hexadecimal"
### Describe the bug

The correct term is `hexadecimal`, without the capital `D`. See https://en.wikipedia.org/wiki/Hexadecimal

### Reproduction

N/A

### Additional Info

_No response_

[2022-01-28 18:21] luciferreeves commented on #331
After, I had some look into this, I noticed this only happens with precision of _0.0001_. Then I came up with some simple code to just truncate the extra digits from the output. This way, we won't have to use `Math.round()` or some library and the results will work with seed too.

The code is in javascript, and probably not perfect, but it does cover all edge cases:

[code]

[2022-01-28 18:38] luciferreeves commented on #329
The problem lies on this line:

[code]

Since `options.min` is already defined before we reach this line, we can change the implementation to this:

[code]

And it should work. (I hope)

[2022-01-28 19:39] pkuczynski commented on #329
I know where is the problem :) I would normally provide a PR, but @Shinigami92 asked not to do anything until we go to 6.1. so I just created this issue...

[2022-01-28 19:46] pkuczynski commented on #331
The issue is not only on `0.0001`. Another example:

[code]

12 precision points, when 9 was requested. Big.js is not a large library and I think it does not make sense for us to battle with float arithmetics.

[2022-01-28 20:00] luciferreeves commented on #331
Even though the problem is with `{ precision: 0.000000001 }` too, the code above should still work for all precision values.

[2022-01-28 20:15] pkuczynski opened #339 "Move random.word to word.any"
### Clear and concise description of the problem

Most of the methods of random already found their new home, like `random.number` > `datatype.number`

### Suggested solution

Move `random.word` to `word.any` and deprecate `random.word`.

### Alternative

_No response_

### Additional context

https://github.com/faker-js/faker/pull/276#issuecomment-1024251316

[2022-01-28 22:21] ST-DDT commented on #327
The error is not fixed yet (and is wasn't related to #330 in the first place

https://user-images.githubusercontent.com/1579362/151629455-9e7bd826-082b-4414-a06f-c536e4cb30df.mp4

)

[2022-01-28 22:40] JessicaSachs commented on #327
Grrrrrrrr

[2022-01-29 12:03] ST-DDT commented on #334
I could confirm that `datetime` does not work. However it is not related to the seeding. Instead it is related to dynamic bounds.

See #343 for the cause and fix.

[2022-01-29 14:02] Shinigami92 opened #345 "datatype.float does not return a float with given precision"
### Describe the bug

The code indicates that float can take a number that will be used as precision value.
But it returns always a integer number when using `typoef options === 'number'`

### Reproduction

[code]

### Additional Info

I found this bug while rewriting the datatype tests in #344

[2022-01-29 14:44] Shinigami92 opened #348 "datatype.bigint takes value and gives it just back"
### Clear and concise description of the problem

When using `faker.datatype.bigint(42)` it will just give back `42n`
This is not useful and not randomized

### Suggested solution

We should change the behavior to something useful or just remove the argument

### Alternative

_No response_

### Additional context

_No response_

[2022-01-29 14:55] Shinigami92 opened #349 "Always use max param as exclusive value"
### Clear and concise description of the problem

All functions in JS uses a min or start value inclusive and an max or end value exclusive
Faker doesn't respect this and uses max or end as inclusive
A JS developer would not expect this behavior and would need to read the docs

### Suggested solution

Use max as exclusive value

### Alternative

_No response_

### Additional context

Example: http

[2022-01-29 15:19] ST-DDT opened #350 "Commerce price does not return fractional currency prices"
### Describe the bug

`faker.commerce.price()` always returns a value with full price.
=> `245.00` , `842.00`

It would be nice if it could also generate prices with fractional currency prices
=> `245.71` , `842.45`

Also if invalid prices ranges are given, then the returned prices does not respect the decimal places paramter.

### Reproduction

`faker.commerce.price()` => `245.00`
`faker.commerce

[2022-01-29 15:19] ST-DDT commented on #350
@Shinigami92 Would you consider this a bug or feature request?

[2022-01-29 15:40] Shinigami92 commented on #350
I think the precision could be a bug, but maybe it was considered as wanted cause if you have e.g. an app that shows some prices, the prices are just xx.00

What I think would be a better idea is to directly create a whole new module for `currency` :thinking:
Also we should take stuff into account like the symbol could be placed on the right or left side: `$12.50` or `12,50 €`

---

I think we cou

[2022-01-29 15:42] Shinigami92 commented on #350
We could also try to play around with https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/NumberFormat#using_options :eyes:

[2022-01-29 15:54] damienwebdev commented on #350
A comment here on pricing, it's not safe to assume that all prices are formatted to two decimals.

E.g. in the US, prices for gasoline are $2.999/gallon.

Even within a singular currency, there are inconsistencies.

[2022-01-29 16:28] griest024 opened #352 "Use enum for male/female references"
### Clear and concise description of the problem

References to male and female are done with hardcoded strings and numbers. https://github.com/faker-js/faker/blob/44628ecbbf8967c3a1313c6abfc62ad653cafe29/src/name.ts#L29-L35.

### Suggested solution

These should be replaced with enum values:

[code]

### Alternative

_No response_

### Additional context

As an aside, `gender` is an inaccurate na

[2022-01-29 16:31] Shinigami92 commented on #352
I would suggest to use type literals like `type Sex = 'male' | 'female'`

Beside that, I would highly like to have something like `type Sex = 'male' | 'female' | 'binary'` in the future

[2022-01-29 16:45] griest024 commented on #352
I much prefer `enum`s; simple types can't be used as runtime values and we can't use it to replace hardcoded values.

[2022-01-29 16:47] griest024 opened #353 "Clarify usages of sex vs gender"
### Clear and concise description of the problem

The codebase names variables as `gender` but the values are used as male and female. "Male" and "female" are sexes not genders. Some locale name definitions are organized by sex but also have references to gender. https://github.com/faker-js/faker/blob/44628ecbbf8967c3a1313c6abfc62ad653cafe29/src/locales/en/name/binary_gender.ts#L1

### Suggested s

[2022-01-29 16:54] Shinigami92 commented on #352
I like to provide enums, but not to force the usage
So we could to

[code]

[2022-01-29 16:56] griest024 commented on #352
Yes as to the external usage we should accept more than just the enum. But for the internal usage I want to see `case Sex.MALE:` instead of `case 0:`.

[2022-01-29 16:57] ST-DDT commented on #352
Please no numbers. Or what is your intention?

[2022-01-29 16:57] Shinigami92 commented on #352
[TS Playground](https://www.typescriptlang.org/play?#code/KYDwDg9gTgLgBMAdgVwLZwMqjgbwLABQccAsgIIAyAonALxwDkqAhgDbAMA0hxAYleWp1GAM2At2XHnACSAOQAqVAEoYqADWEMAlohjAoAZ1ANCAX0KFQkWHBgBPMMEygFj5-QAGAEhxYQZp5wAD5wKKgARgaWBADGEIiG8CAAXC4gbk5aEhwA3DEiyIixMNoJcCLaRjByzKjAABQA5kgAJgYA-Gn+mcAAlGlJULpNuHBQwDDIUIiMDHBmQA)

[2022-01-29 17:33] import-brain commented on #350
Yes, I think a new module would be the best approach here, too.

[2022-01-29 17:53] #34 closed

[2022-01-29 18:14] import-brain commented on #336
Should alphaNumeric also be renamed to alphanumeric?

[2022-01-29 18:19] import-brain opened #356 "system.semver should be called system.semVer"
### Describe the bug

"Semantic" and "Version" are two separate words, and all of the other methods that have two separate words as their name are in camelCase, with this being the only exception. This should probably be changed to semVer to ensure consistency of the codebase.

### Reproduction

Look at src/system.ts

### Additional Info

_No response_

[2022-01-29 22:58] andrewgremlich commented on #339
I'll take this! Simple enough.

[2022-01-29 23:21] pkuczynski commented on #336
I think so...

[2022-01-29 23:36] andrewgremlich commented on #339
I see this PR though... should I wait until that is merged? https://github.com/faker-js/faker/pull/276

[2022-01-29 23:42] damienwebdev commented on #356
This is a breaking API change that (while nice to read) would serve users no purpose. I see no need to introduce a new API when one already exists.

[2022-01-29 23:42] #356 closed

[2022-01-29 23:50] prisis commented on #356
How about a alias?

[2022-01-30 00:14] pkuczynski commented on #339
In principle no changes like this will be merged until 6.0 is released. So I would wait with this, yes.

[2022-01-30 03:23] import-brain opened #364 ""Missing" text"
### Describe the bug

On every API category page, under the bulleted list of methods, there is always a string of text that says "Missing".

<img width="1124" alt="Screen Shot 2022-01-29 at 10 22 58 PM" src="https://user-images.githubusercontent.com/68196762/151685450-79161572-b3f7-4984-8290-c05db0db5965.png">

### Reproduction

See https://fakerjs.dev/api/animal.html#animal, https://fakerjs.dev/a

[2022-01-30 08:16] ST-DDT commented on #364
There is currently no description/jsdocs for the module classes. This will be fixed by jsdocs prs in the future.

[2022-01-30 09:46] Shinigami92 opened #366 "Require linear history and passed checks"
We need to ensure that the CI for a PR is not failing when merged into the main (protected branch)

So we need to check following checkboxes

Repo-Settings -> Branches -> Edit main branch rules -> `Require linear history`

also

`Require status checks to pass before merging` and also `Require branches to be up to date before merging`

---

This will not be a problem for contributors, cause we as m

[2022-01-30 10:10] ST-DDT opened #367 "Enable/Fix e2e tests for our api docs"
**suggestion (perf):** Do we have any chance to not use static time values here?
Maybe a wait on animation or something like this?

_Originally posted by @Shinigami92 in https://github.com/faker-js/faker/pull/341#discussion_r795040741_

https://github.com/faker-js/faker/blob/9773f7de78e0eccf7e3730bf506b8d559f514591/cypress/e2e/smoke.cy.ts#L18-L20

[2022-01-30 10:16] #327 closed

[2022-01-30 12:59] Shinigami92 opened #371 "Provide a function to reset `faker.unique()`"
### Clear and concise description of the problem

Currently `unique` uses a global constant that remembers which values where already provided back so these will not be provided back a second time.
It seems there is not possibility to reset this or provide a dedicated _cache_.

### Suggested solution

Provide the possibility to create a dedicated store that can be used.

### Alternative

_No respo

[2022-01-30 14:52] Shinigami92 opened #373 "faker.name lastName and middleName doesn't work correctly with gender selection"
### Describe the bug

When using `faker.name.lastName` or `faker.name.middleName` with a specific gender, it returns invalid behavior.
It will return female names for male names.

### Reproduction

[code]

### Additional Info

https://github.com/faker-js/faker/blob/730ca6a65a29038636e8cc3eec12eacf929db7fb/src/name.ts#L63-L125

[2022-01-30 16:35] import-brain commented on #364
I see, thanks for the clarification.

[2022-01-30 16:35] #364 closed

[2022-01-30 18:20] ST-DDT opened #375 "Unreachable code in finance.creditCardNumber()"
### Describe the bug

https://github.com/faker-js/faker/blob/d4125e2a7d69042c37ccecea89f1525c4424a45b/src/finance.ts#L231-L261

Due to
https://github.com/faker-js/faker/blob/d4125e2a7d69042c37ccecea89f1525c4424a45b/src/finance.ts#L235
`localeFormat` cannot be a `string` thus
https://github.com/faker-js/faker/blob/d4125e2a7d69042c37ccecea89f1525c4424a45b/src/finance.ts#L247-L248
is unreachable

###

[2022-01-30 18:22] ST-DDT opened #376 "Greek locale species the credit card at the wrong location"
### Describe the bug

The credit cards should be located here:

`src/locales/el/finance/credit_card/`

but are located here:

`src/locales/el/credit_card/`

(This was not caused by us/our refactoring: https://github.com/faker-js/faker/blob/6.0.0-alpha.0/lib/locales/el/index.js#L6)

### Reproduction

Try to use the greek ( `el`) credit card definitions using the default methods.

### Additional Inf

[2022-01-30 18:22] ST-DDT commented on #376
Milestone v6.0 or v6.1 ?

[2022-01-30 18:26] Shinigami92 commented on #376
If it was cause by us, then maybe `v6.0`, if it introduce **runtime-changes** between `v5.5.3` and `v6.0`, then `v6.1`

[2022-01-30 18:28] ST-DDT commented on #376
This was not caused by us. It does introduce runtime change, by providing other credit card information.

[2022-01-30 18:29] Shinigami92 commented on #376
Okay, IMO this is fine, I think it like we also added some locales because they weren't imported.

[2022-01-30 18:31] ST-DDT commented on #376
Do not fix before #363 is merged.

[2022-01-30 20:31] #256 closed

[2022-01-30 21:03] Shinigami92 opened #377 "Replace `new Date().setFullYear(...)` with `new Date(Date.UTC(...))`"
### Describe the bug

We have some code parts in the codebase that resets the year, month and date part of a `Date` but not the time part.
These are not safe and deterministic.

### Reproduction

`new Date().setFullYear(2100, 1, 1) !== new Date(Date.UTC(2100, 0))`

### Additional Info

Example: https://github.com/faker-js/faker/blob/4d81ac46f169c4150f59ef3a3e790578028b57d1/src/datatype.ts#L112

[2022-01-30 22:39] ST-DDT opened #378 "Update embedded mime types"
### Clear and concise description of the problem

The mime types are potentially outdated.

https://github.com/faker-js/faker/blob/ce1b39f7677a6b5c75b848182399078b9901eb24/src/locales/en/system/mimeTypes.ts#L25-L26

### Suggested solution

Update to the latest version (v1.51.0).

### Alternative

_No response_

### Additional context

_No response_

[2022-01-30 23:09] ST-DDT opened #379 "English bicycle file is named incorrectly"
### Describe the bug

`src/locales/en/vehicle/bicycle.ts` should be named `src/locales/en/vehicle/bicycle_type.ts`

(Other languages might be affected as well)

### Reproduction

`faker.vehicle.bicycle()` => `c` which is one of the defaults if the array is missing.

### Additional Info

Found in #363

[2022-01-31 07:59] piotrekn commented on #287
@prisis, I can do `music.spec.ts`, `phone_number.spec.ts` and `random.spec.ts`. Can you assign them to me , please?

[2022-01-31 07:59] Shinigami92 commented on #379
So will this https://github.com/faker-js/faker/blob/ce1b39f7677a6b5c75b848182399078b9901eb24/src/locales/en/vehicle/index.ts#L8 also be renamed?

Why is this needed? I currently don't quite understand by reading the description of this issue.

[2022-01-31 08:02] Shinigami92 commented on #287
I will do :+1: Please make them in 3 dedicated PRs, then I will update the PR numbers also

[2022-01-31 08:38] ST-DDT commented on #379
The locale api expects the key to be named `bicycle_type`, but currently it is named `bicycle`.
(Thus it wont be used)
Since all keys are named like the files (to help with automation), the file has to be renamed as well.

This should potentially be fixed after #363 to avoid merge conflicts.
The index.ts file can be updated automatically when #252 is merged.

[2022-01-31 20:52] Shinigami92 commented on #287
@prisis you missed `hacker` cause `hacker` doesn't has a test at all :scream:
I think I will target `hacker` as next module
I will also add it now to the list above

[2022-01-31 21:15] prisis commented on #287
It was hacked 🤣 yeah, was printing all test file out

[2022-01-31 21:47] Shinigami92 opened #382 "Add Panda to animal module"
### Clear and concise description of the problem

Panda

### Suggested solution

https://www.youtube.com/watch?v=X21mJh6j9i4

### Alternative

_No response_

### Additional context

_No response_

[2022-02-01 12:20] renovate[bot] opened #385 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.

 - [ ] chore(deps): update typescript-eslint to ~5.10.2 (`@typescript-eslint/eslint-plugin`, `@typescript-eslint/parser`)
 - [ ] chore(deps): update al

[2022-02-01 12:31] Shinigami92 commented on #366
done

[2022-02-01 12:31] #366 closed

[2022-02-01 13:03] Shinigami92 opened #387 "Setup and decide for Codecov vs Coveralls"
### Clear and concise description of the problem

We should decide which coverage reporting tool we should setup in our CI

### Suggested solution

Setup https://about.codecov.io/ or https://coveralls.io/

### Alternative

_No response_

### Additional context

_No response_

[2022-02-01 13:08] ST-DDT commented on #387
I don't prefer one over the other.

[2022-02-01 13:50] damienwebdev commented on #387
Hard no on codecov: https://github.com/graycoreio/daffodil/pull/625

[2022-02-01 14:53] prisis commented on #387
Dont know which one is better but i used/using codecov without problems, didnt test it with a mono repo

[2022-02-01 14:53] prisis commented on #378
How about we add the mime-db as dep?

[2022-02-01 15:06] Shinigami92 commented on #378
I would like to work with scoped dependencies, so I mean e.g. something like `@faker-js/system`
or
I would like to use optional peerDependencies for something like this

Currently because it's "easier" I tend to the second way :thinking:

[2022-02-01 15:57] Shinigami92 commented on #387
I'm searching right now trough the web and I found this

<img src="https://user-images.githubusercontent.com/7195563/151999568-51f45404-ea2e-45c3-ac4c-42e40cf62626.png" width="600px"/>

[marketplace](https://github.com/marketplace?query=coverage+sort%3Apopularity-desc&type=actions)

---

I also try to have a good contributor experience so I'm looking into how easy or hard to configure a PR report

[2022-02-01 16:05] Shinigami92 opened #388 "Setup algolia for Vitepress"
### Clear and concise description of the problem

We need to setup `algolia` for Vitepress so the search works and users can find quickly what they need

### Suggested solution

Setup `algolia`

### Alternative

_No response_

### Additional context

_No response_

[2022-02-01 16:59] Shinigami92 commented on #387
Based on @damienwebdev hard no, I start to tend to write just a bot that creates and updates a comment in a PR :thinking:
Would be something like this: https://github.com/marketplace/actions/jest-coverage-report
But maybe for vitest or just native lcov support without referencing jest

[2022-02-01 17:04] ST-DDT opened #389 "Improve behavior of generate:locales"
Can we create a ticket to add a workflow test for this? that is only running if something in the locales folder did change?

@prisis

_Originally posted by @prisis in https://github.com/faker-js/faker/pull/252#discussion_r796805039_

[2022-02-01 17:05] ST-DDT commented on #389
Are you referring to running the command in the workflow/ci pipeline and failing if it detects changes that weren't commited?

[2022-02-01 17:08] ST-DDT commented on #203
I' tackle music next.

[2022-02-01 17:15] Shinigami92 commented on #388
Duplicate of #222

[2022-02-01 17:15] #388 closed

[2022-02-01 17:16] prisis commented on #389
Yeah, so we will not forget it :)

[2022-02-01 17:21] ST-DDT commented on #203
That one was fast. So I'll tackle name next.

[2022-02-01 17:22] pkuczynski commented on #203
I am going from the "bottom" of the list. The only reason why I moved to `datatype` was becuase it's reused in `radnom` which I tackle next...

[2022-02-01 20:14] pkuczynski opened #394 "Accept numbers as params for Date methods"
### Clear and concise description of the problem

https://github.com/faker-js/faker/pull/200#issuecomment-1024802219

### Suggested solution

Accept timestamps

### Alternative

_No response_

### Additional context

_No response_

[2022-02-02 06:03] wael-Fadlallah commented on #373
In Arabic Locale there are also a strange behavior

`
const faker = require("./faker/dist/cjs/locale/ar");
console.log(faker.name.middleName()); // return letters a, b, c ...etc
`

[2022-02-02 06:08] wael-Fadlallah commented on #373
It seems the same behavior exists in English

[2022-02-02 15:39] Fuzzyma opened #405 "Tree-shaking not properly documented"
### Describe the bug

Following the guide on the website, you just have to `import { faker } from '@faker-js/faker';`. That doesn't work. It actually makes it worse by adding a whopping 1/2MB to the bundle size.

The section above says, that you should only import what you need. Well I tried that as well:

[code]

So is this is supposed to work? Looking at the code, I can see why this is not trees

[2022-02-02 16:03] ST-DDT commented on #405
This feature was supposedly added in https://github.com/faker-js/faker/pull/152
@Shinigami92 Do you have a hint what might have went wrong in the meantime/this usecase?

[2022-02-02 16:08] Shinigami92 commented on #405
`import { faker } from '@faker-js/faker';` should work from `6.0.0-alpha.5` I think
Before it was `import faker from '@faker-js/faker';` or `import * faker from '@faker-js/faker';`
And that's what I currently mean by "tree-shakeable"
Beside that it's currently possible to use and load only a specific locale with fallback to `en` by using e.g.: `import fakerDe from '@faker-js/faker/locale/de';`

Th

[2022-02-02 16:09] ST-DDT commented on #405
Or does it only refer to per language shaking?
Only support a single locale by using:

[code]

[2022-02-02 16:14] ST-DDT commented on #405
We should be more explicit about the treeshaking behavior/limitations in our docs to avoid any confusion about this in the future.

The documentation should be updated to contain:
- Information about the things that support treeshaking (locale specific fakers only AFAICT)
- Estimates on how much you can safe by using the feature

[2022-02-02 16:15] Fuzzyma commented on #405
Well I DID use `import {faker} from ...` and it increased my bundle size compared to the last version of the original faker. Is it including all locales like this? I only want english.

Also: yes, proper treeshaking isn't that easy but also isn't that hard. separating the different faker modules would already help a lot. Ofc, the premium would be to only import the actual functions you need e.g. `

[2022-02-02 16:18] Shinigami92 commented on #405
@Fuzzyma Please try to use `import fakerEn from '@faker-js/faker/locale/en';` for now

[2022-02-02 16:19] ST-DDT commented on #405
Probably because we now link a few more entries that exist in the sources but where never added to the translation tree.

Yes.

https://github.com/faker-js/faker/blob/773bcec209da625cd1931d8bbb81e4d5159d9a89/src/index.ts#L150-L152

[2022-02-02 17:45] ST-DDT commented on #203
I will tackle `fake` next.

[2022-02-02 18:57] pkuczynski commented on #203
`lorem` and `internet` for me please :)

[2022-02-03 09:59] AlphaBeta906 opened #409 "Module doesn't work when package.json type is "module""
### Describe the bug

When I imported faker.js, it gave the error `TypeError: Cannot read properties of undefined (reading 'findName')`, when I did `console.log(faker.name)`, it outputted undefined. It does work when the package.json type isn't module.

This is the code for the original file:
[code]

Here is the one without the "module" type:

[code]

### Reproduction

In a package.json file, make

[2022-02-03 10:05] Shinigami92 commented on #409
Could you please try this:

[code]

[2022-02-03 10:07] AlphaBeta906 commented on #409
Oh it worked, thanks, but the documentation was the one that lead to this problem, as it wrote
[code]

Thanks!

[2022-02-03 10:08] Shinigami92 commented on #409
Could you point me where the doc is outdated?

[2022-02-03 13:28] pkuczynski opened #411 "Replace aliases with deprecations"
https://discord.com/channels/929487054990110771/938535881625702451/938543855941324841

[2022-02-03 13:29] pkuczynski commented on #411
Can someone assign it to me pls

[2022-02-03 15:12] cdgn-coding opened #412 "faker.unsplash is not defined"
### Describe the bug

faker.unsplash is not defined whereas the docs allows to use it ([reference](https://fakerjs.dev/api/unsplash.html))

### Reproduction

Minimal code to reproduce:

[code]

This code shows a typescript warning

When it's run it throws this error

### Additional Info

I found that unsplash is accesible via the image property

[code]

We should either update the documentation or

[2022-02-03 15:35] ST-DDT commented on #412
If you are willing to contribute, then I can assign this issue to you.
The relevant code is in scripts/api-docs.ts.

[2022-02-03 16:41] schw4rzlicht commented on #256
Thanks for the proposal, but we have ~500 tests that may or may not depend on it 😄 I'd rather wait for `6.0.0-alpha.6` or migrate back to <6.

@damienwebdev any news on the next alpha release?

[2022-02-03 17:35] Shinigami92 commented on #412
@cdgn-coding While we are fixing the docs, just use https://stackblitz.com/edit/typescript-wsqtmx?file=index.ts in the meantime

[code]

[2022-02-03 18:12] Shinigami92 commented on #296
Preparing a stackblitz: https://faker-js-demo.stackblitz.io

[2022-02-03 18:19] cdgn-coding commented on #412
I started to use the methods below ```faker.image.unsplash``` and it seems to work. Nevertheless, I found that these methods always return the same URL ```https://source.unsplash.com/category/{category}/640x480``` and Unsplash has the responsibility to give randomized images under the category.  That doesn't seem to work as intuitively expected.

This [example](https://stackblitz.com/edit/typescri

[2022-02-03 19:04] ST-DDT commented on #412
Yes, but any kind of bugfix of existing code is scheduled for 6.1 or later.
(We first want to have a stable foundation before touching anything.)

[2022-02-03 19:40] #296 closed

[2022-02-03 22:44] ST-DDT commented on #376
Do not fix before #398 is merged.

[2022-02-04 08:46] Shinigami92 opened #416 "Random identity card number"
### Clear and concise description of the problem

I would like to have a function to generate a random identity card number

In germany the implementation would follow this pattern: https://de.wikipedia.org/wiki/Ausweisnummer

Not sure right now how patterns in other country looks like, but in the long run I would need these also.

The sequence should be seed-based

### Suggested solution

Impleme

[2022-02-04 12:16] import-brain commented on #416
What about locales that do not have a "national identity card"? The US doesn't have anything like that, would this function generate a Social Security number? Passport number?

[2022-02-04 12:54] ST-DDT commented on #416
How about designing it more generic. We could use a Record<string, algorithm config> to define these things and the user has to know or lookup which generators are available for generateId(type: string).
The you can have one pattern for driving licences, for personal identity card numbers.

Or even more generically, a method that just takes the generation config and will build it for you.
You want

[2022-02-04 13:37] Shinigami92 commented on #416
Yes, that would be nice in the long run, but I don't want to pass an algorithm or pattern as developer to faker, in that case I could just write it myself.
I would like to have it very basic and easy to use for now.
And if a locale doesn't have such thing, I'm satisfied with `undefined` for now.

[2022-02-04 15:31] #409 closed

[2022-02-04 17:46] prisis commented on #336
Let's go for aliases for now and add a deprecated notice, in 7 or 8 we can remove it.

[2022-02-04 17:51] Shinigami92 commented on #412
Due to following code works, I will close this issue.

[code]

Please open new dedicated issues for anything that was unrelated to this issue.

[2022-02-04 18:27] ST-DDT commented on #412
This is a bug in our documentation, that needs to be fixed.

[2022-02-04 18:38] ST-DDT commented on #203
I'll tackle `company` next.

[2022-02-04 19:56] ST-DDT commented on #203
I'll update `database.ts` next.

[2022-02-04 20:09] ST-DDT commented on #203
Next will be 'date.ts'

[2022-02-04 21:29] #387 closed

[2022-02-04 23:35] Shinigami92 opened #429 "Cover source instead of bundled code"
Currently we and codecov have the problem, that the bundled code can not be really covered by the toolings

It is common practice to test the src folder instead of the bundled code
If there is an issue in the emitted output of the bundling process, we can open issues at **esbuild** (our bundling tool)

[2022-02-05 11:48] ST-DDT commented on #203
`finance.ts` will be my next one.

[2022-02-05 14:03] ST-DDT commented on #203
I `git` it.

[2022-02-05 14:47] ST-DDT commented on #203
`hacker` incoming.

[2022-02-05 14:59] ST-DDT commented on #203
I can `image`ine doing another file now.

[2022-02-05 15:36] ST-DDT commented on #203
I feel like a `mersenne`ary right now.

[2022-02-05 15:51] ST-DDT commented on #203
I couldn't think of a `unique` sentence to write here, just now.

[2022-02-05 16:15] ST-DDT commented on #203
I would like to thank all our helpers that contributed their time to address these issues.
Once all PRs have been reviewed and merged, we can close this issue.
I will tackle the last unclaimed one now: `helpers`

[2022-02-05 16:21] ST-DDT commented on #203
@pkuczynski Do you have time to create the jsdocs PRs for lorem and internet this week.

[2022-02-05 17:01] pkuczynski commented on #203
This week might be hard. Go for it. Random I did most, I can finish that one

[2022-02-05 23:01] budhathokg1 commented on #373
fix for default (en) locale, locale (uk) is working as expected.
PR: https://github.com/faker-js/faker/pull/440

[2022-02-06 10:14] #429 closed

[2022-02-07 07:09] ex-nerd opened #444 "tsc not finding types / noImplicitAny==false is required"
I'm trying to create my own faker instance with some custom types, something like this:

[code]

This builds fine as long as `tsconfig.json` `compilerOptions` contains `"noImplicitAny": false`, however without this flag the build fails with something like:

[2022-02-07 07:23] Shinigami92 commented on #444
Could you setup a minimal reproduction via [fakerjs.dev/new](https://fakerjs.dev/new) and send the link here?
Than it could be easier for us to find the problem.

[2022-02-07 07:34] ex-nerd commented on #444
Not familiar enough with the front-end side of things.  Here's a zip with a module that exhibits the bug (and fixes the typo in my original note).  Toggle `noImplicitAny` in `tsconfig.json` to see the issue.
[fakerbug.zip](https://github.com/faker-js/faker/files/8013172/fakerbug.zip)
.

[2022-02-07 07:50] Shinigami92 commented on #444
@ex-nerd :sweat_smile:
StackBlitz is not only for Frontend, you can completely ignore the `html` stuff and just replace the `index.ts`'s content

[2022-02-07 07:50] #206 closed

[2022-02-07 08:11] ex-nerd commented on #444
Sorry, long day and after midnight here.   I think this should have the info:

https://stackblitz.com/edit/faker-js-demo-y2n64z?devtoolsheight=33&file=index.ts

However, the error does not appear like it does using my standalone version (no idea what version of node/typescript stackblitz is using vs the older ones required by the lambda environment we use).

[2022-02-07 08:18] Shinigami92 commented on #444
Oh, could you tell me which TS version do you use?
It could be something to do that we only support TS 4.0+ (and even that I'm not sure about if this is fully working, it should work with TS 4.5)

[2022-02-07 15:26] ST-DDT commented on #203
Internet is now covered: #447

[2022-02-07 22:00] ex-nerd opened #448 "Feat: Instantiate standalone Faker instance, import locales (or extend for custom subclass)"
Goal:

Create a subclass that extends the `Faker` class so proprietary fake-data generators can be used side by side with faker's built-in ones.

Problem:

There seems to be a problem with the bound methods getting bound to `undefined` instead of to the instance. This is likely due to the empty `locales` option:

- I didn't see any way to import all locales like Faker's own code does, or even an i

[2022-02-07 22:31] ex-nerd commented on #448
And for posterity, here is a workaround (ugly, but better than nothing):

https://stackblitz.com/edit/faker-js-demo-5j7rsf?devtoolsheight=33&file=index.ts

[code]

_sadly, I need an even uglier workaround to make this work properly in typescript 3.9, but that's another issue entirely_

[2022-02-07 22:31] Shinigami92 commented on #448
I will try to investigate in next few days into this.
Currently I assume it's especially for the `esm` version, cause we use bundling and only specific `entryPoints` for this
https://github.com/faker-js/faker/blob/f1884becbc108c3ddbad952d879cec0fc5196e08/scripts/bundle.ts#L27-L34
Also we currently do not export single locales one by one.

We also need to export locales from https://github.com/fake

[2022-02-07 23:25] piotrekn commented on #287
Guys, this pattern is flawed:

[code]

It should be more like this:

[code]
...or even `beforeEach` instead of `beforeAll.
The problem is that `faker.seedValue` is a global variable, and every `faker.seed()` changes it. Once `seededRuns` have executed, the last set seed remains, not a random one.

Please review your PRs for that case.

[2022-02-08 06:57] hexdecimal16 opened #451 "vehicle undefined"
### Describe the bug

faker.vehicle returns undefined

### Reproduction

`faker.vehicle.manufacturer()`

### Additional Info

@faker-js/faker": "^6.0.0-alpha.5"

[2022-02-08 07:20] Shinigami92 commented on #451
Please check first if you have used correct import strategy: https://fakerjs.dev/guide/#node-js
`import { faker } from '@faker-js/faker';`

[2022-02-08 07:35] Shinigami92 opened #452 "Revert #399"
We need to revert https://github.com/faker-js/faker/commit/7b13898d138965e5af422806df115faddf00fa79
cause the original intention was not solved

Also we missed that the plugin adds a compatibility layer between eslint and prettier so it disables some default rules from eslint and reconfigures some others.
Also if someone forced a commit into the codebase, they will not get a report in GitHub view

[2022-02-08 07:40] Shinigami92 commented on #452
@piotrekn Please feel free to comment or open issues at the relevant repositories (https://github.com/prettier/prettier-eslint) to report that the plugin is slow,
but the workaround to just remove this was not really successful, sorry.

[2022-02-08 08:09] Shinigami92 commented on #287
You are missing that we added `faker.seed(seed)` in every single it block to ensure this behavior.
Even `beforeEach` was not safe enough, cause we sometimes have nested describe+it blocks in this loop.
If you found a specific test were we overseen this, please report it to us.

[2022-02-08 09:09] ST-DDT commented on #287
@Shinigami92 I think you and @piotrekn are referring to different things.

As you can see there is no faker.seed() inside this section anymore:

https://github.com/faker-js/faker/blob/f1884becbc108c3ddbad952d879cec0fc5196e08/test/animal.spec.ts#L101-L115

However, this isn't needed because the main purpose of those methods is to randomly execute the methods and check for unexpected behavior. These

[2022-02-08 09:19] Shinigami92 commented on #287
@ST-DDT ah yes, you are totally right

The weather is grey here and I feel a bit week today, so sorry if I confuse some stuff

[2022-02-08 17:04] #452 closed

[2022-02-08 18:04] v-iliescu opened #456 "`faker.unique` TS error"
### Describe the bug

when using `faker.unique` with some other faker functions that take arguments, Typescript will throw an error

tried with:
* `faker.address.countryCode`
* `faker.datatype.number`
* `faker.random.arrayElement`
* `faker.internet.email`

### Reproduction

[code]
all the above throw TS errors but result seem to be ok except for `code3`.

### Additional Info

_No response_

[2022-02-08 19:35] Shinigami92 commented on #448
@ex-nerd I tried like two hours now and I cannot find a way to archive what you want right now
https://github.com/faker-js/faker/pull/455#issuecomment-1032984642

One of the main problems is that we currently want to support `cjs` and `esm`

Could you provide a minimal reproduction of a working GitHub repository that works with `faker` `v5.5.3`?
If this never worked in faker `<=5.5.3` then we will

[2022-02-08 20:07] ex-nerd commented on #448
`v5` typescript support was abysmal (namespace, not class), so as far as I know this definitely wouldn't be possible with that version (though my background is pretty much every language except javascript/typescript so I'm also not the best one to know).

The workaround in my previous comment isn't ideal but seems to work for now.

[2022-02-09 10:23] Shinigami92 commented on #456
@import-brain I assume you have tried it due to you applied the `bug` label.
Do you have a reproduction environment or a StackBlitz link for this?
That would help to reduce my maintenance time :)

[2022-02-09 11:13] import-brain commented on #456
https://stackblitz.com/edit/faker-js-demo-kbblpv?file=index.ts

Here is the StackBlitz I used to test this issue. Looks like a type error to me.

[2022-02-09 11:13] ST-DDT commented on #456
Did this work in 5.x before?

[2022-02-09 11:19] v-iliescu commented on #456
@ST-DDT it's still working in `6.0.0-alpha.3`

[2022-02-09 11:37] ST-DDT commented on #456
Then the bug was most likely introduced here:
https://github.com/faker-js/faker/pull/254/files#diff-37527bfbf98141fa6280776389dd1bc989f5b8b2791b7445cd2a7fefc563b22fR39

[2022-02-09 12:01] Shinigami92 commented on #456
This was the prev def: https://github.com/Ivan-Kuzmichev/DefinitelyTyped/blob/d04089192418ea5954df5abb0093f9e5c7e115a5/types/faker/index.d.ts#L329-L333

If someone wants to tackle it and update it, feel free to open a PR
Otherwise I can try to tackle it tomorrow or later, today I will not have time

[2022-02-09 14:52] ST-DDT commented on #456
I will create a PR for that.

FFR: The original signature:

https://github.com/faker-js/faker/blob/29234378807c4141588861f69421bf20b5ac635e/lib/unique.js#L24

[2022-02-09 19:50] ST-DDT commented on #203
Lorem is covered by #458

[2022-02-09 22:34] ST-DDT commented on #456
FFR: There is also: #333

[2022-02-10 14:05] shmuelsochet opened #461 "Angolia search bar in docs is returning 'indexName is not valid error'"
### Describe the bug

When using the search bar no results are shown and the message in the console reads...

![image](https://user-images.githubusercontent.com/26887125/153423638-d7c1a900-5851-4573-9388-fc7356283f62.png)

### Reproduction

Open docs and try searching for anything in the algolia search bar.

### Additional Info

_No response_

[2022-02-10 14:06] Shinigami92 commented on #461
Duplicate of #222

[2022-02-10 14:06] #461 closed

[2022-02-10 14:26] shmuelsochet opened #462 "cjs: Importing specific locale in jest test fails with 'Cannot find module'"
### Describe the bug

When importing specific locale during a jest test, the test fails with the error `Cannot find module '@faker-js/faker/locale/en' from...`

### Reproduction

1. Add the line `const faker = require('@faker-js/faker/locale/en');` on top of a jest file (i.e example.test.js)
2. Run test `npm run test example.test.js
3. You should get the 'Cannot find module '@faker-js/faker/locale

[2022-02-10 18:16] Shinigami92 opened #464 "Documentation for usage with minimal TypeScript setup"
### Clear and concise description of the problem

Currently it's not clear for a TypeScript developer that they need to configure their `tsconfig.json` with the `compilerOptions` seen below.
We need to document that.

### Suggested solution

[code]

### Alternative

_No response_

### Additional context

_No response_

[2022-02-10 18:35] Shinigami92 commented on #462
Can you try to provide a reproducible via https://stackblitz.com/edit/faker-js-demo?file=index.ts ?
Or maybe just a minimal GitHub repo

[2022-02-10 19:10] dmadisetti opened #465 "Use fake (generated) images for faker opposed to real people"
### Describe the bug

It looks like the faker images are just using some scraped profile list from ages back, and stored on a cloudflare bucket
`https://cloudflare-ipfs.com/ipfs/Qmd3W5DuhgHirLHGVixi6V76LhCkZUz6pnFt5AJBiyvHye/avatar/<number>.jpg`

Opposed to using real images (I recognized one of the people lol), faker should maybe use fake images.
Some ideas are
- FaceGan: https://github.com/baris

[2022-02-10 19:13] Shinigami92 opened #466 "Deprecate `helpers.randomize`"
### Clear and concise description of the problem

https://github.com/faker-js/faker/blob/999556bf83018daf010b05350d58934ad5bd0761/src/helpers.ts#L118-L122
This just forwards the call

### Suggested solution

Add a `@deprecated` + a `console.warn` like in other places

### Alternative

_No response_

### Additional context

_No response_

[2022-02-10 19:15] ST-DDT commented on #465
IMO the avatar should return an actual/fake avatar instead of a persons face.
For persons faces we should add a separate api, that only returns fake faces.

[2022-02-10 19:23] dmadisetti commented on #465
You could potentially use identicons (which is what github uses) which is actually a hash based on username: https://github.com/stewartlord/identicon.js

The images could be generated from your list of fake names. I'd count this as a bonus since it could potentially allow for easier debugging (Alice/Bob/Camerons are always going to be associated with the same image).

[2022-02-10 19:32] dmadisetti commented on #465
Just an update from the guy on the README
![twitter com_messages_15894801-275195245](https://user-images.githubusercontent.com/2689338/153482769-0533d5ae-68f2-4afc-89e6-1791f7e17e4b.png)

[2022-02-10 19:47] schw4rzlicht commented on #256
What we just ended up with is basically replacing `faker.internet.domainName()` globally for the time being, thanks @Shinigami92 for the inspiration:

[code]

[2022-02-10 19:50] Shinigami92 commented on #256
@schw4rzlicht Did you know that we released 6.0.0-alpha.6 some hours ago? :smiley:

[2022-02-10 20:08] schw4rzlicht commented on #256
No I didn't 😱 Just upgraded, works like a charm. Thank you all for your great work!

[2022-02-10 20:17] dmadisetti commented on #465
While this is an issue, I'm going to advocate for user images to be taken from across the race / gender spectrum. The current avatars are primarily white and male

[2022-02-10 22:52] #456 closed

[2022-02-11 14:27] Shinigami92 commented on #287
_Vehicle_ is driving me crazy, so I will tackle that now :stuck_out_tongue_winking_eye:

[2022-02-11 15:11] Shinigami92 commented on #287
For some tests I have no **word**s

[2022-02-11 15:31] Shinigami92 opened #471 "vehicle bicycle_type incorrect file names"
### Describe the bug

The vehicle module access the definitions of `vehicle.bicycle_type`, but this was renamed in one of the last PRs accidentally

### Reproduction

Call `faker.vehicle.bicycle()` results in 'a', 'b' or 'c' (the defaults of `arrayElement`)

### Additional Info

_No response_

[2022-02-11 15:35] Shinigami92 commented on #287
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

[2022-02-11 16:08] petrzjunior opened #472 "PIN, account number"
### Clear and concise description of the problem

I need to generate 4-letter PIN numbers. Since `faker.datatype.number` cannot generate leading zeroes, I was looking at `faker.finance.account` which does exactly this thing. But it doesn't look right to me to use bank account generator for PIN, the bank account format might be localized in the future, since different countries use different format

[2022-02-11 17:08] ST-DDT commented on #472
This is already possible with:

`faker.helpers.replaceSymbols("####")` -> `0038`

[2022-02-11 17:29] ST-DDT commented on #471
I will take care of this once #398 is merged.

[2022-02-11 17:30] petrzjunior commented on #472
@ST-DDT  I see, this can serve well for me.
But since PIN (security code, OTP) digit string are common, do you think it would be beneficial to create a helper for them?

[2022-02-11 20:05] quinnturner opened #474 "faker.internet.password maximum call stack size exceeded"
### Describe the bug

[code]

### Reproduction

`faker.internet.password(10, false, null, '!Aa0')` triggered the error.

https://stackblitz.com/edit/faker-js-demo-pkgjot?file=index.ts

### Additional Info

Version: `6.0.0-alpha.6`

[2022-02-11 20:12] quinnturner commented on #474
It looks like the implementation of `password` chokes on non-alphanumeric characters. I suggest either adding support for them or explicitly throwing an error. 👍🏻

[2022-02-11 20:22] Shinigami92 commented on #287
I will now rewrite the internet

[2022-02-12 14:12] import-brain commented on #247
@Shinigami92 With the new StackBlitz, should this be closed? Or should we build this separately?

[2022-02-12 14:13] Shinigami92 commented on #247
I will leave this decision fully to @JessicaSachs :slightly_smiling_face:

[2022-02-12 14:17] Shinigami92 commented on #474
As a workaround for now, could you use `faker.internet.password(10, false, /\w/, '!Aa0')`?

[2022-02-12 19:20] quinnturner commented on #474
Thanks for the response, @Shinigami92! My workaround that worked for my use case was simply:

`const password = "!Aa0" + faker.internet.password(6);`

[2022-02-12 23:07] piotrekn opened #479 "mersenne.rand without min argument returns NaN"
### Describe the bug

https://github.com/faker-js/faker/blob/30b0faa1cba1d3cd74e95315347b98a49ebcb76b/src/mersenne.ts#L31-L40

### Reproduction

[code]
This should return `0` no matter the seed, but returns `NaN`.

### Additional Info

_No response_

[2022-02-13 23:13] ST-DDT opened #485 "generate:locales does not update deeply nested index files"
Currently the script only updates

- `src/locale/<locale>.ts`
- `src/locales/<locale>/index.ts`
- `src/locales/<locale>/<module>/index.ts`
- `src/locales/index.ts`
- `docs/api/localization.md`

But it does not update

- `src/locales/<locale>/<module>/<submodules...>/index.ts`

We should probably add a test, that ensures we don't break it again.

To avoid stacking changes on top of each other, we s

[2022-02-14 13:00] PeterlitsZo opened #486 "Would markdown is a good idea?"
### Clear and concise description of the problem

Sometime the I wanna to mock markdown to render rather than plain text. If faker.js support it, it will be great!

### Suggested solution

I am not sure what the word `module` meaning...

### Alternative

_No response_

### Additional context

_No response_

[2022-02-14 16:17] #471 closed

[2022-02-14 16:24] ST-DDT commented on #486
Could you be a little bit more specific regarding your requirements?

What do you need specifically . Do you want some text that contains `` `foobar` `` ?
What about the other "markdown features"? Tables, Images, Links, Lists?

IMO there are too many possible variations to cover them all and they can be put together relatively easy using the existing methods.

[2022-02-14 16:28] samnap11 commented on #377
Is there a typo in the reproduction? Is this what you mean?
`new Date().setFullYear(2100, 0, 1) !== new Date(Date.UTC(2100, 0))`?

Nevertheless, the issue still stands. I can take this issue and work on the fix. Is that fine?

[2022-02-14 17:14] ST-DDT opened #487 "Add resolve parameter to functions returning an image url"
### Clear and concise description of the problem

Currently the methods that generate random images return only a link to a generic endpoint which then redirects to the actual image.
If you use these to generate some fake data, then the image your are seeing will differ every time you show it.

### Suggested solution

Add a parameter that lets faker resolve the url for you (calling the target url

[2022-02-14 20:30] palimondo opened #491 "Address doesn't use street_name / street_root from locale"
### Describe the bug

When testing with `faker.locale = "de"`, I have noticed that the [Address](https://github.com/faker-js/faker/blob/main/src/address.ts#L156).`streetName` generates the street name from English first names and does not use the localized streets provided in **street_name** / [street_root](https://github.com/faker-js/faker/blob/main/src/locales/de/address/street_root.ts) / [stree

[2022-02-14 21:30] Shinigami92 commented on #491
I investigated a bit the code and yes, looks weird :thinking:
We are currently rewriting tests and docs to have a stable project base.
And soon :tm: we can start working on first bug fixes.

Until then I can suggest to use `faker.random.arrayElement(faker.definitions.address.street_name);` on your own, or try something like `faker.fake('{{address.street_name}}');`.

[2022-02-15 14:30] #376 closed

[2022-02-15 18:05] ST-DDT opened #492 "Add separate methods for random key and value"
Wouldn't it be much easier from an architectural and types perspective, by splitting this method into 2 separate ones? One for object value and one for object key.

_Originally posted by @xDivisionByZerox in https://github.com/faker-js/faker/issues/407#issuecomment-1040411965_

[2022-02-15 18:18] Shinigami92 commented on #305
@damienwebdev Would you like to update the description of this issue and notify me/us about what is still missing?

[2022-02-15 18:24] xDivisionByZerox commented on #492
Since I, more or less, requested this feature, should I provide help by implementing this change and providing a pull request?

[2022-02-15 18:43] ST-DDT commented on #492
Contributions are always welcome. We might not be be able to merge it soon though.

[2022-02-15 19:28] ST-DDT commented on #246
The following tags have been restored using the commit messages related to the `package.json`:

- `v5.2.0`
- `v5.3.0`
- `v5.3.1`
- `v5.4.0`
- `v5.5.0`
- `v5.5.1`
- `v5.5.2`
- `v5.5.3`

[2022-02-15 19:29] ST-DDT commented on #246
The tag `6.0.0-alpha.0` has been renamed to `v6.0.0-alpha.0` to match the other tags.

[2022-02-15 19:29] ST-DDT commented on #246
I consider this done now.

[2022-02-15 19:29] #246 closed

[2022-02-15 19:31] MasterOdin commented on #246
Thanks for your work on this! Will make go looking at older versions much easier. :+1:

[2022-02-16 09:56] hansonfang commented on #462
I have same issue after I upgraded it to 6.0.0 alpha. so I downgraded to 5.5.3 than problems gone.

[2022-02-16 15:34] hugoattal opened #497 "Add a faker.internet.emoji function"
### Clear and concise description of the problem

I think it would be useful to generate random emoji. My use case is that I have documents that can have an emoji icon (a bit like notion), so I would like to generate random emoji for this.

### Suggested solution

I suggest creating a `faker.internet.emoji()` function that return a random emoji

### Alternative

_No response_

### Additional conte

[2022-02-16 23:05] #485 closed

[2022-02-17 15:22] vegrituk opened #502 "faker.internet.url sometimes returns invalid urls"
### Describe the bug

We use fake urls with `faker.internet.url()` in our unit tests which are then passed to `new URL()`. Sometimes, the latter throws a TypeError and it looks the created urls are just invalid:
 `TypeError: Invalid URL: https://artistic-dump truck.info`
or
`TypeError: Invalid URL: https://heavenly-creme brulee.name`
There seem to be spaces where obviously none should be.

### Rep

[2022-02-17 15:37] ST-DDT commented on #502
Fixed in https://github.com/faker-js/faker/pull/258 (contained in [alpha 6](https://github.com/faker-js/faker/releases/tag/v6.0.0-alpha.6))

Duplicate of https://github.com/faker-js/faker/issues/256

[2022-02-17 15:37] #502 closed

[2022-02-17 18:41] import-brain commented on #497
@hugoattal Do you want to work on this? I can assign this to you.

[2022-02-17 18:42] import-brain commented on #492
@xDivisionByZerox Assigning to you :)

[2022-02-17 18:43] hugoattal commented on #497
@import-brain Yes why not!

[2022-02-17 18:43] import-brain commented on #497
Okay, I'll assign it to you :)

[2022-02-17 20:03] xDivisionByZerox commented on #492
I just opened #503

[2022-02-17 21:54] hugoattal commented on #497
Here it is: https://github.com/faker-js/faker/pull/504 !

[2022-02-18 16:36] xDivisionByZerox commented on #466
Can I take this? Seems easy enough.

[2022-02-18 18:55] xDivisionByZerox commented on #375
I would provide a PR for this, Can someone assign me to this?

[2022-02-18 19:35] xDivisionByZerox commented on #328
Based on this. Is there a reason why each property of `options` is checked against `typeof prop === 'undefined'` instead of just checking against `undefined` itself?

[2022-02-18 19:43] tiagoporto opened #507 "Locales importing broken in alpha package"
### Describe the bug

Importing directly from locales it's not working.

E.g.  `import faker from '@faker-js/faker/locale/en'`

Package has no locale folder
![image](https://user-images.githubusercontent.com/3688905/154750925-bc2d8f19-f9be-4293-bb2a-c4e2fa25ecdb.png)

### Reproduction

 `import faker from '@faker-js/faker/locale/en'`

will return ` Cannot find module '@faker-js/faker/locale/en'`

[2022-02-18 19:49] Shinigami92 commented on #507
Please provide a minimal reproduction, e.g. via [fakerjs.dev/new](https://fakerjs.dev/new)
I cannot reproduce this locally :thinking:
So it might be a TS setting

[2022-02-19 07:23] franznoel commented on #378
Using the `validator` package also needs to be updated because it is not in synced with the current given list of mimeTypes:
[code]
We might need to update that package, too.

[2022-02-19 08:28] ST-DDT commented on #378
Could you please explain why?
Which part is not in compliance with the current version?

It's not.

https://github.com/validatorjs/validator.js/blob/master/src/lib/isMimeType.js

[2022-02-19 10:31] Shinigami92 commented on #466
Let's put this into v6.1 so folks can just switch to 6.0.0 as a simple 5.5.3 replacement without doing to much stuff at once and instantly need to also change these methods.
I know it's just a warning, but I want to make a smooth transition as possible for the start.

[2022-02-19 11:36] ST-DDT opened #513 "Fix broken random.alphaNumeric() test"
https://github.com/faker-js/faker/blob/431c10887ae43c5ace1f653db91b5540c511db7e/test/random.spec.ts#L180-L187

https://github.com/faker-js/faker/blob/431c10887ae43c5ace1f653db91b5540c511db7e/src/random.ts#L383

It just has a very low chance of failing (~0.2%).

The test should be fixed like this:

[code]

The same is true for the following test.
I also recommend to ban more chars, as the current t

[2022-02-19 11:37] ST-DDT commented on #513
@Shinigami92 Do you want to fix it, or is it up for grabs?

[2022-02-19 11:47] ST-DDT opened #514 "Docs: Minor issue list"
This issue serves as an easy way to report issues in the jsdocs.

[2022-02-19 11:47] ST-DDT commented on #514
- [ ] Helpers#mustache doesn't have examples

[2022-02-19 11:50] ST-DDT commented on #514
- [ ] [Helpers#uniqueArray](https://github.com/faker-js/faker/blob/431c10887ae43c5ace1f653db91b5540c511db7e/src/helpers.ts#L424-L426) has repeated example tags

[2022-02-19 11:55] Shinigami92 commented on #287
I will try targeting `finance_iban.spec.ts` now

[2022-02-19 12:40] xDivisionByZerox commented on #513
I will do this. No problem.

[2022-02-19 12:48] xDivisionByZerox commented on #513
Wouldn't it be easier to iterate over each banned character and expect the alpha text to not include it? Like this
[code]

This would allow to change the bannedChars Array without rewriting the RegEx.

[2022-02-19 12:57] ST-DDT commented on #513
IMO we should ban all characters `a` - `p` to have a higher probability to "trigger" a banned character.

As for "foreach vs regex": I think it's fine either way.

@Shinigami92 Any preference?

[2022-02-19 13:03] xDivisionByZerox commented on #513
We could also force test this by splitting this into 2 tests. One with all alphabetic characters banned and one with all numbers characters baned.

[2022-02-19 13:07] ST-DDT opened #516 "Show deprecation warning on the api docs page"
### Clear and concise description of the problem

Currently the deprecation warning is only in the jsdocs and the console output.

### Suggested solution

It would be nice if there was a warning + replacement link in the api docs as well.

### Alternative

Write it in the normal jsdocs. But that either lacks visibility, or requires additional code to highlight, or special markup in the jsdocs.

##

[2022-02-19 13:08] ST-DDT commented on #516
I would like to tackle this, as I already have some (pending) PRs related to the docs.

[2022-02-19 13:19] ST-DDT commented on #513
I really like that idea.

`foreach` vs `regex`:
If it isn't too much work, start with both variants in after each other (in the same method).
That makes comparing it easier.
Then we can decide on one of them easily afterwards.

[2022-02-19 13:22] xDivisionByZerox commented on #513
Should the current test with some characters baned (instead of all alpha/number) still be reworked or replaced by the 2 tests I suggested?

Furthermore, what happens if a bannedChars Array with all alpha-numeric characters is provided? Should a test for that exist as well?

[2022-02-19 13:26] ST-DDT commented on #328
Basically just a convention - https://stackoverflow.com/questions/4725603/variable-undefined-vs-typeof-variable-undefined

FFR: https://github.com/faker-js/faker/blob/main/src/datatype.ts#L38

[2022-02-19 13:28] xDivisionByZerox commented on #513
If it isn't too much work, start with both variants after each other (in the same method).
That makes comparing it easier.
Then we can decide on one of them easily afterwards.

Do you mean 2 tests:
- one for banned alpha, one for banned numbers where each test matches against regex AND foreach
OR
- one with regex matching against banned alpha AND numbers and one with foreach matching against banne

[2022-02-19 13:30] ST-DDT commented on #513
The first one.

[2022-02-19 13:33] ST-DDT commented on #513
Yes. Although I assume, that this will reveal another "bug", that we can only fix in v6.1. If that's the case disable it with `it.todo()`.

[2022-02-19 16:04] ST-DDT opened #518 "Unexpected behavior of alphaNumeric with all chars banned"
### Describe the bug

When all characters are banned, then the method returns a string containing 'undefined' n times.
This violates the expectations of banning all characters.

[code]

I expect this method to throw an error in that case.

### Reproduction

[code]

### Additional Info

Discovered in https://github.com/faker-js/faker/issues/513#issuecomment-1046017475 / #517

[2022-02-19 16:04] ST-DDT commented on #518
On hold till #517 is merged.

[2022-02-19 18:42] Shinigami92 commented on #287
We are near to finish :checkered_flag:

Only reviews are needed!

[2022-02-19 22:18] #513 closed

[2022-02-19 22:42] Shinigami92 commented on #287
All done :tada:

[2022-02-19 22:42] #287 closed

[2022-02-19 22:56] #462 closed

[2022-02-20 17:42] ST-DDT opened #527 "Finance credit card number should lowercase the provider name"
Can we add a todo to add a toLowerCase call for the provider?

_Originally posted by @prisis in https://github.com/faker-js/faker/pull/523#r810659656_

[2022-02-20 18:21] ST-DDT commented on #379
Fixed in #477

[2022-02-20 18:21] #379 closed

[2022-02-20 18:22] prisis commented on #507
Hey @tiagoporto :), could you check the newest alpha out, if the local import is working for you?

[2022-02-20 18:29] Shinigami92 commented on #462
@shmuelsochet @hansonfang Please try out the `alpha.7` and report if the issue is fixed for you

[2022-02-20 18:45] ST-DDT opened #528 "Deprecate helpers.userCard/contextualCard/createCard"
These methods place a maintenance burden on this library while providing little benefit to the users.
Users that need a specific data object usually require custom data structures that can be easily defined in a self-managed method.
We should only provide methods for standardized data structures directly.

[2022-02-20 18:52] #516 closed

[2022-02-20 22:09] ST-DDT commented on #405
This needs to be in the v6.0 release version, to avoid confusion and frustration when switching to this lib.

[2022-02-21 06:21] import-brain commented on #465
@Shinigami92 Should this be v6.2 or v7? I'm leaning towards v7, but I'll let you make the final decision

[2022-02-21 10:30] ST-DDT commented on #465
I think we should not tag this for 6.2 as it is a major change in behavior.
As for v7, I would like to use v7.0 mainly to do some cleanup and refactoring/renaming so I'm not sure whether this would fit there.
I would like to give this its own feature version, but I'm not sure when we will tackle this exactly.
Maybe we can create a `Future` milestone for that, which would serve as a "Pull Backlog"

[2022-02-21 11:55] tiagoporto commented on #507
Hi @prisis, yeap the new version is working. Thank you.

[2022-02-21 14:25] xDivisionByZerox commented on #280
Please assign me to this. I want to do this.

[2022-02-21 15:21] xDivisionByZerox commented on #280
Should the `init_genrand` method still be called manually or be transformed to the constructor?

[2022-02-21 15:26] xDivisionByZerox commented on #280
Or should this even be static factory methods?

[2022-02-21 15:31] import-brain commented on #465
Yeah, I think the `Future` milestone is the way to go here.

[2022-02-21 16:24] sprohaszka commented on #464
Hi @Shinigami92,

Just to know how what to write, I've just launched a simple project with: typescript, jest and faker.
I started with project with a basic `tsconfig.json` file created when you run `tsc --init`.

The `esModuleInterop` is already set to `true`, but no `moduleResolution` option is set.
According to [typescript documentation](https://www.typescriptlang.org/tsconfig#moduleResolution)

[2022-02-21 17:06] Shinigami92 commented on #464
No I'm not 100% sure, but think I have tested it and it did not work or at least did not use the esm version
Maybe something is fixed now after #520 :thinking:
But then it would take the cjs instead of esm, so maybe the `moduleResolution` is only valuable if you want to use esm, _and I think you want_

[2022-02-21 17:10] Shinigami92 commented on #280
The code is from prior year < 2000...
We should document that we now heavily rewrite this and move forward, so I think it's okay to modify it to use camelCase etc, make it modern.
It should just do the exact same stuff as it does now, cause this is the base for faker's seed.
It is also not a problem to change something heavily, because we do not expose this, or at least we have not said that we su

[2022-02-21 17:17] xDivisionByZerox commented on #280
I have written my thoughts in #530.
I will convert the style of the variables to cammelCase but drop the idea for factory methods (since it's not needed if not exposed).

[2022-02-21 19:19] xDivisionByZerox opened #533 "Wrong param and return types on `time.recent`"
We will not add a default case.
Instead we adjust the method signature to allow for unkown string params and return dates in v6.0.

`recent(format: LiteralUnion<'abbr' | 'wide' | 'unix' | 'date'> = 'unix'): string | number | Date { ... }`

**Previous description**

The switch statement in `time.recent` is missing the a default switch case.

https://github.com/faker-js/faker/blob/1058e17ebb24207a5a

[2022-02-21 19:27] xDivisionByZerox commented on #533
This issue could use the `help wanted` and `good first issue` labels since it really easy and gives people who what to help an easy entrance into the project.

[2022-02-21 21:11] franznoel commented on #378
Earlier, when I ran the unit test, it seems to be lacking some `mimeTypes`. However, showing me that link on the code for `isMimeType` does not seem to be applicable.

[2022-02-22 04:09] ehtishama commented on #533
@xDivisionByZerox @Shinigami92 What should be the expected behaviour when an invalid format value is passed, like `faker.time.recent("xyz")`, should the date get default UNIX format? or `" format invalid "`?

[2022-02-22 08:13] sprohaszka commented on #464
Ok :)
I pushed a PR. Let me know if it was what you had in mind.

[2022-02-22 08:44] xDivisionByZerox commented on #533
I am sure the reason why we wanted the default cause in the switch statement was to ensure that any invalid parameters will be handled as `unix` input.

[2022-02-22 08:48] xDivisionByZerox commented on #533
But @Shinigami92 should approve this statement.

[2022-02-22 10:28] Shinigami92 commented on #533
https://github.com/faker-js/faker/pull/534#discussion_r811795638

... yes :slightly_smiling_face:

[2022-02-22 10:59] bl0cknumber commented on #533
Thanks for anyone contributing to the discussion :)

[2022-02-22 12:05] ST-DDT commented on #533
The maintainers will discuss this internally.

[2022-02-22 13:17] #464 closed

[2022-02-22 15:39] sprohaszka commented on #528
Hello @ST-DDT.
To be sure to understand, you only want to add `deprecated` JSDoc flag?

[2022-02-22 17:18] PerHermanssonPrivat opened #540 "Vehicle VIN generate VIN with invalid characters (I, O, Q)"
### Describe the bug

VIN format specifications have since long excluded the characters I, O and Q as they are easily mis-read as numbers 0 and 1.
https://en.wikipedia.org/wiki/Vehicle_identification_number

It seems the faker.vehicle.vin() incorrectly returns sample with these chars included.

### Reproduction

Check output for chars, below test gave me:

[code]

### Additional Info

Remotely rel

[2022-02-22 17:27] xDivisionByZerox opened #541 "Source code todo list"
This issue serves as a container for all todos listed in the source code from 03c3d1156312153428f2db5649b24dd5fc046d43.

This covers only `TODO` and `FIXME` and no `it.todo` statements for now.

Column `method` is a static link to the original comment in 03c3d1156312153428f2db5649b24dd5fc046d43. The other columns will be updated with time so it might be that the description you see in the table wi

[2022-02-22 17:44] ST-DDT commented on #528
The deprecation consists of two parts:
`@deprecated` jsdocs and a console.log warning.

Example: https://github.com/faker-js/faker/blob/03c3d1156312153428f2db5649b24dd5fc046d43/src/random.ts#L57-L64

[2022-02-22 18:16] ST-DDT opened #542 "Release v6.0.0 Roadmap"
This is our planned roadmap to v6.0.0.

Feel free to suggest changes or report important bugs/incompatibilities.

1. Fix remaining todos
  - [x] Fix JSDocs #203 / #562 (@ST-DDT )
  - [x] Do another pass on the docs/search for typos/style issues #514 (@ST-DDT)
  - [x] Tree-shaking not properly documented #405 / #549 (@Shinigami92 )
  - [ ] ~Vet v6.0.0-alpha.x types emitted types against v5.5.3 #305

[2022-02-22 18:18] ST-DDT commented on #518
#517 is merged

[2022-02-22 19:03] sprohaszka commented on #528
Tell me you're ok with the wording.

[2022-02-22 19:45] xDivisionByZerox commented on #328
Î will provide a pr. Can I get assigned?

[2022-02-22 21:24] prisis commented on #541
Thank you very much, for collecting all the todos :)

[2022-02-22 21:30] xDivisionByZerox commented on #541
Should i add a column for `fixed` to keep track of fixed todos, so this issue can get closed of all other issues are closed?

[2022-02-22 21:40] xDivisionByZerox commented on #518
I will work on this. Please assign me.

[2022-02-22 21:43] xDivisionByZerox commented on #479
I want to do this. Please assign me.

[2022-02-22 22:29] ST-DDT commented on #541
That would be helpful. Thank you.

[2022-02-22 22:50] ST-DDT commented on #345
This behavior might be intentional:

`faker.datatype.number(1000) // 64000`

[2022-02-23 01:45] piotrekn commented on #345
After further investigation, I think you're right @ST-DDT - it looks like it's a feature, not a bug. The `precision` option is set, but the name `precision` might be a little unfortunate here. It does not refer only to significant decimal digits, as [this unit test](https://github.com/faker-js/faker/blob/main/test/datatype.spec.ts#L423-L436) exposes.

faker.datatype.float(1000) // 64000

Are you 1

[2022-02-23 04:18] JessicaSachs commented on #405
I started using [`size-limit`](https://github.com/ai/size-limit) to get a handle on what the size differences of the different imports would be for CJS and ESM. I found that no matter what I did, I couldn't get the bundle size down past ~600 kB compressed + minified. I thought I might be misconfiguring size-limit so I went ahead and created a tiny Vite project, but found that no matter what I did,

[2022-02-23 04:31] Shinigami92 commented on #405
I will have a look into this init_src later, but let's remove documentation about tree-shaking for now and address it later in a future milestone.
Due to how the project is structured right now it is too complicated to just make it support that quickly.

[2022-02-23 09:56] ST-DDT commented on #345
I meant `faker.datatype.number({ precision: 1000 })); // 37000`.
IMO precision is a good word for it (or at least I cannot think of a better one right now).

[2022-02-23 09:57] ST-DDT commented on #405
Maybe we have to move the Faker class to its own file. That way we don't have to import the index.ts file which contains the faker instance with all locales.

[2022-02-23 12:38] Shinigami92 commented on #405
As we wanted to do this anyways, I will open a PR for that now. But I'm not sure if this really will work :thinking:
I think the issue lies deeper in the structure of the whole project like the Faker class contains instances of all its modules and how it is coupled.
For the languages a planned to load them from language files instead of TypeScript source files. But this is so far away from now lik

[2022-02-23 12:44] Shinigami92 opened #546 "Rewrite locale files to a non js/ts source file format and load them on demand"
### Clear and concise description of the problem

Currently we bundle the locale files twice, 1x for `cjs` and 1x for `esm`.
We should outsource the locale files to it's own folder and rewrite them to a format that can be as small as possible minified.
Please note: the source files could be yaml, so it is easier to read and write to it, but the bundled minified outfiles should be e.g. json.

Also

[2022-02-23 12:47] JoCat opened #547 "Incorrect behavior of `name.firstName()` function"
### Describe the bug

When using the faker.name.firstName() function with a non-standard locale and without passing a gender value to the function, the name is still displayed in English.

### Reproduction

For example:
[code]

demo: https://stackblitz.com/edit/faker-js-demo-6fb7x2?file=index.ts

### Additional Info

_No response_

[2022-02-23 12:56] ST-DDT commented on #546
It must be possible to have compile time type checks on them.

[2022-02-23 12:57] Shinigami92 commented on #546
Yes, we can do that with schema validation, good point :+1:

[2022-02-23 13:02] ST-DDT commented on #546
If this does not require us to specify the schema again (LocaleDefinition and subtypes).

[2022-02-23 13:03] JoCat commented on #547
thanks, maybe there is a problem in the code here:
https://github.com/faker-js/faker/blob/03c3d1156312153428f2db5649b24dd5fc046d43/src/name.ts#L38-L65
at least it differs from what is in the lastName and middleName functions, which work correctly

[2022-02-23 13:05] Shinigami92 commented on #547
I mean... that is quite the whole function except of 2-3 lines :wink:
Maybe also have a look into https://github.com/faker-js/faker/pull/440

[2022-02-23 13:06] ST-DDT commented on #546
This should not be the sole reason, as its quite simple to convert between json and yaml anyway.

[2022-02-23 18:57] #280 closed

[2022-02-23 20:34] piotrekn commented on #345
It resembles precision if represented with `10^n`, but in reality it can take any `Number`. **What is this number in those cases, then? How would you explain what's going on?** I find it hard to put it in simple words and the term "precision" is misused imho :) I also find it very weird how the precision influence the outcome:
[code]

Correct me if I'm wrong, but this has little in common to preci

[2022-02-23 20:46] xDivisionByZerox commented on #479
I also implemented an if statement that checks if `min > max` in which case it throws an error. This behavior is breaking 83 test in 4 suits.

What would the expected behavior be here?

[2022-02-23 23:18] ST-DDT commented on #479
Not sure on this one. I tend to allow min and max to be swapped as a kind of undocumented convenience feature.

[2022-02-23 23:21] ST-DDT commented on #345
Yes, you are right. We have to put more thoughts into this.

[2022-02-24 08:00] piotrekn commented on #479
If `mersenne.rand` does not bother the min-max swap, should it thrown an error? To maintain the semantic meaning consider swapping values instead.

[2022-02-24 08:38] ST-DDT commented on #533
**Decision:** We will not add a default case.
Instead we adjust the method signature to allow for unkown string params and return dates in v6.0.

`recent(format: LiteralUnion<'abbr' | 'wide' | 'unix' | 'date'> = 'unix'): string | number | Date { ... }`

In v6.1 we deprecate the method for removal.
In v7.0 we remove the method entirely.

[2022-02-24 08:43] JoCat opened #556 "Incorrect behavior of `faker.image` functions"
### Describe the bug

Some image functions associated with the placeimg.com service do not work due to the fact that the service has abolished some image categories.

example:
[code]

maybe you should also check related function `faker.image.image()`

list of current categories taken from placeimg.com:
![image](https://user-images.githubusercontent.com/13483132/155488599-6e8d4842-a549-44f2-a6be-99

[2022-02-24 08:45] ST-DDT opened #557 "Deprecate `time.recent` for removal"
### Clear and concise description of the problem

The `time.recent` does little to nothing and is not seedable.

### Suggested solution

We should remove it.

### Alternative

We could make it seedable, but that would reduce the methods usefulness even more.

### Additional context

IMO we should suggest faker.date.recent(1) as alternative or just `new Date()`.
We should also remove it from the re

[2022-02-24 08:45] ST-DDT commented on #557
Please wait with the implementation until https://github.com/faker-js/faker/issues/533 is fixed.

[2022-02-24 09:04] ST-DDT commented on #556
There are other categories that aren't working either e.g. `cats`.

[2022-02-24 09:26] Shinigami92 commented on #556
<img src="https://media3.giphy.com/media/RJDmEeLNgzgxW/giphy.gif?cid=790b7611b4decfe15cd4e594cad45126fbf644a08efb7a00&rid=giphy.gif&ct=g"/>

[2022-02-24 11:51] xDivisionByZerox commented on #479
FYI: Swapping the values will not break any existing test cases.

[2022-02-24 13:01] Shinigami92 opened #558 "Random greek alphabet letter"
### Clear and concise description of the problem

As a user I want to generate a random greek letter so that I can prepend this to a name of an object.

I would like to have the option to get a short or a long version of a letter (`α` or `'alpha'`).
Maybe `Α` and `άλφα` could also somehow get returned.

### Suggested solution

[code]

I'm open to other ideas

### Alternative

_No response_

### Ad

[2022-02-24 13:44] ST-DDT commented on #558
AFAICT you use the greek characters to name or enumerate things. Why dont you use numbers or letters instead?

If we add support for greek characters, what about russian letters or chinese word letters?

[2022-02-24 16:07] JoCat commented on #451
same problem but my import returns undefined or empty object

[code]
[code]

i use Meteor 2.6

[2022-02-25 08:01] bl0cknumber commented on #533
I would like anybody to takeover my PR.
Unfortunately there is something urgent in my company to be done with. If anybody can work on this fast, i would likely for anybody to takeover the PR. Instead making the PR be abandon till next week when I'm free, I won't take this as mine-only assignment, so.. yeah help wanted.

[2022-02-25 08:03] Shinigami92 commented on #533
This PR will **not** get merged within the next two weeks!
Also if you need the default case, please use `new Date().getTime()` for now.

The whole `recent` is just a wrapper of some Date instance methods called on a `new Date()`
We even plan to get rid of this: https://github.com/faker-js/faker/issues/557

[2022-02-25 08:04] bl0cknumber commented on #533
Cool, thanks for the information.

[2022-02-25 17:31] ST-DDT commented on #203
I created the last PR for `random`.

[2022-02-25 23:48] xDivisionByZerox commented on #474
Please assign me to this. I'll have a look and provide a solution.

[2022-02-26 03:53] franznoel commented on #556
So, do we have other alternative sources? or are we going to remove the non-existing ones?

[2022-02-26 09:36] JoCat commented on #556
In principle, there are enough services on the Internet for obtaining images. It remains only to choose normal

[2022-02-26 09:55] Shinigami92 commented on #556
I'm not yet sure if we want to just provide more and more alternative services, or if we may want to provide a helper/factory functionality to just provide an image provider yourself but have a defined way of getting the random images.
That way you could easily swap in and out an image provider :thinking:

@ST-DDT should we count this as v6.1 bug fix? or is it really needed right now in v6.0 and h

[2022-02-26 11:41] ST-DDT commented on #556
The links are working (although the show wrong content). removing the methods would be more breaking.
Thus I agree with moving this to v6.1.

[2022-02-26 13:24] vuki656 opened #572 "Base64 images support"
### Clear and concise description of the problem

I'm currently writing a test for an API that accepts images in `base64` format that will be uploaded to an S3 bucket. Faker doesn't have support for generating `base64` representation of images.

I'd be willing to open a PR just unsure about the approach. I was thinking about hardcoding x amount of image `base64` strings and picking a random one ea

[2022-02-26 14:11] ST-DDT commented on #572
How about adding a `format` parameter to the existing image methods?

- `simple`: Just returns the url (current)
- `resolved`: Returns a resolved url (resolve the redirect or require the seed to be in the url)
- `base64`: Download the image and convert it to base64

Would that also cover your usecase?

[2022-02-26 14:54] vuki656 commented on #572
That would be awesome.

Beats my idea of hardcoding them for sure.

[2022-02-26 18:25] xDivisionByZerox opened #575 "Change `faker.datatype.hexaDeciamal` implementation"
### Clear and concise description of the problem

`faker.datatype.hexaDeciamal` has its own implementation on generating a random number in hexadecimal representation. This brings multiple problems:

1. Increase the complexity of the library
1. Increase the chances of  errors
1. Increase the test cases that need to be written for this implementation

### Suggested solution

Use the number conversi

[2022-02-26 18:27] xDivisionByZerox commented on #575
I used [benchmarkjs](https://benchmarkjs.com/) for the performance tests.

[2022-02-26 18:57] xDivisionByZerox commented on #572
Related to #487

[2022-02-26 19:07] xDivisionByZerox commented on #518
Could someone please link PR #550 to this?

[2022-02-26 19:12] ST-DDT commented on #518
Done

[2022-02-26 19:20] ST-DDT commented on #575
Have you checked, that your new implementation actually works?

[code]

[2022-02-26 19:25] xDivisionByZerox commented on #394
Now this sounds like a job for me!

[2022-02-26 19:47] xDivisionByZerox commented on #575
Good point. I forgot integers have something like a limit. My implementation works till `length === 255`. But since the method is like 10 times faster for sting with `length = 100` you could simple repetitive call the method resulting in something like this:
[code]

This also explains why the benchmark is so much faster for my implementation for the `length = 1e3` test.

[2022-02-26 19:53] xDivisionByZerox commented on #575
Okay, this works but brings the new issue that the hex values generated are valid but not very pleasing to look at. Since the random numbers generated are sliced off after the 20th precision point.

[2022-02-26 20:55] xDivisionByZerox commented on #575
These are the performance results for the implementation of [my last comment](https://github.com/faker-js/faker/issues/575#issuecomment-1052565588).

| name | length | ops per sec | fluctuation | sample size|
| ------ | ------- | ------------- | ------------ | ----------- |
| current | 1 | 4118425 | 12.73 | 64 |
|new|1|2815434|10.84|58|
|current|2|1062004|11.69|44|
|new|2|1344614|8.52|44|
|current

[2022-02-27 00:25] ST-DDT commented on #575
If you include these benchmarks, please also always include a one sentence summary, to make these easier to grasp.

In this case: "The performance of the new variant is ~25% slower".

[2022-02-27 09:02] pkuczynski commented on #394
Bear in mind there is already PR from me doing this for Date object so better of extend this one I guess otherwise it will conflict

[2022-02-27 11:42] xDivisionByZerox commented on #394
Ok, this even solves some concerns for me about accepting numbers but not plain dates. Thanks for the information

[2022-02-28 11:22] Lisa-V-Sau opened #579 "TypeError: faker.random.arrayElemet is not a function"
### Describe the bug

Summary: Run time error: "TypeError: faker.random.arrayElemet is not a function"

### Reproduction

Example Used: faker.random.arrayElement(['head teacher', 'case worker'])

### Additional Info

_No response_

[2022-02-28 11:43] ST-DDT commented on #579
This works perfectly fine for me.

Could you please provide a complete example including, the import and the faker version number?

[2022-02-28 12:05] Lisa-V-Sau commented on #579
Hi,

Thank you for getting back to me on this.

I am using v6.0.0-alpha.7.

This is the example which I am using:

My import Method:

Error:

Sorry if this is not helpful - I'm not sure what else I could provide. Annoyingly each time I comment out this piece of code my server is also generated.

[2022-02-28 12:40] Lisa-V-Sau commented on #579
This seems to be working in some areas but not in others which is somewhat unusual.

Closing ticket as this is resolved.

Thank you so much for helping to diagnose the issue.

[2022-02-28 12:40] #579 closed

[2022-02-28 12:50] JoCat commented on #556
faker.image.cat() maybe raplaced to https://placekitten.com/

[2022-02-28 16:13] ST-DDT opened #581 "Remove default value from `helpers.arrayElement()`"
https://github.com/faker-js/faker/blob/4eef328a90657ce64a5210862ad372ecd97d7e7a/src/random.ts#L106-L108

This causes issues with missing data, that then gets magically replaced with these defaults, which results in unexpected behavior.
This change could be considered breaking, but IMO calling that method without an array to choose from is a bug itself.
Thus why I consider this a bug, that needs fi

[2022-03-01 10:02] shunkica opened #582 "There is no documentation on how to use the unique function"
I do not understand how to use the unique function.
I can not find any mention of this on the readme or on the website.
I see it takes some method as the first parameter but I can't figure out what this is or how to get unique values with it.

[2022-03-01 10:49] ST-DDT commented on #582
Like this: https://github.com/faker-js/faker/blob/4eef328a90657ce64a5210862ad372ecd97d7e7a/src/unique.ts#L42

The docs will be added by #564

Does that answer your question?

[2022-03-01 10:51] shunkica commented on #582
Yes. Thank you.

[2022-03-01 10:51] #582 closed

[2022-03-01 16:16] #405 closed

[2022-03-01 20:13] #203 closed

[2022-03-01 20:15] #514 closed

[2022-03-01 21:05] xDivisionByZerox commented on #581
If calling the method with an empty array is considered a bug, what would the correct behavior be for empty ararys as input?

[2022-03-01 21:10] Shinigami92 commented on #581
IMO we should "just" remove the `= ['a', 'b', 'c'] as unknown as ReadonlyArray<T>` part, so that a given argument is required.
But is it really a bug if calling it with an empty array? Cause this would be already a bug now :eyes:
I would assume that it would throw an error or just return `undefined` :thinking:

[2022-03-01 22:47] xDivisionByZerox commented on #581
If it could return `undefined` you must extend the method signature with `undefined` as return value. This can be very exhausting for end-users (because undefined check). So I would say throwing an error would be the way to go.

[2022-03-01 22:53] xDivisionByZerox opened #587 "Change `address.countryCode` method signature"
## The Problem
Existing comment about this issue:
By @ST-DDT: `Limit the parameter to the two values.`
https://github.com/faker-js/faker/blob/f4768592dd49c7285d4fb7bb7e6d11b08623294d/src/address.ts#L289-L306

## The Solution
Only except `'alpha-2'` and `'alpha-3'` as valid string inputs
[code]

[2022-03-01 22:55] xDivisionByZerox commented on #575
So now the decision would be if we value performance or readability/maintainability more. Correct?
Any suggestions on this?

[2022-03-01 22:55] ST-DDT commented on #587
Not sure, whether this should be in v6.1 or v6.2,

[2022-03-01 22:57] xDivisionByZerox commented on #587
We could first put this in v6.2. But can put in v6.1 if we magically get everything else done?^^

[2022-03-01 23:05] ST-DDT commented on #575
For me the current implementation is easy to read (maybe move the array of chars to a const/variable and wnsure that they are equally distributed (a-f are currently over-represented, as they appear in both their lowercase and uppercase forms).)
Not sure what others think though.

[code]

[2022-03-01 23:07] xDivisionByZerox commented on #581
Can you assign me either way?

[2022-03-01 23:27] xDivisionByZerox commented on #581
#588 will fix this.

[2022-03-01 23:49] xDivisionByZerox commented on #587
I provided a PR that fixes this. Please assign me to this issue.

[2022-03-02 20:06] #533 closed

[2022-03-02 23:58] ST-DDT opened #592 "docs: add support for multiple signatures"
Currently, we only show the first signature of a method.
This results in incomplete information being see below for an example.

I considered these options:
- Switch to the last at that is usually the most accurate one
- Display them all. The only questions is: How?

This involves the following questions:
- Which values should we show in the parameter table and the return statement
- Should we inc

[2022-03-03 00:05] ST-DDT opened #593 "docs: improve generic type representation in the docs"
### Clear and concise description of the problem

Currently generic types show up only by their name and not with their extends clause.

**Example:**
https://fakerjs.dev/api/random.html#objectElement
https://github.com/faker-js/faker/blob/60d3cc519cd2cab061a23fbe09164d8b59e177ff/src/random.ts#L174-L185

**Shows up as:**

| object | T |   | The object to get the keys or values from. |
| -- | -- | -

[2022-03-03 07:19] Shinigami92 commented on #592
For now, get with the last one.
Sidenote: "Overloading" is only a concept of TypeScript but not JavaScript.

[2022-03-03 07:23] Shinigami92 commented on #592
But this is not a PR?

[2022-03-03 07:58] ST-DDT commented on #592
Yeah, I forgot to remove that line when opening this issue.

[2022-03-03 17:45] xDivisionByZerox commented on #592
Isn't this kinda obsolete/low priority since this will be deprecated in v6.2 by #503?

[2022-03-04 08:07] ST-DDT commented on #592
Well, the methods with `format`s might benefit from multiple signatures e.g. by limiting the return type to the exact match.

[2022-03-04 11:52] ST-DDT commented on #592
It looks like it isn't that simple.
Typedoc does not detect all/the last signature and it does only add the comments to the first one.

[2022-03-04 13:36] Shinigami92 commented on #592
So we need to open a PR at TypeDoc?

[2022-03-07 09:39] hpohlmeyer commented on #448
I was also looking for a way to multiple individual faker instances and ran into the same locale problem.
This example code

[code]

throws with `this.locales[this.locale] is undefined`.

I managed to work around this by using the locales from the default faker export:

[code]

[2022-03-07 14:43] ST-DDT commented on #448
How about adding a `fork()` method?

[2022-03-07 19:37] #592 closed

[2022-03-07 19:40] josevelaz opened #606 "Could not find a declaration file for module '@faker-js/faker'."
### Describe the bug

When attempting to use `@fakerjs/faker` I get a type error that says: ` Could not find a declaration file for module '@faker-js/faker'.`

Error occurs when importing the package.
![Screen Shot 2022-03-07 at 2 38 09 PM](https://user-images.githubusercontent.com/8031323/157105607-9aedcb00-84d8-4fdc-9bba-e08d00c774fe.png)

### Reproduction

Run `npm install @faker-js/faker`, the

[2022-03-07 19:41] Shinigami92 commented on #606
You TypeScript version is not supported, please use the `v5.5.3`
We only support TS v4+

[2022-03-07 19:41] #606 closed

[2022-03-07 19:42] prisis commented on #606
And Node v14 if you want older node version support pls use @faker-js/faker v5.5.3

[2022-03-07 21:04] Shinigami92 commented on #542
Some top repos using faker

- https://github.com/freeCodeCamp/freeCodeCamp/blob/5d30bb6cd5b72105c43beb562ea52dcbb30dad01/package.json#L158
- https://github.com/vercel/next.js/blob/b25f7f84b1e638a8564805a5bdc0d77ae5244d0b/package.json#L110
- https://github.com/supabase/supabase/blob/e2e5ce463aa906af634cb3ae7d033e704cf746eb/package.json#L28
- https://github.com/pubkey/rxdb/blob/4f5528879993293ea77dc

[2022-03-07 21:34] ST-DDT commented on #542
I will go for https://github.com/hashicorp/consul/blob/main/ui/packages/consul-ui/package.json

[2022-03-09 18:21] AustinGil opened #607 "Petition to undeprecate random primitives"
In an older version, many of the methods on `faker.random` that return primitive values were deprecated and moved to `faker.datatype`. I never understood the reason, and I'd argue that restoring them is better developer experience.

* When trying to generate a random value (ie Number), it's more intuitive to go to `faker.random`
* Using `random` is better for intellisense because `faker.datatype`

[2022-03-09 19:31] ST-DDT commented on #607
FFR: This was added in https://github.com/faker-js/faker/commit/7ad22c2e2aae2f5e6215bcdb91cf3fd28e727d92

The actual issue is lost to time.

Currently the helper, random and datatype modules are kind of ambiguous.
So I consider removing datatype to be a viable solution, not sure what the other maintainers think though.

[2022-03-13 09:03] nhammond101 commented on #575
My preference is maintainability, especially given these type of "base" functions are utilised by others throughout the codebase.

Being able to quickly understand, and adapt, a function is key to developer productivity

[2022-03-13 09:50] ST-DDT opened #617 "Improve methods with a length: number argument to support ranges"
### Clear and concise description of the problem

Some methods like hexadecimal take only a fixed range as parameter. If you want to allow a dynamic range, you have to combine it with another method first.
`faker.datatype.hexaDecimal(faker.datatype.number(...))`
This reduces the readability of the code.

### Suggested solution

Improve their method signature to allow for ranges:
`hexaDecimal(lengt

[2022-03-13 10:27] Shinigami92 commented on #617
- For the short run, I think yes, this could be helpful.
- For the long run, I would love to introduce always "Options" as arguments, cause this increases readability while using faker.

It's a common pattern in JS ecosystem to accept options - especially in the Vue ecosystem.
But we can do this only from v7+

So it would be like

[code]

I may need to think about that further, but until then, you

[2022-03-13 12:31] xDivisionByZerox commented on #575
I like this approach as well.

I will close this issue and wait for discussions about the hex characters.

[2022-03-13 12:31] #575 closed

[2022-03-15 15:13] #593 closed

[2022-03-15 18:49] #305 closed

[2022-03-16 02:39] connorjs commented on #542
I saw y'all released v6.0.0 - just wanted to say A W E S O M E and THANK YOU to everyone involved in all of this 🤩

[2022-03-16 04:37] ponei opened #623 "`address.cityPrefix` returning undefined on `pt_BR`"
### Describe the bug

Title pretty much sums it up. This is dependent on locale and doesn't happen on english - did not test on other locales other than `pt_BR` and `en`.

### Reproduction

Calling `address.cityPrefix` or any other function that uses it (`address.city` sometimes does) returns `undefined`

### Additional Info

_No response_

[2022-03-16 05:03] Shinigami92 commented on #623
https://github.com/faker-js/faker/blob/main/src/locales/pt_BR/address/city_prefix.ts

There is a city_prefix, but it is empty 🤔

Was this also the case with v5.5.3?

I will look into this after I fully woke up.

[2022-03-16 08:29] ST-DDT commented on #623
FFR: https://github.com/faker-js/faker/blob/v5.5.3/lib/locales/pt_BR/address/city_prefix.js

[2022-03-16 08:37] ST-DDT commented on #623
@ponei Are you fluent/familiar with pt_br?
If yes, could you create a PR that adds some common city prefixes?

[2022-03-16 08:51] Shinigami92 commented on #623
The only question I have right now is: was it different in v5.5.3, then it could be a `|| => ??` change somewhere or something like that. So maybe we accidentally changed behavior somewhere.

[2022-03-16 09:37] ST-DDT commented on #623
This doesn't have any impact. An empty array wouldn't get replaced either way.

[2022-03-16 09:44] Shinigami92 commented on #623
We have a somewhat related PR for the general issue: https://github.com/faker-js/faker/pull/609

But adding some city prefixes for `pt_BR` would definitely be nice anyway

[2022-03-16 09:48] ST-DDT commented on #623
Maybe add/fix `citySuffix` as well?

[2022-03-16 10:29] ponei commented on #623
Yes, I'm fluent with portuguese. I could come up with some after work, but prefixes for cities aren't very common here, suffixes are.
In english you would have something like `West {cityName}` but that doesn't translate really well.
Regions/other adjectives are suffixes because that's how they work in portuguese, so you would have something like `{cityName} do Sul` (south region).

Maybe the local

[2022-03-16 10:37] HonzaMac commented on #542
V6 stable works great in our repository, we just need little adjustments.
Thanks 🎉

[2022-03-16 10:44] ST-DDT commented on #623
Yeah the generator patterns should be in the locale definitions as well (v6.2 or later).

Maybe add `''` as prefix for now, that way you don't get undefined in those texts anymore.
The extra space in the city names is hopefully negligible.

[2022-03-16 10:53] ST-DDT commented on #542
What kind of adjustments? Did some types/methods change from 5.5.3 to v6.0.0?

[2022-03-16 12:57] Shinigami92 commented on #542
@HonzaMac

1. We have a fix for that planned here: https://github.com/faker-js/faker/pull/200
2. You should use `import { faker as fakerStatic } from '@faker-js/faker';`, `import FakerLib from 'faker/lib'` should not be available at all, so I assume you just want to load `require(`@faker-js/faker/locales/${locale}`)` and then merge every into one new faker instance constructed manually.

So someth

[2022-03-16 13:37] ST-DDT commented on #542
Why merge it? AFAICT these instances are exactly what they need/re-create.
require(`@faker-js/faker/locale/${rndLocale}`)

Maybe we should export the locales as well.
@HonzaMac What do you think?

This is the old import from 553 for comparison.

[2022-03-16 14:02] Shinigami92 commented on #542
Yeah yeah, we should, but that means we need to change stuff in our bundling process, and that's something I would like to tackle in v7+
Don't we have an issue to track this? If not, we could open one to track it.

[2022-03-16 18:24] wilker-dotgroup opened #627 "Get the ".last()" value generated of a module"
### Clear and concise description of the problem

As a developer using faker I want to use some method e.g. `faker.internet.url.last()` to get the latest value generated for this call.
If no previous value was generated, this method (or prop) executes like the same `faker.internet.url()` call.
So that helps me to avoid create an auxiliary var just to keep this value to use again in another field i

[2022-03-16 19:08] Shinigami92 commented on #627
Interesting idea, but why don't you just safe it in a local var in your code?

[2022-03-16 20:24] xDivisionByZerox commented on #627
I love the idea of a history. But I don't see the responsibility on our side. Since our responsibility is to generate fake data. Not keep track of returned results IMO.

[2022-03-16 20:48] Shinigami92 commented on #542
@joequincy I really don't understand why, because we exported it as normal and as default

https://github.com/faker-js/faker/blob/c5df7ee507343086a3b35217aa1d44991023537e/src/index.ts#L33-L37

The only thing I could think of would be that esbuild mess up with something :shrug:
I can promise you, using the new syntax `{ faker }` will be the long time supported one.
I hope we can move to v7 fast...

[2022-03-16 20:53] wilker-dotgroup commented on #627
Well, I use some other generators and I like this approach in one of them, that is to get the last password generated. When using faker I missed something like this but there is no problem to use a var to store it.
In my code, I'm using faker to compound some POST and PUT requests and some fields need the same values. This pkg mounts the request chaining the .field('foo','bar') call, and I thought

[2022-03-16 21:06] joequincy commented on #542
Yeah, I've updated our imports already and it's an otherwise seamless version bump. I do think either this should be called out in the release notes as a breaking change or the build process should be tweaked so that `require`s continue to work as before for the 6.x line, but I don't have a strong preference which direction to go there. It was just a jarring breakage.

[2022-03-16 21:29] Shinigami92 commented on #542
We do have the migration guide: https://fakerjs.dev/migration-guide-v5/#tree-shaking
Hopefully this is at least a bit helpful

[2022-03-17 01:53] JessicaSachs opened #628 "Add Panda with Ukranian Flag 🇺🇦"
### Clear and concise description of the problem

👋🏻 I'd like to promote awareness about the war in Ukraine by adding a Ukranian flag to our beloved Panda. I've already added the little guy to Twitter.

### Suggested solution

**Straightened** (This looks best in avatars like Twitter + Discord)
<img src="https://user-images.githubusercontent.com/2801156/158720875-182fd7ff-7085-4cc3-8630-b79d6c3c16

[2022-03-17 09:39] ST-DDT commented on #627
How about a `fork()` method? That way you can achieve the same.
The fork would create a new independent faker instance with the exact same values (including the seed).
That way, you can reproduce the exact same behavior as `last()`. It can even be used for `last(number)`.

[code]

Another alternative would be using a seed `snapshot()` and `restore()` mechanism.

[2022-03-17 10:42] Shinigami92 commented on #628
I think it's okay to do this in social media platforms like twitter, but IMO GitHub is a political-free place. So I wont like to have this in the Repository.

As you also can see, there is also already one downvote from @xingming2020. I don't know the reason behind this downvote, but this shows me already that there are people in the community - especially around russia and china - that could feel

[2022-03-17 10:57] Shinigami92 commented on #627
This actually sounds much more helpful 🤔
Because with that you could solve some even more complex tasks _I think_

[2022-03-17 13:37] HonzaMac commented on #486
@PeterlitsZo maybe this gist can help you https://gist.github.com/DavidWells/a75045c89d6f3d453ef4ab68499550f4 ?

[2022-03-17 14:35] PeterlitsZo commented on #486
Thanks you~ It is OK! Although it do not have some md features helpful.

[2022-03-17 14:55] Shinigami92 commented on #486
I think it’s okay if you start to write in your language. We even have some people like @import-brain who is chinese as far as I know. We can use autotranslate tools to try understand what you want to tell us.

Autotranlated:

我认为如果你开始用你的语言写作就可以了。 据我所知，我们甚至有一些像 @import-brain 这样的中国人。 我们可以使用自动翻译工具来尝试理解您想告诉我们的内容。

[2022-03-17 15:00] import-brain commented on #486
Well, I'm American, but I'm fluent in Chinese. That google translate certainly is...something😅

[2022-03-17 15:04] import-brain commented on #486
@Shinigami92 I think he is asking for the creation of a new method that generates valid markdown.

[2022-03-17 15:44] Shinigami92 commented on #627
We will try to plan something out, but for now I think this is something to target in the _far_ future, so we can focus on the active milestones right now.
In the meanwhile, you are still able safe the value in a local var as suggested.
I personally do not want to quickly implement something, but design a well thought out draft for this feature.

[2022-03-17 19:30] Shinigami92 commented on #623
For now please call `faker.fake('{{address.cityName}}')` as a workaround.

I looked into the implementation of

https://github.com/faker-js/faker/blob/2b934c51e4e090ea169b7ef1ced9881b93f7eb79/src/address.ts#L95-L112

and damn, this is a mess :rofl:
We need to fully rework this implementation, but this will be a breaking change. So I will move this to v7, because there is a workaround for now.

[2022-03-18 23:12] xDivisionByZerox commented on #474
Can this be closed? Should this be documented? Should `null` be a valid value to use the default `RegEx`?

[2022-03-18 23:19] Shinigami92 commented on #474
I think it's documented by TypeScript :thinking:
So yeah, from my side we could close it. (count as invalid usage)
But let's here a second maintainers voice.

[2022-03-19 07:47] jupegarnica opened #635 "Skypack cannot server faker 6.0"
### Describe the bug

Skypack cannot server faker 6.0 so, cannot be used from deno

### Reproduction

https://cdn.skypack.dev/@faker-js/faker@6.0.0

[code]

### Additional Info

_No response_

[2022-03-19 08:35] jupegarnica commented on #635
the beta was working fine:

https://cdn.skypack.dev/@faker-js/faker@6.0.0-beta.0

[2022-03-19 10:53] Shinigami92 commented on #635
Yeah I see the error :thinking:
I will dig into this and try find out what's different between beta.0 and release

[2022-03-19 10:57] Shinigami92 commented on #635
I will compare builds between

https://unpkg.com/@faker-js/faker@6.0.0/package.json and https://unpkg.com/@faker-js/faker@6.0.0-beta.0/package.json

[2022-03-19 11:21] Shinigami92 commented on #635
I ensured that the **cjs** version is running locally in my test folder. So this bug only affects skypack somehow :thinking:

I added the label `s: on hold` as an intent to mark this as waiting on _upstream_. We don't have a label for that (yet) and I'm not sure if we need such a label.

[2022-03-19 11:57] quinnturner commented on #474
While understandably invalid, passing null instead of undefined resulting in an infinite loop is not _great_. I am fine either way, as my call broke the function's contract -> led to invalid behaviour.

[2022-03-19 13:38] ST-DDT commented on #474
AFAICT we don't explicitly handle `null` anywhere in the API, so I don't consider it worth fixing.
( I would rather improve the password generation in general in v7)

[2022-03-19 13:38] #474 closed

[2022-03-19 17:16] Shinigami92 commented on #628
So I visit this issue back and see now that there are 8 downvotes on the initial message and 11 upvotes on my message.
This shows me that already this part of the community seems to think like me.

So I hope it's okay that I just close this now.

[2022-03-19 17:16] #628 closed

[2022-03-19 17:51] hyrious commented on #635
This might be a skypack issue which depends on the "default" field existing in the export: https://github.com/skypackjs/skypack-cdn/issues/269

As a contrast, [esm.sh](https://esm.sh/@faker-js/faker@v6.0.0) and [esm.run](https://esm.run/@faker-js/faker@v6.0.0) both work fine.

[2022-03-19 17:59] Shinigami92 commented on #635
Perfect, thank you @hyrious
We will update the links in docs to mention this links :+1:

[2022-03-21 09:52] ST-DDT commented on #542
No critical issues with the release have been reported.
We will now proceed with merging PRs for `v6.1 - First Bugfixes`.

[2022-03-21 09:52] #542 closed

[2022-03-21 12:48] #466 closed

[2022-03-21 13:14] #479 closed, assigned to xDivisionByZerox

[2022-03-21 13:42] #375 closed

[2022-03-21 14:35] MrGussio opened #643 "Wrong IBAN formatting for Costa Rica"
### Describe the bug

@halvorv and I discovered an error in the generation of Costa Rican IBAN codes. According to multiple sources we have found online ([here](https://www.bccr.fi.cr/en/payments-system/general-information/iban) and [here](https://en.wikipedia.org/wiki/International_Bank_Account_Number#Structure) for example), a Costa Rican IBAN code should consist of in total 22 characters, follo

[2022-03-21 20:11] ST-DDT opened #648 "Improve specification of `Address.countryCode()`"
https://github.com/faker-js/faker/blob/56424709b7ccd7aa7fe6130c78a770a0a901d7b5/src/address.ts#L277-L288

https://github.com/faker-js/faker/blob/56424709b7ccd7aa7fe6130c78a770a0a901d7b5/src/definitions/address.ts#L74-L81

Currently it is not clear whether the method should return a country code related to that locale/language or any of the world.
We should decide on either of these and thus adjust

[2022-03-21 20:21] ST-DDT commented on #648
If we limit it to "related to that locale" ( de -> anyof ['CH', 'DE']), then we have to apply the same logic to some of the other methods too, such as iban generation.

[2022-03-21 20:37] Shinigami92 commented on #648
Maybe this issue is so huge, that we should put it on agenda for team meeting :thinking:

[2022-03-22 08:37] Shinigami92 commented on #113
I will try to create a PR soon that just uses a `/\w+/` regex

[2022-03-22 22:34] MrGussio opened #660 "Extend IBAN tests"
In https://github.com/faker-js/faker/blob/main/test/finance_iban.spec.ts, only a handful of IBAN tests are implemented.
Since the discovery of #646, it seems like a good idea to expand this list to cover all IBANs to check if the generation is actually implemented as expected.

- [ ] AL
- [ ] AD
- [ ] AT
- [x] AZ
- [ ] BH
- [ ] BE
- [ ] BA
- [ ] BR
- [ ] BG
- [ ] CR
- [ ] HR
- [ ] CY
- [ ] CZ
- [

[2022-03-22 23:14] ST-DDT commented on #660
Not sure about this one. Sure tests are nice, but these tests actually just test that the definition is correct.
IMO we have to compare the faker definitions with the official definitions first.
I expect every change to these definitions to be covered by tests, but not every definition.

[2022-03-23 07:03] MrGussio commented on #660
If we construct the tests according to the right definition, we will automatically also find other mistakes if there are any.

The way I discovered the Costa Rica formatting mistake, is that my tests sometimes randomly failed on the IBAN when validating the generated response with [validator.js](https://github.com/validatorjs/validator.js/). Since the same library seems to be used with the tests h

[2022-03-23 08:06] #222 closed

[2022-03-23 08:29] #643 closed

[2022-03-23 08:32] Shinigami92 commented on #660
I would like to have generic test for every IBAN `countryCode` but using a `it.each` for that.
Then if needed a selection of special IBANs that could somehow also be checked via `it.each` in a more complex form 🤔

Otherwise: I'm with @ST-DDT https://github.com/faker-js/faker/issues/660#issuecomment-1075740583

[2022-03-23 08:37] ST-DDT commented on #660
Lets use validator.js for the test:
https://github.com/validatorjs/validator.js/blob/master/src/lib/isIBAN.js#L8

[2022-03-23 08:43] Shinigami92 commented on #660
[https://github.com/validatorjs/validator.js/blob/master/src/lib/isIBAN.js#L8](https://github.com/validatorjs/validator.js/blob/master/src/lib/isIBAN.js?rgh-link-date=2022-03-23T08%3A37%3A12Z#L8)

<img src="https://c.tenor.com/6tlIWiAlT_gAAAAM/cat-impressed-cat-wow.gif"/>

[2022-03-23 17:13] Shinigami92 commented on #329
@pkuczynski We are working on `v6.1`. Would you like to tackle this? Or is it free to be grabbed by someone else?

[2022-03-23 17:17] Shinigami92 commented on #219
This function is marked as deprecated (for removal in v7) and we already want to get rid of the default `['a', 'b', 'c']` (#589)
So I'm not sure if it's worth working on this issue specifically

[2022-03-23 17:24] Shinigami92 commented on #377
#343 solves it in src code, but `date.spec.ts` still use `setFullYear` 🤔

Also waiting on #200 and #576 before doing anything to reduce conflicts

[2022-03-23 17:36] Shinigami92 commented on #528
Was not linked to the PR, already solved

[2022-03-23 17:36] #528 closed

[2022-03-23 17:38] Shinigami92 commented on #547
Needs re-evaluation after #644 was merged

[2022-03-23 17:47] Shinigami92 commented on #332
@ST-DDT Is this still an issue?

[2022-03-23 17:55] Shinigami92 commented on #444
I'm not sure if it's worth to document somewhere that only TypeScript >=4.0 is supported. No library out there has such a documentation note and it's possible to find https://github.com/faker-js/faker/blob/1b08de821588a1d5a2436c177c20d60a66e8a977/package.json#L28

So TS 4.0 is out for around one and a half year now. And it's unusual that you need to rely on prior TS 4.0.
If an additional maintaine

[2022-03-23 18:02] ex-nerd commented on #444
I don't think the restriction in package.json was present when I filed this bug, but yes that's certainly enough to notify developers of the version requirements.

For what it's worth, things actually do work just fine in node 12 and ts 3.9.x ...  just can't extend classes without the `noImplicitAny` flag.

[2022-03-23 18:05] Shinigami92 commented on #444
Yeah, I think that is okay right now. When Node v18 comes out we will also officially drop support for Node v12...
So we move forward anyways 🤷

If you like to, you can also decide to close this issue 🙂

[2022-03-23 18:10] JoCat commented on #547
Now displays Deprecation Warning
![image](https://user-images.githubusercontent.com/13483132/159767273-be931528-a490-4f0d-8ce7-ac3ed5be8c75.png)

[2022-03-23 18:11] ex-nerd commented on #444
Unfortunately, many of us in the enterprise world are stuck with old versions (even AWS lambda only supports v12 and v14). Working on getting that fixed, but it takes awhile to migrate a couple million lines of code.