[2022-09-22 16:27] #1158 closed

[2022-09-26 09:22] #1325 closed

[2022-09-26 10:40] fandrupaw opened #1391 "Blockchain wallet address"
### Clear and concise description of the problem

would be nice to add blockchain wallet address generator

### Suggested solution

wallet address generator

### Alternative

_No response_

### Additional context

_No response_

[2022-09-26 10:48] Shinigami92 commented on #1391
Is this related with

https://github.com/faker-js/faker/blob/05aa9697707fb1f0e7981a2f93db631023042bd3/src/modules/finance/index.ts#L233

Or is it something separat? (_I'm personally not that deep into crypto currency_)

[2022-09-26 11:08] fandrupaw commented on #1391
yes, exactly what I need! Sorry, I missed that

[2022-09-26 11:08] #1391 closed

[2022-09-26 11:12] Shinigami92 commented on #1391
You can search for some terms on our API-Search site: https://fakerjs.dev/api/

Feel free to suggest some additions. Maybe you just searched for `wallet` 🤔

[2022-09-26 20:08] ST-DDT commented on #818
The jsdocs part will be handled here: https://github.com/faker-js/faker/pull/1397

[2022-09-29 14:50] #1278 closed

[2022-09-29 16:19] ST-DDT commented on #1258
This requires breaking changes because the current api takes a Record to store the values.
We will change the unique store to be either a `Set<T>` or an `T[]` or `add(T) => boolean`.

[2022-10-01 06:13] sunadoi commented on #813
Could you assign to me?

[2022-10-01 07:23] #1326 closed

[2022-10-02 09:52] Shinigami92 commented on #1245
In last weeks meeting, we discussed to try a branch-process like this:

<img src="https://user-images.githubusercontent.com/7195563/193448077-554894ff-7256-4aba-ad96-2ad32588c7fe.png" width="400px"/>

Today (in shower :smile:) an issue raised into my mind!
What will happen with links to the `main` branch?

Obviously some of them can just be remapped to the `next` branch. But some historical links

[2022-10-02 10:27] ST-DDT commented on #1245
Permalinks reference commits for a reason.

Why would you reference `main`?

[2022-10-03 07:25] KevinMind opened #1413 "Deterministic values"
### Clear and concise description of the problem

We use fake in several different contexts. It is an amazing tool. However in some contexts, it is valuable to have fully fully  idempotent values returned from faker functions. For example:

- using faker values in storybook stories to ensure that every time you run a story (say in visual regression tools like chromatic) you have exactly the same d

[2022-10-03 07:33] Shinigami92 commented on #1413
I might understand somewhat what you are going for, but anyways: Could you explain the total difference between your proposal and using [`faker.seed()`](https://github.com/faker-js/faker/blob/c51bb307ef74441c4441e9bcda288a77dafb1f40/src/faker.ts#L178-L252)?

[2022-10-03 13:29] ST-DDT opened #1414 "feat: expose textArrayElement as standalone method"
### Clear and concise description of the problem

Currently all `word` methods and the lorem.word method use the same implementation. It is likely that other developers might have a similar usecase for their word lists.

### Suggested solution

Extract and expose the `textArrayElement` method from the `helpers` module.

[code]

### Alternative

_No response_

### Additional context

Source: https:

[2022-10-04 07:29] KevinMind commented on #1413
@Shinigami92, using the example from the docs,

[code]
In this case I can guarantee that `firstRandom` and `secondRandom` are equal to eachother, but I cannot guarantee what the actual value would be.

If my proposal existed, I would be able to do something like

[code]

And I would be able to tell you exactly what the number would be, literally.

To double down on the benefit of such a reality ex

[2022-10-04 21:16] ST-DDT commented on #1413
Why is it important that the value is `50` instead of the "same as last time"?

Please note that even with your suggestion of `idempotent` mode the result would potentially be different if you update faker, because of updates to the underlying locale data.
If you need the exact same values, you have to store them somewhere yourself.
Please note that especially values in the middle are less likely

[2022-10-05 06:59] xDivisionByZerox commented on #1358
This is a duplication of #1294.

[2022-10-05 06:59] #1358 closed

[2022-10-05 14:11] KevinMind commented on #1413
Great questions and alternatives @ST-DDT.

### Why is it important that the value is 50 instead of the "same as last time"?

The `same as last time` is good if you want to be able to recall the same value within a single "session" spanning the length of the seed. So yeah, seeds are great.

However, I want to be able to basically make a seed that lasts across multiple sessions. I want to be able to

[2022-10-05 15:59] ST-DDT commented on #1413
Just for clarification purposes.

[code]

Will result in 100% reproducible results (if you use the same faker version e.g. 7.5.0.)
Try it out. It does not matter where you run it or when, it will always result in the same result.
As long as you execute the faker methods in the same order, you will get the same result.

We have test suits to ensure we always get predictable results: https://github.

[2022-10-06 11:20] KevinMind commented on #1413
Hi. So after digging deeper into `seed()` it seems it is better suited than I had initially though, but still there are problems.

Here is a sample repo I setup: https://github.com/Shopify/faker-seed-test

I added chromatic and storybook to test visual snapshots using faker functions to populate the data. When there is a `chromatic=true` URL param then the faker seed is set before storybook initia

[2022-10-06 12:47] KevinMind commented on #1413
Tried some more approaches and maybe found one that works. If I wrap every story definition in a function that sets the seed then I can change the order of stories, and add any number of extraneous faker calls without really breaking the data produced. Seems to work. I will continue trying to break it but it seems indeed that `faker.seed()` can probably help me achieve what I'm looking to achieve.

[2022-10-06 15:46] ST-DDT opened #1415 "Improve reachability of the roadmap"
### Clear and concise description of the problem

I knew the roadmap was there, but it took me one minute to find it in the docs.

### Suggested solution

Add an `About` link to the Guide page (and vice versa).
Add a roadmap to the `About` navbar entry.

Somewhat similar to this page:

![grafik](https://user-images.githubusercontent.com/1579362/194358657-252417f6-d29e-4655-87c2-8a47a67d98e1.png)

[2022-10-07 08:48] Shinigami92 commented on #1096
Today I will try https://github.com/release-it/release-it with some of my personal repos

[2022-10-07 13:30] dbertouille opened #1416 "Invalid zip/postal codes when using locale en_CA"
### Pre-Checks

- [X] Follow our [Code of Conduct](https://github.com/faker-js/faker/blob/main/CODE_OF_CONDUCT.md).
- [X] Read the [Contributing Guidelines](https://github.com/faker-js/faker/blob/main/CONTRIBUTING.md).
- [X] Read the [docs](https://fakerjs.dev/guide).
- [X] Check that there isn't [already an issue](https://github.com/faker-js/faker/issues) that reports the same bug to avoid creati

[2022-10-07 13:39] Shinigami92 commented on #1416
Oh interesting, I assume you don't mean the first letter but following letters?

https://github.com/faker-js/faker/blob/7327e6e6fd4061f10647a5fabf437406c9ee8066/src/locales/en_CA/address/postcode.ts

We don't have a strategy yet for post validating content generated by pattern :thinking:

Could you provide some **invalid** generated postcodes? We can use these e.g. for negative tests.

[2022-10-07 14:00] KevinMind commented on #1413
@ST-DDT Can you correct me if I'm wrong, using a seed should result in 100% deterministic data? Does that include for date/time calls? Looks like when calling for dates or git methods that use date-time strings return different values each time. Is this expected?

<img width="967" alt="image" src="https://user-images.githubusercontent.com/19595165/194571306-50d278dd-6348-4767-8a37-6358e3dcd0fc.png

[2022-10-07 14:13] Shinigami92 commented on #1413
Currently yes, you need to pass a `refDate` otherwise the reference Date would be `now`.

[2022-10-07 14:22] dbertouille commented on #1416
For sure. Here are some examples.

[code]

The following script can be used to generate more examples.

[code]

[2022-10-07 14:34] Shinigami92 commented on #1416
Our internal resources are currently filled with preparing the move to start with v8, So I'm sorry if we cannot handle a fix right now.
Also we might think about a robust strategy to handle this bug in a higher order.

Until then, would it be okay to just use a loop until a valid postcode was generated?

[2022-10-07 14:55] dbertouille commented on #1416
No problem, I can work around it. Thanks for the quick response!

[2022-10-09 19:26] #1131 closed

[2022-10-09 19:32] #1415 closed

[2022-10-09 20:11] #813 closed

[2022-10-10 12:07] fzn0x opened #1426 "Add nanoid for uuid alternatives"
### Clear and concise description of the problem

nanoid is a great alternative for uuid, it is had less complexity and size.

it is commonly used for blog post unique urls.

### Suggested solution

Add nanoid, the logic should based on https://github.com/ai/nanoid

### Alternative

No alternative for https://github.com/ai/nanoid

### Additional context

_No response_

[2022-10-10 19:31] import-brain commented on #1426
I would be for this, seems like a good feature to have.

[2022-10-10 20:07] ST-DDT commented on #1426
Blocked till the string module is introduced and the major shuffle for v8 is completed.

[2022-10-11 20:16] ST-DDT opened #1431 "Set lint warnings to error"
### Clear and concise description of the problem

We previously fixed all lint warnings in our code, then we accidentally introduced a lint "warning" to our code.

### Suggested solution

Set lint levels to error, so that the build pipeline fails, if these things are added.

### Alternative

Manually check for lint warnings in each PR.

### Additional context

_No response_

[2022-10-11 20:24] xDivisionByZerox commented on #1431
I like the idea. We have these rules for a reason, no reason to allow bypassing them.

[2022-10-11 22:49] brenno263 commented on #1324
I'd like to be assigned this issue please.

[2022-10-12 19:22] Shinigami92 opened #1436 "CI throws warnings to upgrade deprecated commands"
Example: https://github.com/faker-js/faker/actions/runs/3234394475/jobs/5298373214#step:3:7

<details>
<summary>Details</summary>

[code]

</details>

<img src="https://user-images.githubusercontent.com/7195563/195429419-b5c22596-9ef5-4dae-a081-bdc1f9ada3b5.png" width="400px"/>

[2022-10-12 21:51] ST-DDT commented on #1436
Will this be fixed by https://github.com/faker-js/faker/pull/1433 ?

[2022-10-13 02:40] shu-pf opened #1437 "The format of the email address output in Japanese is not correct."
### Pre-Checks

- [X] Follow our [Code of Conduct](https://github.com/faker-js/faker/blob/next/CODE_OF_CONDUCT.md).
- [X] Read the [Contributing Guidelines](https://github.com/faker-js/faker/blob/next/CONTRIBUTING.md).
- [X] Read the [docs](https://fakerjs.dev/guide).
- [X] Check that there isn't [already an issue](https://github.com/faker-js/faker/issues) that reports the same bug to avoid creati

[2022-10-13 06:46] Shinigami92 commented on #1437
We do not provide utility functions that are not based on the underlying seed, but you might have luck with e.g. https://www.npmjs.com/package/hepburn and pass the values to the `internet.email` function.

Please use that for a workaround for now as we are now in a maintenance state with faker to move forward to v8.
So unless something it really critical we wont have the time and resources to fix

[2022-10-13 06:48] Shinigami92 commented on #1436
Having a look into their changes: https://github.com/pnpm/action-setup/compare/v2.2.2...v2.2.3
I highly assume: NO, it will not fix it at all

[2022-10-13 07:58] shu-pf commented on #1437
Thanks for the reply.

I checked Hepburn.
This library can convert Hiragana and Katakana, but not Kanji.
The names provided by Faker are in Kanji. It seems difficult to solve the problem here.

[2022-10-13 09:27] Shinigami92 commented on #1437
@shu-pf The linked package was just a quick search with a search engine. I assume you are smart enough to find a suitable npm package for your need very quickly 😉
The process would still be the same: transform and use that as input

[2022-10-13 10:46] shu-pf commented on #1437
@Shinigami92
I have not checked all packages, but I don't think there is a package that converts Kanji to Romaji.
Conversion between kanji and romaji cannot be done mechanically, becose there are multiple patterns and some conversions that are not listed in the dictionary.
Hiragana has a one-to-one relationship with romaji, so it is assumed that a package exists.

So it would be necessary to manua

[2022-10-13 11:01] Shinigami92 commented on #1437
So how in the world should Faker then provide a functionality for that 👀
I don't see the responsibility on our side for doing that 🤔
Currently emails will be generated just by first and last name.
Do you have any proposal how to handle that for japanese instead of converting kanji and romaji?

[2022-10-13 11:34] ST-DDT commented on #1437
I think we could base32(?) encode the incompatible characters. That wont yield nice email addresses, but usable and reproducible ones.

[2022-10-13 12:11] shu-pf commented on #1437
@Shinigami92

I think the only way is to make a table of correspondence between kanji and romaji and use it.

I don't have a deep understanding of the current code, but if I were to write the code.
First prepare two tables.

last_name.ts

[code]

last_name_romaji.ts

[code]

And for names, use the 'last_name.ts'.
For e-mail, use the 'last_name_romaji.ts'.

It takes a lot of effort to have this don

[2022-10-13 14:22] ST-DDT commented on #1245
Done

[2022-10-13 15:38] ST-DDT commented on #349
**Team decision**

- We don't see the necessity to change this atm.
- We will reconsider it, if there is greater user interest.

[2022-10-13 15:38] #349 closed

[2022-10-13 16:06] Shinigami92 commented on #1354
Hi @wael-fadlallah we released the final v7 and now going into development for v8
Please create a PR with this change, so that we can review and merge it

[2022-10-13 16:06] Shinigami92 commented on #1294
Hi @Minozzzi we released the final v7 and now going into development for v8
Please create a PR that removes the hard coded fallback, so that we can review and merge it

[2022-10-13 16:25] Shinigami92 opened #1439 "Remove `@deprecated` code"
Remove code marked with `@deprecated`

[2022-10-13 16:46] Shinigami92 commented on #1348
Blocked by
- #1440

[2022-10-13 16:49] Minozzzi commented on #1294
I don't exactly have the correct pattern for company names in these locales, would there be any correct way to search?

[2022-10-13 17:40] ST-DDT commented on #1294
You dont have to search. Just remove the hardcoded pattern. If a user needs a pattern for that locale, they will hopefully contact us with the right pattern or they will use the en locale fallback.

[2022-10-13 17:58] Shinigami92 opened #1441 "Add global locale"
We want to move global locale data out of locale definitions to their related modules.
These data are the same for every language and therefore doesn't need to exist in locale `en` or be override-able by any other locale.

Example: mime-types, emojis, ...

[2022-10-13 18:04] Shinigami92 opened #1442 "Move internal code to own files"
We have code that are not exported as they are e.g. just utility functions that are not based on the faker seed.
These should be moved to separate files inside their modules or moved into a common folder if they are used by multiple modules.

For some code we even might need to flag them with the JSDoc tag `@internal` so no `.d.ts` files will be generated for them.

[2022-10-13 18:08] Shinigami92 opened #1443 "Extract type definitions that might be used across modules"
We have some types like `Casing` that can be reused be multiple module functions.
Also we might want to extract a `Range` or an interface that defines a length or range that can then be used by all functions that have a length or min-max signature.

Decision to discuss: We might want to change all length-only signatures to also accept a min-max option.

[2022-10-13 18:48] Shinigami92 commented on #1294
Yeah, you might have misunderstood something :slightly_smiling_face:
Just remove `staticFormats` that was marked with `ToDo`

https://github.com/faker-js/faker/blob/1ab33c5caf323d25bd21b3b3afaf8af3686207b4/src/modules/company/index.ts#L51-L56

[2022-10-13 20:02] Minozzzi commented on #1294
Ohh, I really got it wrong, sorry for the long time gone by. I'll adjust it

[2022-10-13 20:07] Shinigami92 commented on #1294
No need to be sorry! You actually can even now start with it, as before we were on v7.

[2022-10-14 13:41] ST-DDT opened #1446 "Introduce fakeArrayElement helpers"
### Clear and concise description of the problem

In a lot of places we have a list of patterns in our locales that should be processed by `fake()`.

So the code usually looks like this:

[code]

### Suggested solution

Add a new method that combines these two method calls into a single call:

[code]

### Alternative

Change the `fake()` method to take both a `string` and `string[]` and if it is a

[2022-10-14 13:42] ST-DDT commented on #1446
The more I think about it the more I like the alternative.

[2022-10-14 17:31] ejcheng commented on #1446
Yeah, I also think the alternative would be better than a new method.

[2022-10-14 19:29] #1439 closed, assigned to Shinigami92

[2022-10-14 21:19] domingo2000 opened #1449 "CONTRIBUTING.md has swapped Do/Dont in JS Doc empty line section"
### Pre-Checks

- [X] Follow our [Code of Conduct](https://github.com/faker-js/faker/blob/next/CODE_OF_CONDUCT.md).
- [X] Read the [Contributing Guidelines](https://github.com/faker-js/faker/blob/next/CONTRIBUTING.md).
- [X] Read the [docs](https://fakerjs.dev/guide).
- [X] Check that there isn't [already an issue](https://github.com/faker-js/faker/issues) that reports the same bug to avoid creati

[2022-10-14 22:45] #1449 closed, assigned to domingo2000

[2022-10-14 23:33] #1294 closed

[2022-10-14 23:43] #1354 closed

[2022-10-14 23:49] #1348 closed

[2022-10-15 13:50] matthewmayer opened #1454 "en_IND should be an alias for en_IN in v8"
### Pre-Checks

- [X] Follow our [Code of Conduct](https://github.com/faker-js/faker/blob/next/CODE_OF_CONDUCT.md).
- [X] Read the [Contributing Guidelines](https://github.com/faker-js/faker/blob/next/CONTRIBUTING.md).
- [X] Read the [docs](https://fakerjs.dev/guide).
- [X] Check that there isn't [already an issue](https://github.com/faker-js/faker/issues) that reports the same bug to avoid creati

[2022-10-15 17:13] ST-DDT opened #1456 "Add banner to next.fakerjs.dev"
### Clear and concise description of the problem

Currently is it hard to spot whether you are on a production branch or our development branch.

Alternatively

### Suggested solution

Show a banner with a hint that the users is currently viewing the development branch.

It might be useful to always show the banner if the hostname is not `fakerjs.dev`.

The banner should contain a link to the prod

[2022-10-15 19:56] wael-fadlallah commented on #1454
@matthewmayer Do you have any insight about how to accomplish this?

[2022-10-15 20:27] Shinigami92 commented on #1454
I think we can just add an `if->rewrite` here:

https://github.com/faker-js/faker/blob/0f9b0c64e556349cd02d54cb78a780373b2ddb97/src/faker.ts#L53-L60

But to be fully backward compatible, we also need to allow the old locale in the `UsableLocale` TypeScript type :thinking:

[2022-10-15 20:56] ST-DDT opened #1457 "Allow passing empty string to fake()"
### Clear and concise description of the problem

Currently, I have to write special handling for empty strings because I cannot pass it to `fake()`.

### Suggested solution

Do not explicitly block empty strings and just return an empty string.

### Alternative

_No response_

### Additional context

JS has the `repeat()` method (and others).
It is also possible to call it on an empty string or r

[2022-10-16 03:27] SamRett commented on #184
Any updates regarding the state of this issue? if the StringModule update is live then this would be a useful addition. If possible, I would like to champion the issue as well

[2022-10-16 06:56] ST-DDT commented on #184
We are currently updating and reviewing the string module PR. It will probably take a few more days before this can be started.
https://github.com/faker-js/faker/pull/1155

@Minozzzi asked first. Are you still interested in this or can @SamRett take your spot?

[2022-10-16 07:10] SamRett commented on #184
If @Minozzzi would still like to champion it, that's perfectly okay as well :). Wanted to throw my name in the metaphorical hat, so let me know what you guys think! He bid first so I don't want to unduly take away the right.

[2022-10-16 17:28] Shinigami92 commented on #1456
@brc-dd told me we can use `layout-top` https://vitepress.vuejs.org/guide/theme-introduction#layout-slots for that :+1:
I can tackle this, if no one else is interested in this. But first I would like to get some other of my PRs in a review-able state or even merged, so I don't have too many branches open from my site.

[2022-10-16 19:06] Minozzzi commented on #184
Hi @SamRett I've been very busy the last few days. So, you can have fun with this task ;)

[2022-10-16 20:05] #1343 closed

[2022-10-16 22:57] SamRett commented on #184
Thank you! Please let me know when the StringModule update is ready. Once it is out, I can begin development/testing!

Until then, thank you both!

[2022-10-17 12:33] Shinigami92 commented on #184
@xDivisionByZerox can you provide info about how the progress of #1155 is going?
If you do not have the time currently, also let us know and someone else can take it over

[2022-10-17 13:40] xDivisionByZerox commented on #184
Feel free to take #1155 if you have time on your hand.

[2022-10-17 16:17] VodekKwasniak opened #1464 "Return values differ between package version"
### Pre-Checks

- [X] Follow our [Code of Conduct](https://github.com/faker-js/faker/blob/next/CODE_OF_CONDUCT.md).
- [X] Read the [Contributing Guidelines](https://github.com/faker-js/faker/blob/next/CONTRIBUTING.md).
- [X] Read the [docs](https://fakerjs.dev/guide).
- [X] Check that there isn't [already an issue](https://github.com/faker-js/faker/issues) that reports the same bug to avoid creati

[2022-10-17 16:22] Shinigami92 commented on #1464
It's not a bug, but seems we are missing documentation about that

The deterministic can only be within one exact version and change when you upgrade to a different version
All methods depend on the same seed generator and therefor if we change any function in e.g. accessing the generator one time more or less the whole output can change.

[2022-10-17 16:25] Shinigami92 commented on #184
Yeah, thx for letting me know
Will take it over immediately

[2022-10-17 16:37] VodekKwasniak commented on #1464
Thank you, @Shinigami92 , worth to know, will pin version in my project then :)

[2022-10-17 20:29] Shinigami92 opened #1465 "Rename `bannedChars` and `bannedDigits` in string module"
Extracted out of https://github.com/faker-js/faker/pull/1155#discussion_r922645362

The parameter names `bannedChars` and `bannedDigits` could be unified to e.g.:
- except
- without
- exclude

This needs to be done in v8.0 so we do not make breaking changes later on

[2022-10-17 20:33] Shinigami92 opened #1466 "Improve readability of `string.uuid`"
Extracted from https://github.com/faker-js/faker/pull/1155#discussion_r967532808

In the string module's uuid method we have a code snippet using bit operations

[code]

We want to get rid of these as they are hard to understand
This might result in a deterministic generated value change, but that's okay

[2022-10-17 20:36] Shinigami92 opened #1467 "New method: `string.special`"
### Clear and concise description of the problem

Extracted from https://github.com/faker-js/faker/pull/1155#issuecomment-1242676992

### Suggested solution

Add a `string.special` method that returns only special characters

### Alternative

_No response_

### Additional context

_No response_

[2022-10-17 21:02] Minozzzi commented on #1467
Could I work on it?

[2022-10-17 21:09] ST-DDT commented on #1467
Sure, but please wait till the string module PR is merged.

[2022-10-17 21:16] ST-DDT commented on #1466
This probably sets the "version" of the uuid to v4.
https://github.com/uuidjs/uuid/blob/main/src/v4.js#L16

If we add a comment, then it should be fine.

[2022-10-17 22:17] ST-DDT commented on #1317
I'll mark this as bug, because this causes some of our tests to fail, if we change their order.

[2022-10-18 16:33] conner-c commented on #691
I am interested in this issue. May I be assigned, please?

[2022-10-18 16:52] ST-DDT commented on #1349
- [x] [string.hexadecimal doesn't support length without options](https://github.com/faker-js/faker/pull/1155#discussion_r997780989)
- [x] [string.sample doesn't support options](https://github.com/faker-js/faker/pull/1155#discussion_r997769964)

[2022-10-18 17:13] ejcheng commented on #691
Sure!

[2022-10-18 17:25] ST-DDT opened #1468 "Regenerate example values for string module"
The examples values for each call have been copied from the original place where case = lower was the default.
The examples should be regenerated to reflect that and other changes.

can be started after #1155

[2022-10-18 17:29] #1341 closed

[2022-10-18 17:43] ejcheng commented on #1468
I can take this one

[2022-10-18 17:46] Shinigami92 commented on #1467
@Minozzzi you can start

[2022-10-18 17:47] Shinigami92 commented on #184
@SamRett you can start

[2022-10-18 19:27] piotrekn opened #1470 "faker.random.arrayElement is not a function"
### Pre-Checks

- [X] Follow our [Code of Conduct](https://github.com/faker-js/faker/blob/next/CODE_OF_CONDUCT.md).
- [X] Read the [Contributing Guidelines](https://github.com/faker-js/faker/blob/next/CONTRIBUTING.md).
- [X] Read the [docs](https://fakerjs.dev/guide).
- [X] Check that there isn't [already an issue](https://github.com/faker-js/faker/issues) that reports the same bug to avoid creati

[2022-10-18 19:34] #1470 closed, assigned to nobody

[2022-10-18 22:19] ST-DDT opened #1471 "src/locales/*/address/city.ts is inplausible"
https://github.com/faker-js/faker/blob/79858fea203bce7ada9e9bcc7751f6ab25123977/src/locales/en_AU_ocker/address/city.ts#L1

It should most likely point to `city_name` or be deleted.

**Note:** After #1469 is merged these files will then be located under `src/locales/*/location/city.ts`.

[2022-10-18 22:19] ST-DDT commented on #1471
On hold till #1469 is fixed.

[2022-10-18 22:24] ST-DDT commented on #1471
Also

https://github.com/faker-js/faker/blob/79858fea203bce7ada9e9bcc7751f6ab25123977/src/locales/en_NG/address/city.ts#L1

[2022-10-18 22:26] ST-DDT commented on #1471
Also

https://github.com/faker-js/faker/blob/79858fea203bce7ada9e9bcc7751f6ab25123977/src/locales/en_ZA/address/city.ts#L1

[2022-10-18 22:27] ST-DDT commented on #1471
Also

https://github.com/faker-js/faker/blob/79858fea203bce7ada9e9bcc7751f6ab25123977/src/locales/es/address/city.ts#L1

[2022-10-18 22:31] ST-DDT commented on #1471
https://github.com/faker-js/faker/blob/79858fea203bce7ada9e9bcc7751f6ab25123977/src/locales/es_MX/address/city.ts#L1

[2022-10-18 22:36] Kcops11 commented on #1466
Can I be assigned to this?

[2022-10-18 22:48] ST-DDT opened #1472 "src/locales/*/address/street.ts is implausible"
https://github.com/faker-js/faker/blob/79858fea203bce7ada9e9bcc7751f6ab25123977/src/locales/fr/address/street.ts#L1

The file should either be deleted or replaced with the English one.

**Note:** After #1469 is merged these files will then be located under `src/locales/*/location/city.ts`.

[2022-10-18 22:48] ST-DDT commented on #1472
On hold till #1469 is fixed.

[2022-10-18 22:55] ST-DDT commented on #1471
https://github.com/faker-js/faker/blob/79858fea203bce7ada9e9bcc7751f6ab25123977/src/locales/fr_BE/address/city.ts#L1-L4

[2022-10-18 22:58] ST-DDT commented on #1472
https://github.com/faker-js/faker/blob/79858fea203bce7ada9e9bcc7751f6ab25123977/src/locales/fr_BE/address/street.ts#L4

[2022-10-18 23:03] ST-DDT commented on #1472
https://github.com/faker-js/faker/blob/79858fea203bce7ada9e9bcc7751f6ab25123977/src/locales/fr_CH/address/street.ts#L1

[2022-10-18 23:19] ST-DDT commented on #1471
https://github.com/faker-js/faker/blob/79858fea203bce7ada9e9bcc7751f6ab25123977/src/locales/nl_BE/address/city.ts#L1-L4

[2022-10-18 23:23] ST-DDT commented on #1472
https://github.com/faker-js/faker/blob/79858fea203bce7ada9e9bcc7751f6ab25123977/src/locales/pt_PT/address/street.ts#L1-L7

[2022-10-18 23:27] ST-DDT commented on #1471
https://github.com/faker-js/faker/blob/79858fea203bce7ada9e9bcc7751f6ab25123977/src/locales/sv/address/city.ts#L1

[2022-10-18 23:32] ST-DDT commented on #1471
https://github.com/faker-js/faker/blob/79858fea203bce7ada9e9bcc7751f6ab25123977/src/locales/zh_CN/address/city.ts#L1

[2022-10-18 23:33] ST-DDT commented on #1471
https://github.com/faker-js/faker/blob/79858fea203bce7ada9e9bcc7751f6ab25123977/src/locales/zh_TW/address/city.ts#L1

[2022-10-18 23:52] ST-DDT commented on #1472
I might have missed some files, so the other `street.ts` files should be checked again.

[2022-10-18 23:52] ST-DDT commented on #1471
I might have missed some files, so the other `city.ts` files should be checked again.

[2022-10-20 21:49] #1468 closed, assigned to ejcheng

[2022-10-21 11:29] #1344 closed

[2022-10-21 18:01] Vslava opened #1474 "add options to faker.internet.url()"
### Clear and concise description of the problem

faker.internet.url() produces URLs in `http://www.url.com` format (format 1).
There isn't any slash in the end of this URL. If I invoke `new URL('http://www.url.com').toString()`,
I'll get URL `http://www.url.com/` (format 2). A problem is that I use `https://github.com/Urigo/graphql-scalars`
and GraphQLURL resolver transforms URL from format 1 to

[2022-10-21 18:15] Shinigami92 commented on #1474
I think we can introduce an option that will be default to `faker.datatype.boolean()` :thinking:
But havn't thought deeply about that, might discuss with other members.

[2022-10-21 20:05] domingo2000 commented on #953
Giving that different cloud providers could have different region names and avaliabilities, it would i think it woul be nicer if the module `cloud` got separated for different providers, so i should say that the formar `faker.cloud.aws.region()` is more Open Closed than `faker.cloud.region(provider= 'aws')`, for example we could define more cloud resources with the first choice like
For AWS:
   -

[2022-10-21 20:10] Shinigami92 commented on #953
The only issue about that is that we want to get rid of sub-modules :thinking:
We already want to redesign the image-providers which is a bit similar to what you proposing.

[2022-10-21 20:35] domingo2000 commented on #953
True, I belive that some of the problems of the image-provider could appear here, because some cloud services change often. Some cloud Iaac solutions still separate by cloud providers, see [Terraform Namespaces](https://registry.terraform.io/namespaces/hashicorp), it has one namespace for each big cloud provider, because the buisness logic of each is very different. There might be some organizatio

[2022-10-22 08:28] ST-DDT commented on #953
I dont think we should get rid of the sub modules per se.
The image provider is just inconsistent on how its implemented.

If were are going for submodules, then we have to adjust the docs generation to support it. I think we shouldnt go for sub sub modules though.

[2022-10-22 08:41] ST-DDT opened #1475 "Support sub modules or not"
### Clear and concise description of the problem

Currently, we have sub modules e.g. the image providers. But they arent supported by our docs generation.

### Suggested solution

Decide whether we want sub modules or not.

If we want them, then they should be properly supported by the docs generation.
If not, we should deprecate them for removal.

### Alternative

_No response_

### Additional c

[2022-10-22 08:45] ST-DDT commented on #1475
IMO it is OK to have them, maybe we should add a hint to them that these are external modules and thus may break somewhen in the future.

[2022-10-22 08:46] Shinigami92 commented on #1475
I currently feel like I have much todo (in other projects), but as I want to champion the image module, I will try to first find a way of getting rid of the image providers as it is currently in v7.
If I didn't find a successful way the team accepts, then I'm going with the team and we might need to support these sub modules officially.

Linking:
- #1350

[2022-10-22 08:50] ST-DDT commented on #953
See also:
* https://github.com/faker-js/faker/issues/1475

[2022-10-23 05:17] Vslava commented on #1474
@Shinigami92 Thank you for your answer but I wrote about `faker.internet.url()`. Are both `faker.datatype.boolean()` and `faker.internet.url()` connected?

[2022-10-23 08:01] ST-DDT commented on #1474
I think @Shinigami92 is referring to a potentially new parameter:

[code]

[2022-10-23 09:07] Shinigami92 commented on #1474
Exactly what @ST-DDT wrote, but as option, so it's extensible in future:
[code]

[2022-10-23 13:14] matthewmayer opened #1479 "@since values are wrong for faker.person.*"
### Pre-Checks

- [X] Follow our [Code of Conduct](https://github.com/faker-js/faker/blob/next/CODE_OF_CONDUCT.md).
- [X] Read the [Contributing Guidelines](https://github.com/faker-js/faker/blob/next/CONTRIBUTING.md).
- [X] Read the [docs](https://fakerjs.dev/guide).
- [X] Check that there isn't [already an issue](https://github.com/faker-js/faker/issues) that reports the same bug to avoid creati

[2022-10-23 15:04] ejcheng commented on #1474
I can take this

[2022-10-23 15:12] ejcheng commented on #1474
While we're adding the `appendSlash` param, should we also add a param for users to pick whether they want an `https` or `http` url?

[2022-10-23 16:08] ST-DDT commented on #1474
It probably doesn't hurt to add it. Though the default should be `https` (or a random one).
I'm not yet sure what to call the `appendSlash` option yet. Because I could imagine, that we also end up with adding `includePath`/`includeQueryParameter`/`includeFragement` (in a later PR?). So the question would then be "where"?

Please also adjust the methods docs to reflect that this method is about HTT

[2022-10-23 19:49] ejcheng commented on #1474
I'll put it as `appendSlash` for now, we can change the naming before we merge the PR if you want.

[2022-10-24 21:35] ST-DDT commented on #1479
I have been looking at this multiple times now.
I'm still not sure about it, but I think it will be better, if we change the `@since` values accordingly.

[2022-10-25 06:33] Shinigami92 commented on #1479
Is it okay if we talk about this next meeting?

[2022-10-25 06:41] Shinigami92 commented on #1349
- [ ] Merge sentences options https://github.com/faker-js/faker/pull/1486/files#diff-6a52f070da035438588918337a536421fd92d4d78ef4998bf140f6fd925b8974R140-R143

[2022-10-26 14:20] jansepke opened #1489 "Using a seed produces different data when updating from 7.5.0 to 7.6.0"
### Pre-Checks

- [X] Follow our [Code of Conduct](https://github.com/faker-js/faker/blob/next/CODE_OF_CONDUCT.md).
- [X] Read the [Contributing Guidelines](https://github.com/faker-js/faker/blob/next/CONTRIBUTING.md).
- [X] Read the [docs](https://fakerjs.dev/guide).
- [X] Check that there isn't [already an issue](https://github.com/faker-js/faker/issues) that reports the same bug to avoid creati

[2022-10-26 15:19] Shinigami92 commented on #1489
Closing as duplicate of
- #1464

[2022-10-26 15:19] #1489 closed, assigned to nobody

[2022-10-26 17:47] harsha7addanki opened #1490 "What Happened To the Endgame Commit"

[2022-10-26 17:54] Shinigami92 commented on #1490
I think it is findable via an internet archive, but not in this repo :shrug:

[2022-10-26 17:56] #1490 closed, assigned to nobody

[2022-10-26 18:27] ST-DDT commented on #1490
This project is a continuation of the original project after that got nuked by the author.
The original repository has since been deleted.

[2022-10-26 20:42] #1474 closed, assigned to ejcheng

[2022-10-26 20:48] ST-DDT commented on #1464
I think I will write a new page regarding reproducibility of our results and other related suggestions/workarounds for this.

[2022-10-27 20:29] ST-DDT commented on #1454
@Shinigami92 We cannot do that there, because the import has changed. And in v8 we will stop changing/addressing locales via their names/keys.

[2022-10-28 10:01] #1456 closed, assigned to nobody

[2022-10-29 13:38] matthewmayer opened #1497 "Banner doesn't show on https://v6.fakerjs.dev/ and https://v7.fakerjs.dev/"
### Pre-Checks

- [X] Follow our [Code of Conduct](https://github.com/faker-js/faker/blob/next/CODE_OF_CONDUCT.md).
- [X] Read the [Contributing Guidelines](https://github.com/faker-js/faker/blob/next/CONTRIBUTING.md).
- [X] Read the [docs](https://fakerjs.dev/guide).
- [X] Check that there isn't [already an issue](https://github.com/faker-js/faker/issues) that reports the same bug to avoid creati

[2022-10-29 13:41] Shinigami92 commented on #1497
Yes, we have special branches:
- https://github.com/faker-js/faker/tree/v6
- https://github.com/faker-js/faker/tree/v7
- https://github.com/faker-js/faker/tree/v8

We would need to open a PR to backport stuff from `next` to `v7` and so on.

[2022-10-29 13:43] matthewmayer opened #1498 "docs/guide/usage.md references faker.person.findName but no such method exists in v8"
### Pre-Checks

- [X] Follow our [Code of Conduct](https://github.com/faker-js/faker/blob/next/CODE_OF_CONDUCT.md).
- [X] Read the [Contributing Guidelines](https://github.com/faker-js/faker/blob/next/CONTRIBUTING.md).
- [X] Read the [docs](https://fakerjs.dev/guide).
- [X] Check that there isn't [already an issue](https://github.com/faker-js/faker/issues) that reports the same bug to avoid creati

[2022-10-29 16:09] ST-DDT commented on #1498
We will publish an upgrade guide when releasing v8 that will list all required/recommended method changes, so I dont think it is necessary to keep it.

As for the actual bug, yes, it should be fixed.

If possible we should add a test/check to the docs/examples and deprecations.spec.ts, that ensures that docs/guide and the readme dont contain references to the deprecated `module.method`s.

Please l

[2022-10-29 16:36] ST-DDT commented on #1497
Please backport it to v7 and v6. There is no need to port it to the v8 branch as it will be updated on release.

[2022-10-29 22:13] KevinMind commented on #1413
It seems the only method which is inconsolably random is `faker.git.commitEntry` which includes a random date in the string. If this method allowed for a date method, we would be 100% good to go. I could have a look and open a PR if you are not against such an option?

[2022-10-30 01:18] ST-DDT commented on #1413
Yes, the git commit method should have an option to use a fixed ref date in order to allow for reproducible results. Your contribution will be appreciated.

----

We are also considering adding a faker.fork method to simplify creating deterministic value sets (e.g. multiple persons).

See this comment for details: https://github.com/faker-js/faker/issues/627#issuecomment-1070650803

[2022-10-30 21:42] markscamilleri commented on #691
Sorry to just pop in, I just wanted to add that some locales (United Kingdom for example) use both hyphenated and non-hyphenated (with the latter having terrible support sadly) - for example: Olivia Newton-John and Andrew Lloyd Webber. There are also some compounded surnames with more than 2 surnames (although as far as I am aware, these are less common)

[2022-10-30 21:45] markscamilleri commented on #691
Sorry to just pop in, I just wanted to add that some locales (United Kingdom for example) use both hyphenated and non-hyphenated (with the latter having terrible support sadly) - for example: Olivia Newton-John and Andrew Lloyd Webber. There are also some compounded surnames with more than 2 surnames which also may or may not be hyphenated (although as far as I am aware, these are less common)

I

[2022-10-31 02:18] matthewmayer opened #1505 "Ecosystem>StackBlitz demo doesn't work on Chrome"
### Pre-Checks

- [X] Follow our [Code of Conduct](https://github.com/faker-js/faker/blob/next/CODE_OF_CONDUCT.md).
- [X] Read the [Contributing Guidelines](https://github.com/faker-js/faker/blob/next/CONTRIBUTING.md).
- [X] Read the [docs](https://fakerjs.dev/guide).
- [X] Check that there isn't [already an issue](https://github.com/faker-js/faker/issues) that reports the same bug to avoid creati

[2022-10-31 09:36] ST-DDT commented on #1505
I tested it with Firefox (W11 Desktop) and it works fine.
Which device type (desktop computer, tablet or mobile phone), OS and browser are you using?

[2022-10-31 09:47] matthewmayer commented on #1505
Chrome 106 desktop, MacOS 12.6

[2022-10-31 09:49] ST-DDT commented on #691
@markscamilleri Yes, but then it would only work for the fullName method. I think, if two ore more names (hypenated or space separated) are possible for surnames in the UK, then we should add some samples to the en(_GB?).person.last_name locale data directly.
However, if these are multiple surnames like I think Spainish has (father's and mother's surname?), then it should be added to the pattern l

[2022-10-31 09:52] ST-DDT commented on #1505
@matthewmayer Thanks for your quick response.

@Shinigami92 Could you test this on your device as well? Is there anything we can do about it?
Since it is an external platform, we might be limited to bringing this to the attention of stackblitz.

[2022-10-31 10:31] Shinigami92 commented on #1505
Yes, I can reproduce this on `Arch Linux x86_64 | 5.15.76-1-lts` `Chrome v107.0.5304.87`

![image](https://user-images.githubusercontent.com/7195563/198987665-98a4faff-3bf4-447e-a475-354b7144bf79.png)

Will try to update dependencies, but not sure if this is the problem.
Otherwise I know someone working at StackBlitz and will forward this to him.

[2022-10-31 10:40] Shinigami92 commented on #1505
Yes... even in incognito mode with a fresh storage cache I can reproduce this.
I can also reproduce this on `MacOS Ventura 13.0` with `Chrome v107.0.5304.62`

Ping @patak-dev, send help
<img src="https://media.tenor.com/x7_sXvU2E9sAAAAd/kitties-cuteness-overload.gif" width="200px" />

[2022-10-31 12:09] #1498 closed, assigned to matthewmayer

[2022-11-01 01:35] markscamilleri commented on #691
Thanks @ST-DDT! Well techncally, they're multiple surnames combined into one (usually to keep both family names after marriage) - however on legal documentation (birth certificates, passports, ID cards and drivers licenses) these would be treated as a single surname. So I guess it would make more sense to have these in samples in the locale data.

Such surnames are also allowed in other `en` local

[2022-11-01 08:49] capaj opened #1507 "instead of random seed, use the seed based on package.json "name" field or folder name"
### Clear and concise description of the problem

currently I find myself always having to set the faker seed in every project manually.
I could skip that if faker had a consistent seed based on data which does not change.

### Suggested solution

Change the default behaviour-instead of a random seed, use the package.json "name" field or parent folder name to calculate seed.

### Alternative

keed

[2022-11-01 13:19] KevinMind commented on #1413
@ST-DDT I've created a branch with the feat/fix (not sure if this should count as a bug fix or a new feature)

But I cannot push to the repo. I didn't read anything in the contributing guide about needing to fork for contributions. Am I missing something? Could you point me in the right direction?

[code]

Is what I get in the terminal. Some kind of auth issue it seems.

[2022-11-01 14:58] KevinMind opened #1508 "Document how to write factory functions with value overwrites"
### Clear and concise description of the problem

Most who use faker end up wrapping faker methods into "factory functions" that compose those methods into usable objects that represent their underlying data needs.

Example in faker docs itself: https://fakerjs.dev/guide/usage.html#create-complex-objects

[code]

There are several concepts in this pattern that could be extracted into a relatively

[2022-11-01 15:18] Shinigami92 commented on #1507
I'm not 💯% sure, but isn't `faker.seed` exactly for that use-case?
If we would do what you propose, other users would wonder about why the values are not random anymore 🤔

[2022-11-01 16:00] ST-DDT commented on #1413
You have to fork the repository in order to propose changes. You can delete the fork after the changes have been merged.

- Fork the main project to your user
- Push your changes there
- Create a PR in the main project

Would you like to create a second PR that extends the contributing guide?

[2022-11-01 16:05] ST-DDT commented on #691
No, I think that is exactly what conner-c is working on. If they dont react in a week or so you can take over.

[2022-11-01 16:48] ST-DDT commented on #1507
I agree with @Shinigami92 here.
We have two usecases that we need to account for:

1. "Random data" so can check if it works for things you didnt exactly test for.
2. "Reproducible data" so that you can do snapshot tests etc to ensure everything looks exactly the same as last time.

We are good at the first part, but sadly faker is currently bad at the second step (if you keep faker up to date) as

[2022-11-01 18:10] ST-DDT commented on #1508
Thanks for sharing a real world usage scenario with us, this really helps us to focus on and provide features that you are using or missing during your work every day.

To sum up your feature proposal in pseudo code:

[code]

IMO this generally a good idea, however I would like to probe into a few design decisions that you have made and that could deviate from other developers expectations.

- Why

[2022-11-02 11:27] KevinMind commented on #1508
I can share the code with you once I checkout it is okay internally to share. Just a formality I suppose. But to respond to the probe, your pseudo code is very close to accurate, there are a few tweaks:

- I've added a merge combinator function to the internal merge call that will replace default arrays with overridden arrays. The caller should decide what the value is instead of merging. We could

[2022-11-02 16:24] brenno263 commented on #1324
I haven't been able to recreate this behavior. Running the provided example 30 times, I did not observe any matching values. Are you still able to recreate?

[2022-11-02 17:55] ST-DDT commented on #1324
The issue described https://github.com/faker-js/faker/issues/1324#issuecomment-1236897601 should be fixed via #1334 (v7.6.0).

The original issue "Add a documentation page for how to use faker with testing frameworks" still needs some documentation.

[2022-11-02 18:34] ST-DDT commented on #1508
We will discuss this in our team meeting tomorrow.

[2022-11-03 11:58] ST-DDT commented on #1413
@KevinMind Do you consider this fixed once #1512 is merged, or is here more to do?

[2022-11-03 13:35] KevinMind commented on #1413
I'd like to run another check across all the methods to ensure I can get 100% deterministic values with a specific seed set but in principle yes.

[2022-11-03 14:44] KevinMind opened #1513 "Improve contributing guide"
Following up on https://github.com/faker-js/faker/issues/1413#issuecomment-1298755644 I'd like to improve the contributing guide. Keeping a short list of changes, with a few open questions needing resolution before opening the PR.

- [ ] update contributing guide with fork workflow, using screenshots I snapped.
- [ ] update contributing guide with more details about PRs
- - [ ] should PRs specify

[2022-11-03 14:45] KevinMind commented on #1413
@ST-DDT I opened a new task as there were a few things I think I could add to the contributing guide and wanted to be able to clarify before opening a PR. https://github.com/faker-js/faker/issues/1513

[2022-11-03 19:28] gustawdaniel opened #1514 "How to generate unique emails"
I sometimes have error `E11000 duplicate key` because there is index on my database that require unique email.

How to force this library to generate unique values?

---

My current solution

[code]

[2022-11-03 19:32] ST-DDT commented on #1508
**Team decision**

Due to the different expectations regarding the method, we won't add it to our repository directly.
However, we think this might be a good addition for our [creating complex object docs](https://github.com/faker-js/faker/blob/next/docs/guide/usage.md?plain=1#L80).
Before we start adding new content to that section, we have to move that section to its own page first (separate PR)

[2022-11-03 19:35] ST-DDT commented on #1479
**Team decision**

We should adjust the `@since` tags since the way of accessing the method has changed.
If users look at our documentation on our website they see a version and expect the method to be present in that version.

@matthewmayer Would you like to create a PR for this?

[2022-11-03 19:38] ST-DDT commented on #1514
Have a look at our documentation:
https://fakerjs.dev/api/helpers.html#unique

Does this answer your question?

[2022-11-03 19:44] gustawdaniel commented on #1514
Yes. Thank you werry much.

[2022-11-03 19:44] #1514 closed, assigned to nobody

[2022-11-04 01:31] matthewmayer commented on #1479
added PR for faker.person and faker.location

[2022-11-04 06:11] matthewmayer opened #1518 "Add migration guide for future v8"
### Clear and concise description of the problem

Replace https://next.fakerjs.dev/guide/upgrading.html with migration guide for v7->v8.

Appreciate v8 is not finished yet but I think its probably easier to write the migration guide as we go along, rather in one go at the end, to get an overview of how many breaking changes there are, and so how tricky upgrading will be for end-users.

Note this g

[2022-11-04 12:05] KevinMind commented on #1508
Would you be able to elaborate on `Due to the different expectations regarding the method`.

I would like to use this feedback in continuing development. I will go ahead and open source it independently, maybe there could be a future where the docs link to it? ;)

[2022-11-04 13:20] ST-DDT commented on #1508
Sure, no problem. Please let us know, if you disagree with any of these points.

- In our perspective that method/feature will most likely not contain any faker method in its implementation. Sure it is useful in combination with faker, but so is deepMerge. In our opinion this is more of a special variant of deepMerge than it is of faker.
- The implementation requires either the deepMerge dependenc

[2022-11-04 13:55] ST-DDT opened #1519 "Add boolean support for datatype.boolean and helpers.maybe"
### Clear and concise description of the problem

Currently there is no easy way to convert `boolean?` to `boolean`. This feature is somewhat similar to `rangeToNumber`.

[code]

I'm aware that there might be better ways to implement this.

### Suggested solution

[code]

The same for `helpers.maybe`, then you can use it like this:

[code]

### Alternative

Doing nothing

### Additional context

I

[2022-11-04 16:11] Shinigami92 commented on #1349
- [x] [`date` doesn't support options](https://github.com/faker-js/faker/blob/next/src/modules/date/index.ts)

[2022-11-05 09:46] matthewmayer commented on #1505
FWIW its now working again in Chrome for me.

[2022-11-05 09:47] matthewmayer commented on #1505
btw there's a couple of items in the StackBlitz demo which don't really show off best practices:

1. It's concatenating first and last name instead of using fullName
2. zh-CN is a bad choice of locale to demonstrate this, as Chinese names are written lastName-firstName with no space in between. Maybe just choose an alternative locale like French with a Western name order to demonstrate with?

[2022-11-05 17:27] KevinMind commented on #1508
Are these points up for rebuttal or is this discussion closed RE including in faker? I think there some advantages missed that I can write up when I have some time.

[2022-11-05 17:53] ST-DDT commented on #1508
We are always interested in new points of view and suggestions from our contributors and users.

Could you please explain what the `RE` in the following sentence means/refers to?

[2022-11-05 19:02] KevinMind commented on #1508
RE is like in an email, as in `is this discussion closed in response to or regarding including in faker`.

All the code here is psuedo code. I just tried to give as much as needed to understand the use case and API. I've gotten a green light for opensourcing the code so far so can put it in a repo and share soon. That being said, here we go :) Sorry if it is long, there is just a lot to unpack.

#

[2022-11-05 22:24] Slooti opened #1524 "Locale de_xy: house numbers are after street name in Europe, not before"
### Pre-Checks

- [X] Follow our [Code of Conduct](https://github.com/faker-js/faker/blob/next/CODE_OF_CONDUCT.md).
- [X] Read the [Contributing Guidelines](https://github.com/faker-js/faker/blob/next/CONTRIBUTING.md).
- [X] Read the [docs](https://fakerjs.dev/guide).
- [X] Check that there isn't [already an issue](https://github.com/faker-js/faker/issues) that reports the same bug to avoid creati

[2022-11-05 23:45] ST-DDT commented on #1524
The issue here is that de_CH does not have an address.street_address definition.
You can avoid/fix that by adding the missing entry to the definitions or setting the fallback locale to `de`.

[code]

In v8 we change how the default locales are provided/build so the workaround will no longer be needed as the de_CH locale will use the de locale as fallback by default (followed by the en fallback as

[2022-11-06 02:27] ST-DDT commented on #1508
## Overrides and Merging

Yes, that the overrides option for createUser is intentional, as it shows how easy that is to implement yourself, no need for a special factory method that does things that are hard to read/spread over multiple places.

This is not really about specifying vs setting, as that is just an implementation detail IMO as long as you have the override option you can do it one way

[2022-11-06 10:36] KevinMind commented on #1513
Question: Is this normal? When re-requesting review it only allows to re-request from one reviewer. If normal, we should document that behaviour, if not, maybe fix it?

https://user-images.githubusercontent.com/19595165/200165962-909bd0bf-1033-48c5-8e60-5ed727d5e0cc.mov

[2022-11-06 14:20] ejcheng commented on #1513
I don't believe this behavior is intended, try refreshing the page to see if it registers.

[2022-11-06 15:11] #1479 closed, assigned to matthewmayer

[2022-11-06 15:27] Shinigami92 commented on #1505
This is a Bug at StackBlitz itself, I recently had the same issue on StackBlitz but without any reference to Faker itself.
So this is not related to Faker itself.

For the comment about changing the content, please open another issue and propose something actively.
You can e.g. open a copy of the StackBlitz demo and if we like your change, we can copy and paste that over to our official demo.

[2022-11-06 15:27] #1505 closed, assigned to nobody

[2022-11-06 15:30] ST-DDT opened #1525 "Transfer Faker Stackblitz Demo to Faker"
Currently the Stackblitz Demo is owned by @Shinigami92 it would be best if we transfer the demo to faker.

@Shinigami92 If you agree please add the accepted tag to this issue.

[2022-11-06 15:34] ST-DDT opened #1526 "Update Stackblitz Demo to follow best matching methods"
Originally posted here: https://github.com/faker-js/faker/issues/1505#issuecomment-1304464201

[2022-11-06 15:38] Shinigami92 commented on #1525
Looks like there is the possibility to share ownership of the demo with other StackBlitz users

<img src="https://user-images.githubusercontent.com/7195563/200179944-a8aa082e-df33-42b8-9f94-36c81f9e460b.png" width="400px" />

You can give me an account name and I can add that to the list.
I would highly suggest doing it that way as then we don't need to change the links and our stats will get pres

[2022-11-07 03:37] matthewmayer commented on #1105
Perhaps locales which aren't in ASCII script should optionally be able to provide an alternative set of ASCII first names and last names to be used in contexts that require ascii like email addresses? For example zh_CN, ar, el

[2022-11-07 10:30] matthewmayer opened #1532 "Highlighted modules on fakerjs.dev are different to README"
### Pre-Checks

- [X] Follow our [Code of Conduct](https://github.com/faker-js/faker/blob/next/CODE_OF_CONDUCT.md).
- [X] Read the [Contributing Guidelines](https://github.com/faker-js/faker/blob/next/CONTRIBUTING.md).
- [X] Read the [docs](https://fakerjs.dev/guide).
- [X] Check that there isn't [already an issue](https://github.com/faker-js/faker/issues) that reports the same bug to avoid creati

[2022-11-07 11:56] Shinigami92 commented on #1532
I will remove the `bug` label for now, as the WebSite has just space for 6 cards and this was an undocumented but intentional behavior.
But we can rethink about it.

[2022-11-07 12:02] matthewmayer commented on #1532
if limited to 6 i think people/names are more important than hacker jargon

[2022-11-07 12:04] matthewmayer commented on #1532
are you sure its limited to 6? https://vitepress.dev/reference/default-theme-home-page#features-section says "any number of features"

[2022-11-07 12:06] Shinigami92 commented on #1532
I just thought so, but yes it is not hard limited, more like soft limited
like we should prevent using prime numbers as these are not divisible for responsive layouts and so a card would wrap into it's own line and so on

[2022-11-07 12:18] ST-DDT opened #1533 "use default slugify from mdit-vue"
we might have a look if we can also use this, so we rely on the same slug algo
but not in this PR

_Originally posted by @Shinigami92 in https://github.com/faker-js/faker/issues/1528#issuecomment-1305499447_

[2022-11-07 15:58] #175 closed

[2022-11-07 21:48] pvatterott opened #1538 "domainWord returns jalapeño"
### Pre-Checks

- [X] Follow our [Code of Conduct](https://github.com/faker-js/faker/blob/next/CODE_OF_CONDUCT.md).
- [X] Read the [Contributing Guidelines](https://github.com/faker-js/faker/blob/next/CONTRIBUTING.md).
- [X] Read the [docs](https://fakerjs.dev/guide).
- [X] Check that there isn't [already an issue](https://github.com/faker-js/faker/issues) that reports the same bug to avoid creati

[2022-11-07 22:06] ST-DDT commented on #1538
Thanks for bringing this to our attention.
We already have an issue that we use to keep track of this issue.

Duplicate of #1105  (#1520)

[2022-11-07 22:06] #1538 closed, assigned to nobody

[2022-11-07 23:02] ST-DDT opened #1541 "Deprecate phone.number format parameter"
### Clear and concise description of the problem

The `format` can be used to overwrite the pattern that is used to generate the phone number.
Instead of passing it to phone.number the user should pass it directly to `helpers.replaceSymbolWithNumber` and build their own phone number method. Alternatively, they can add the format to our repository and thus provide it for everyone.

### Suggested so

[2022-11-07 23:02] ST-DDT opened #1542 "Add phone.number generation options"
### Clear and concise description of the problem

Currently the phone.number method generates phone numbers in various formats.
However, the usually the phone number inputs require specific input formats e.g. an international telephone number.

### Suggested solution

It would be nice if it is possible to be more specific which addresses should be generated.

- `type?: 'landline' | 'cell-phone'`
-

[2022-11-08 03:48] conner-c commented on #691
I have been busy, so I have not had much time to work on it. It seems like @markscamilleri is currently displaying more interest than me and seems to have a better understanding of the issue. Feel free to unassign me and assign them to the issue. Sorry for such a late response.

[2022-11-08 12:05] brunnerh opened #1543 "Read-me references "Person" module"
In the Modules table there is this row:

<html>
<body>

Person | `faker.person.firstName()` | Cameron
-- | -- | --

</body>
</html>

Shouldn't this be the "Name" module and `faker.name.firstName()` function?

[2022-11-08 23:17] ST-DDT commented on #1543
The `next` branch is our default branch (to simplify development).

In `v8` the `name` module will be renamed to `person`, and thus the README was changed accordingly.
If you visit our current docs: https://fakerjs.dev/ or https://fakerjs.dev/api/name.html or https://github.com/faker-js/faker/tree/v7 then you will get the correct content for the latest released version.

Do you have a suggestion o

[2022-11-09 01:16] brunnerh commented on #1543
I guess changing the default branch would be the only option. E.g. change branches to: `..., v6, current, next`
`current` would then be the default and latest stable release (what now is `v7`). A new `v` branch would be created on major version releases.

Not sure how inconvenient that would be to manage, though.

[2022-11-09 08:15] Shinigami92 commented on #1543
In some repos I saw "hints" like

[2022-11-09 21:44] ST-DDT opened #1546 "Add character length parameter to `lorem.text`"
### Clear and concise description of the problem

Sometimes we just want a text that has a particular length instead of conforming to arbitrary length units (lines/paragraphs).

### Suggested solution

Add length parameter to the `lorem.text` method.

`faker.lorem.text({ length: number | { min: number, max: number }})`

`faker.lorem.text({ length: 150 })`

### Alternative

`faker.lorem.paragraphs(

[2022-11-09 21:45] ST-DDT commented on #1546
Currently blocked by #1486

[2022-11-10 07:53] #339 closed

[2022-11-10 17:09] ST-DDT commented on #1465
**Team decision**

- `exclude`

[2022-11-10 17:18] ST-DDT commented on #735
**Team decision**

We will implement that proposal.

[2022-11-10 19:15] ST-DDT opened #1547 "Document steps requried for a release"
Document steps required when

- starting a new major version
- releasing a version
- releasing a new major version

in

- Netlify
- Files on GH
- ???

[2022-11-10 22:44] ejcheng commented on #1465
I can take this one

[2022-11-11 13:54] nicolasWD opened #1548 "Add language"
### Clear and concise description of the problem

I am looking to add random languages for a field "Spoken Languages"

### Suggested solution

Under faker.name please add language, like spoken language (e.g. English, Chinese, Spanish)

or

in faker.random.locale() you could add the option to return language name instead of the 2 letter code only

### Alternative

_No response_

### Additional cont

[2022-11-11 13:58] nicolasWD opened #1549 "Option to create random array of objects or arrays"
### Clear and concise description of the problem

I need to create an array of objects with a random number of elements.

At the moment I am using Array.fill, followed by Array.map using faker.mersenne.rand to randomize the number of elements of my array.

### Suggested solution

Is there a way faker could simplify this instead ?

### Alternative

_No response_

### Additional context

_No respons

[2022-11-11 14:21] Shinigami92 opened #1550 "Add image dataUri with base64"
### Clear and concise description of the problem

Currently `faker.image.dataUri` returns only a URL that contains a SVG

### Suggested solution

We would like to have an additional implementation that generates a URI containing base64 image

Example: `data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54

[2022-11-11 14:28] ST-DDT commented on #1549
This is planned as a new feature in v8: https://github.com/faker-js/faker/pull/1545 + https://github.com/faker-js/faker/pull/1486

[code]

Current workaround:

[code]

[2022-11-11 15:46] nicolasWD commented on #1549
Thank you, I will be waiting for the multiple method! Your workaround is much better for now!

[2022-11-11 15:46] #1549 closed, assigned to nobody

[2022-11-11 16:03] ST-DDT commented on #1548
Sounds like an interesting proposal.

Do you need a list/one of all languages in the world or one of the languages in your country/state?
Are you willing to create a PR for that?

[2022-11-11 16:15] nicolasWD commented on #1548
For the specific project I am working on, I need multiple unique world language names (e.g. English, French).

Yes, I can open a PR for this. Under which branch should I create the PR?

[2022-11-11 16:45] nicolasWD commented on #1548
Ok, please let me know of the next steps.

[2022-11-11 18:02] ST-DDT commented on #1548
This list might be a bit excessive:

- Fork Faker via the button in the top right corner
- Clone it to your computer
- Create a new branch based on `next`
- Add locale definitions in the [`location` category](https://github.com/faker-js/faker/blob/next/src/definitions/location.ts#L6)
- Create a new method in the [`location` module](https://github.com/faker-js/faker/blob/next/src/modules/location/i

[2022-11-11 18:05] nicolasWD commented on #1548
Yes, I found Contributing a very nice and concise read. Will start immediately! Thank you!

[2022-11-12 12:29] matthewmayer commented on #1465
as this is a breaking change should also be added to the migration guide #1518

[2022-11-12 12:43] matthewmayer opened #1552 "firstName is broken in en_GH (Ghana)"
### Pre-Checks

- [X] Follow our [Code of Conduct](https://github.com/faker-js/faker/blob/next/CODE_OF_CONDUCT.md).
- [X] Read the [Contributing Guidelines](https://github.com/faker-js/faker/blob/next/CONTRIBUTING.md).
- [X] Read the [docs](https://fakerjs.dev/guide).
- [X] Check that there isn't [already an issue](https://github.com/faker-js/faker/issues) that reports the same bug to avoid creati

[2022-11-12 13:04] matthewmayer commented on #1105
Sample output for
[code]

[code]

I note there are two groups of locales with slightly different problems
`zh_CN`, `zh_TW` and `ja` contain unstripped non-ASCII characters

`ar, el, fa, ge, he, hy, ko, mk, ur` are stripped down and generally only contain `_.01234567890`, often giving an invalid address like `.@gmail.com`

[2022-11-12 13:12] matthewmayer commented on #1105
The difference seems to come down to the fact that faker.helpers.slugify has some exceptions for Japanese and Chinese characters

https://github.com/faker-js/faker/blame/next/src/modules/helpers/index.ts#L37
[code]

Note the Chinese and Japanese characters here are not stripped but Cyrillic, Arabic, Korean are:
[code]

[2022-11-12 13:23] matthewmayer commented on #1105
... and that was originally introduced here:
https://github.com/faker-js/faker/commit/0d3809d4c83f9f5c29d99040df84b7353fe32255

It seems to have caused more problems than it solved, so perhaps that could be reverted, and a more general solution found for all the non-ascii-ish locales.

[2022-11-12 13:33] ST-DDT commented on #1105
I dont think that `@example.com` is any more useful than `<InsertChineseCharactersHere>@example.com`.

[2022-11-12 13:36] matthewmayer commented on #1105
as a simple solution, in non-ascii locales you could just make a purely random localPart for email addresses like two letters, followed by 5-8 numbers, e.g.

`mj1234415@example.com`

... at least it would be a valid email address.

[2022-11-12 13:40] matthewmayer commented on #1548
Would you expect it to return "German" or "Deutsch" in the `en` locale? Might need to split into two methods for that, or add a parameter to determine if you expect the locale name of the language.

https://en.wikipedia.org/wiki/Linguonym

[2022-11-12 14:00] ST-DDT commented on #1548
No, it will always return the name of the languages in the currently selected locale.
So in `en` it is `German` and in `de` it is `Deutsch`...

If you want it in another locale, switch to that.

[2022-11-12 19:07] wael-fadlallah commented on #1552
Small correction

`faker.name.firstName() //returns '{{person.female_first_name}}' or '{{person.male_first_name}}'`

[2022-11-12 19:36] wael-fadlallah commented on #1552
Hey, I can fix this one

[2022-11-13 06:12] matthewmayer opened #1553 "fullName uses fallback first names in el (Greek)"
### Pre-Checks

- [X] Follow our [Code of Conduct](https://github.com/faker-js/faker/blob/next/CODE_OF_CONDUCT.md).
- [X] Read the [Contributing Guidelines](https://github.com/faker-js/faker/blob/next/CONTRIBUTING.md).
- [X] Read the [docs](https://fakerjs.dev/guide).
- [X] Check that there isn't [already an issue](https://github.com/faker-js/faker/issues) that reports the same bug to avoid creati

[2022-11-13 10:11] matthewmayer commented on #1105
i created #1554 as a tentative solution for this. Not sure would be the best long term solution but it at least means that all locales return valid, ascii, email addresses.

[2022-11-13 16:34] matthewmayer opened #1556 "Some Macedonian names use latin a instead of Cyrillic а"
### Pre-Checks

- [X] Follow our [Code of Conduct](https://github.com/faker-js/faker/blob/next/CODE_OF_CONDUCT.md).
- [X] Read the [Contributing Guidelines](https://github.com/faker-js/faker/blob/next/CONTRIBUTING.md).
- [X] Read the [docs](https://fakerjs.dev/guide).
- [X] Check that there isn't [already an issue](https://github.com/faker-js/faker/issues) that reports the same bug to avoid creati

[2022-11-14 22:56] #1465 closed, assigned to ejcheng

[2022-11-15 15:56] ShivamJoker opened #1565 "Create a CLI for faker"
### Clear and concise description of the problem

It would be great if we could generate fake data in cli

### Suggested solution

Create a seprate CLI package

### Alternative

_No response_

### Additional context

_No response_

[2022-11-15 17:10] Shinigami92 commented on #1565
Can you propose a CLI syntax for about 3+ examples of how you would call it?
And please describe your use-case.

[2022-11-15 22:03] ST-DDT commented on #1553
Duplicate of https://github.com/faker-js/faker/issues/547

[2022-11-15 22:03] #1553 closed, assigned to nobody

[2022-11-15 22:05] ST-DDT commented on #1552
FYI: This file is broken and needs to be removed/fixed:

https://github.com/faker-js/faker/blob/801e9e0a6afa2bd472652eb7aaee5581ef458342/src/locales/en_GH/person/first_name.ts#L1

[2022-11-16 08:10] #1556 closed, assigned to matthewmayer

[2022-11-17 23:47] RareBodhi opened #1567 "Adding checksummed ethereum addresses"
### Clear and concise description of the problem

When developing crypto-related applications, wallet addresses are of great importance and they actually exist in a number of different formats. One is a non-checksummed address and one is checksummed.

Non Checksum ( lowercase ): `0x4bbeeb066ed09b7aed07bf39eee0460dfa261520`
Checksum ( caps letters ): `0x4bbeEB066eD09B7AEd07bF39EEe0460DFa261520`

We

[2022-11-18 00:48] ejcheng commented on #1567
Perhaps we could have `checksum` as an optional boolean parameter for `finance.ethereumAddress()`?

[2022-11-18 04:56] RareBodhi commented on #1567
@import-brain That is actually a much better alternative, I think that would be a useful optinon, definitely for our codebase. This seems like something that should be relatively easy to implement.

Would you like me to open a PR for this, or is it something you are able to implement yourself quite quickly?

[2022-11-18 05:03] ejcheng commented on #1567
I think we need some more input before proceeding with this idea.

@Shinigami92 @ST-DDT @xDivisionByZerox What do you think about this proposal?

[2022-11-18 07:52] ST-DDT commented on #1567
I think an optional string literal might be suited better here:
`type: 'the-normal-thing' | 'checksum'`

usage (potentially wrapped in options: `{}`):

`etherumAddress('checksum')`

That way it is easier to read without looking up the boolean value.

[2022-11-18 07:54] xDivisionByZerox commented on #1567
Just to understand it correctly. The `checksum` flag would just toggle the casing between 'lower' and 'mixed' correctly?

[2022-11-18 13:43] SamratSahoo opened #1568 "Faker Video Module"
### Clear and concise description of the problem

As a developer, I generally have video data of some sort -- using faker for generating video data (i.e. a URL to a hosted video, similar to how y'all do images) would be useful for populating my database with test video data.

### Suggested solution

My idea for this looked something like this:

[code]

Usage would be exactly the same as the image

[2022-11-18 15:17] fzn0x commented on #1568
I don't think this is going to be stable, video can be removed

[2022-11-18 18:16] #1552 closed, assigned to wael-fadlallah

[2022-11-18 23:18] ST-DDT commented on #1568
- Do you know of a website that provides these?
- Which video formats do you need?

[2022-11-19 01:19] SamratSahoo commented on #1568
1. I do not know of a website that could do that
2. MP4 would probably suffice since that generally tends to be the most common format

[2022-11-19 03:05] RareBodhi commented on #1567
That would be correct.

[2022-11-20 00:12] Zachiah opened #1571 "Lorempixel is down"
### Pre-Checks

- [X] Follow our [Code of Conduct](https://github.com/faker-js/faker/blob/next/CODE_OF_CONDUCT.md).
- [X] Read the [Contributing Guidelines](https://github.com/faker-js/faker/blob/next/CONTRIBUTING.md).
- [X] Read the [docs](https://fakerjs.dev/guide).
- [X] Check that there isn't [already an issue](https://github.com/faker-js/faker/issues) that reports the same bug to avoid creati

[2022-11-20 00:22] ST-DDT opened #1572 "Banner causes jumping to headlines to jump to the wrong location"
When the banner is shown, then jumping to a headline will jump to the wrong location (off by the size of the banner).

![grafik](https://user-images.githubusercontent.com/1579362/202876775-fee6ae5d-571e-4140-932c-a9e596a190a6.png)

[screen-recorder](https://user-images.githubusercontent.com/1579362/202876783-b68e19b9-e880-4ffd-a3eb-93d125c1064f.webm)

Tested on FF and Chrome.

[2022-11-20 00:28] ST-DDT commented on #1571
We are rewriting the image module in v8 and are removing lorempixel from our provider list:
https://github.com/faker-js/faker/pull/1477

[2022-11-20 10:06] ST-DDT opened #1574 "Rename company.suffix definition to company.legal_entity_type"
### Clear and concise description of the problem

The company suffixes currently refer to the company/business entity type (not sure about this term) and not a real suffix in the usual sense.

### Suggested solution

We should rename the `suffix` to `type` (both the definitions and method).

### Alternative

_No response_

### Additional context

Discovered here: https://github.com/faker-js/faker/

[2022-11-20 10:18] ST-DDT commented on #1574
Blocked by https://github.com/faker-js/faker/pull/1575

[2022-11-20 11:10] ST-DDT commented on #1567
Sounds good to me.

Are you willing to implement this?

Please implement it with `options: { type: '???' | 'checksum' } = {}` or optionally `'options: ???' | 'checksum' | options: { type: '???' | 'checksum' } = {}`.
Is `address` a good value for the ??? placeholder?
Please make sure that the check-summed version returns valid results.

This page can be used to verify it: https://ethsum.netlify.app

[2022-11-20 11:33] Shinigami92 commented on #1572
/ping @brc-dd

[2022-11-20 11:37] Shinigami92 commented on #1571
Blocked by #1477
We will remove the provider completely in a separate PR

[2022-11-20 15:47] kz-d commented on #1105
there is no one using Chinese as an email and username even in Chinese.

At least, as for email addresses, the same goes for the Japan.
(If you enter a Japanese email address, it will be rejected by validation, even on most systems used in Japan)

I think this fix will help!

[2022-11-20 16:01] matthewmayer commented on #1105
Thanks @kz-d good to get a Japanese opinion too :) I guess the #1554 PR will help with #1437 also

[2022-11-20 17:44] matthewmayer opened #1577 "In many locales, {wide|abbr}_context and {wide|abbr} are the same for faker.date.weekday and faker.date.month"
### Pre-Checks

- [X] Follow our [Code of Conduct](https://github.com/faker-js/faker/blob/next/CODE_OF_CONDUCT.md).
- [X] Read the [Contributing Guidelines](https://github.com/faker-js/faker/blob/next/CONTRIBUTING.md).
- [X] Read the [docs](https://fakerjs.dev/guide).
- [X] Check that there isn't [already an issue](https://github.com/faker-js/faker/issues) that reports the same bug to avoid creati

[2022-11-21 00:23] RareBodhi commented on #1567
@ST-DDT They are both technically an `address` so I'm not sure it would be a good placeholder for `???`

I would propose simply `non-checksum` and `checksum` as the two options since checksumming is the preferred practice. Feel it's aptly descriptive to do that.

[2022-11-21 00:58] RareBodhi commented on #1567
A PR has been opened here if you have a change to review https://github.com/faker-js/faker/pull/1578

[2022-11-21 10:19] ST-DDT commented on #1347
The/A separate script should also run on the locale definitions.

Ref: https://github.com/faker-js/faker/discussions/1585

[2022-11-21 12:58] #1518 closed, assigned to matthewmayer

[2022-11-21 13:44] Shinigami92 opened #1586 "Provide interfaces for options with JSDocs"
### Clear and concise description of the problem

As a user I want to have JSDoc tooltips when hovering over option properties in my IDE so I can directly see what the parameter is aiming for.

### Suggested solution

Provide interfaces for e.g. ranges.
Maybe even extract types for every ModuleMethodOption so I as a user can see e.g. default values for each specific property.

### Alternative

_No

[2022-11-21 16:55] #617 closed

[2022-11-21 17:11] ST-DDT commented on #1586
Just repeating this here so it doesn't get lost:

---

I think one of the reasons, why we don't use named types, is that IDEs don't show their actual content and you have to click on it to get all properties. (It may potentially also requires some extra work to work with typedoc's `@param` detection/filtering, not a blocker though). So we should use these named types for only a few select params/o

[2022-11-21 18:36] #1236 closed

[2022-11-22 03:58] matthewmayer opened #1587 "Search on next.fakerjs.dev finds non-existent pages"
### Pre-Checks

- [X] Follow our [Code of Conduct](https://github.com/faker-js/faker/blob/next/CODE_OF_CONDUCT.md).
- [X] Read the [Contributing Guidelines](https://github.com/faker-js/faker/blob/next/CONTRIBUTING.md).
- [X] Read the [docs](https://fakerjs.dev/guide).
- [X] Check that there isn't [already an issue](https://github.com/faker-js/faker/issues) that reports the same bug to avoid creati

[2022-11-22 07:56] Shinigami92 commented on #1587
I highly assume that is because Algolia Index is based on fakerjs.dev not next.fakerjs.dev and so you see the results for the prod site.

[2022-11-22 08:09] matthewmayer commented on #1587
[code]

maybe its possible to specify a different indexName for each environment?

[2022-11-22 08:19] Shinigami92 opened #1588 "Verify documentation website for mastodon"
As a user of mastodon, I want to see that the [@faker_js@fosstodon.org](https://fosstodon.org/@faker_js) is official / verified

<img width="400" alt="image" src="https://user-images.githubusercontent.com/7195563/203260923-98f9319a-31b9-45e2-a395-3bad7a6bcdc2.png">

The proposed change would render the `fakerjs.dev` entry as green / verified

All we need to do is to follow the instructions of mast

[2022-11-22 09:27] ST-DDT commented on #1587
Well, the next branch is build the most recent, but the index still only takes the main page into consideration, so I wonder if we have to configure something more than just the index name. I assume we have to configure that directly in algolia.

------------

I think we could use this for the index name:

[code]
(`other` for deploy previews, if we want the search there at all)

To be added to doc

[2022-11-22 13:57] mrzmyr commented on #1546
@ST-DDT still blocked? #1486 seems merged

[2022-11-22 16:38] Shinigami92 opened #1590 "Deprecate datatype module entirely and move all methods into other modules"
We are adding the number module in #1122 and also #1341

- #1122
- #1341

Now we have some leftover methods in the datatype module but IMO it is not worth it to have a whole module for just these few methods.
I hope we can move these into other modules so we can get rid entirely of the datatype module.

[2022-11-22 18:34] Shinigami92 opened #1591 "Rename number.float precision to something more meaningfull"
I currently think about the `precision` value now changed...
This could come into confusion when using it with native JS as there it has another meaning: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/toPrecision#parameters

It's different to what e.g. `toFixed` is doing: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Numbe

[2022-11-22 18:40] Shinigami92 opened #1592 "Swap `allowLeadingZeros` default value to `true`"
### Clear and concise description of the problem

Often we have a call like `faker.number.int(9)` and then convert it to a string

### Suggested solution

Implement a new method `faker.string.digit()` which returns a digit between `[0, 9]` and directly returns it as `string`

### Alternative

_No response_

### Additional context

Found in
- #1122

[2022-11-22 18:45] ejcheng commented on #1592
I can take this one

[2022-11-22 19:49] Shinigami92 commented on #1592
Please wait until #1122 was merged

[2022-11-22 19:52] ST-DDT commented on #1546
@mrzmyr No, it is no longer blocked. Do you wish to work on this?

[2022-11-22 23:32] ST-DDT commented on #1592
I would rather change the spec for `string.numeric` to allow returning `'0'` when length is 1.

[2022-11-23 09:21] Shinigami92 commented on #1592
Maybe lets make a benchmark of using `string.numeric({ allowLeadingZeros: true })` compared to `string.digit()` which just uses `number.int` under the hood

https://github.com/faker-js/faker/blob/6e1009ae0ab6a185eaf808e2dd4d8dcab65c79b6/src/modules/string/index.ts#L333-L388

[2022-11-23 09:57] ST-DDT commented on #1592
IMO we dont have to us a benchmark as long as it good enough. Otherwise we have to measure all our methods and reimplement them accordingly.

[2022-11-23 10:46] Shinigami92 commented on #1592
Why do you want to confuse users with another behavior if the length input differs from one case to another case?
IMO it is a bit hard for the user to exactly know that they need to read the docs to find out that the behavior differs based of the used number passed into one and the same input parameter.

[2022-11-23 11:31] ST-DDT commented on #1592
0001 isnt a real world number, but 0 is.
IMO this doesnt even need to be mentioned in the jsdocs.

[2022-11-23 12:25] mrzmyr commented on #1546
@ST-DDT, nope, just wanted to ping.

[2022-11-23 14:10] iliasmentz opened #1593 "Add food module on faker 🍽"
### Clear and concise description of the problem

As a developer using faker I want to be able to generate fake food data. That would allow food/restaurant-focused companies to create more accurate test environments faster.

### Suggested solution

We could reuse the data from the original faker (ruby) library:
https://github.com/faker-ruby/faker/blob/main/lib/locales/en/food.yml

### Alternative

[2022-11-23 16:27] Shinigami92 commented on #1593
I like the idea, but would remove or handle some data differently
The team should talk about this in a meeting first

[2022-11-24 10:39] Shinigami92 opened #1595 "Number functions can generate values out of bound"
### Pre-Checks

- [X] Follow our [Code of Conduct](https://github.com/faker-js/faker/blob/next/CODE_OF_CONDUCT.md).
- [X] Read the [Contributing Guidelines](https://github.com/faker-js/faker/blob/next/CONTRIBUTING.md).
- [X] Read the [docs](https://fakerjs.dev/guide).
- [X] Check that there isn't [already an issue](https://github.com/faker-js/faker/issues) that reports the same bug to avoid creati

[2022-11-24 11:50] Shinigami92 opened #1596 "Refactor `number.float` parameter `precision` to `fractionDigits`"
### Clear and concise description of the problem

We want to refactor the behavior of the `precision` parameter of `number.float` to be adjusted to `Number#toFixed` behavior.

This **wont** affect the _legacy_ `datatype.float` method!

### Suggested solution

- `precision` -> `fractionDigits`
- We then want to have a well defined developer experience and support steps like 0.4 and such
  So we mig

[2022-11-24 13:32] Shinigami92 opened #1597 "Change `number.float` default value from `precision` to `max`"
We want to change the default value of `number.float` to `{ min: 0.0, max: 1.0, precision: 0.01 }` (or at least by default two digits after comma precision) (like is right now)

The default parameter just number parameter should change the `max` value, not the `precision`

This should not affect legacy `datatype.float`!

Waiting on:
- #1122

[2022-11-24 13:36] Shinigami92 opened #1598 "Change `number.int` default `max` to `Number.MAX_SAFE_INTEGER`"
We want that the `number.int` `max` value is by default `Number.MAX_SAFE_INTEGER`

_We are open for other proposed min or max values_

This wont affect legacy `datatype.number`!

Waiting on:
- #1122

[2022-11-24 16:14] Shinigami92 commented on #1598
**Team Decision:**
Yes lets do `Number.MAX_SAFE_INTEGER`

[2022-11-24 16:23] Shinigami92 commented on #1596
**Team Decision:**

We want support both parameters: `fractionDigits` and the second one
If they are incompatible throw an `FakerError`

[2022-11-24 16:57] Shinigami92 commented on #1592
**Team Decision:**

- Do not introduce new method digit
- Swap `allowLeadingZeros` parameter of `string.numeric` to default: true
- _clean up all out internal calls as they don't need `allowLeadingZeros` anymore
- After release, lets see if feedback from community comes back that this affected them

[2022-11-24 17:13] Shinigami92 commented on #1593
@iliasmentz Do you actually need it for your work/project, or is it just a feature request you consider useful?

[2022-11-24 18:01] Shinigami92 opened #1599 "Improve documentation of return values"
As a user it was not instantly clear to me that the return value of a method like `faker.date.past()` returns a `Date` and not a `string` by just reading the docs `@example` tag.

---

**Proposal:**

Change return value comments
[code]

**Reason:** This is actually executable and will indicate clearly that is not just a string

Also change the description to mention `{@link Date} instance`

---

*

[2022-11-24 18:14] iliasmentz commented on #1593
Thanks for following up @Shinigami92. We already use fakerjs in our project for test data but for now we have to use the commerce module result to a less realistic dataset. So the answer is yes 😄

[2022-11-24 18:33] ST-DDT commented on #1593
@iliasmentz Which of the ruby faker food datasets/lists are useful to you and which not?

[2022-11-25 15:59] #1342 closed

[2022-11-25 16:15] #1588 closed, assigned to Shinigami92

[2022-11-25 16:57] matthewmayer opened #1606 "Newly deprecated methods like faker.datatype.bigInt should include a @see referencing their replacement"
### Pre-Checks

- [X] Follow our [Code of Conduct](https://github.com/faker-js/faker/blob/next/CODE_OF_CONDUCT.md).
- [X] Read the [Contributing Guidelines](https://github.com/faker-js/faker/blob/next/CONTRIBUTING.md).
- [X] Read the [docs](https://fakerjs.dev/guide).
- [X] Check that there isn't [already an issue](https://github.com/faker-js/faker/issues) that reports the same bug to avoid creati

[2022-11-26 14:54] ST-DDT commented on #1606
@matthewmayer Yeah, you are right. We should also mention this in our upgrading docs.

[2022-11-26 15:00] matthewmayer commented on #1606
I feel the upgrading doc only has to mention breaking changes, not every method which is renamed

ie if faker.datatype.bigInt is deprecated in favour of faker.number.bigInt in v8 and removed in v9 then that needs to be mentioned in the v9 migration doc but is not essential in v8 migration doc.

[2022-11-26 15:02] matthewmayer commented on #1606
I noticed if you write like `@deprecated some message` then `some message` does not appear in the online docs. Perhaps that should also show in the yellow deprecation banner for more context?

[2022-11-26 15:17] ST-DDT opened #1607 "Display actual deprecation message in api docs"
I noticed if you write like `@deprecated some message` then `some message` does not appear in the online docs. Perhaps that should also show in the yellow deprecation banner for more context?

_Originally posted by @matthewmayer in https://github.com/faker-js/faker/issues/1606#issuecomment-1328061513_

[2022-11-26 15:19] ST-DDT commented on #1606
Good idea, I think we planned to do it at some point but forgot about it.
I created #1607 to track it.

[2022-11-26 15:25] ST-DDT commented on #1606
I'm not sure about that, IMO the introduction of the string and number modules, might be worth mentioning, since I think these methods are probably used in many applications. Maybe all, so that instead of spotting the deprecation message in the logs, you can just refer to the upgrading docs and do all of it at once. What do the others think? @faker-js/maintainers @faker-js/members

[2022-11-26 15:36] matthewmayer commented on #1606
Yeah I think major new modules can get mentioned (eg faker.person is already mentioned although it's not a breaking change)

[2022-11-26 15:37] ST-DDT commented on #1567
FFR: This might be impossible to implement for now without adding external dependencies.

[2022-11-26 16:25] Shinigami92 commented on #1606
I'm fine with either way :shrug:, no strong opinions from my side

[2022-11-27 03:50] matthewmayer commented on #1606
Probably makes sense to break the guide into two sections, first an exhaustive list of breaking changes, and then a non-exhaustive list of deprecations and other changes.

[2022-11-27 10:23] matthewmayer commented on #547
Maybe I'm missing somethng, but isn't the simplest solution to add a first_name.ts file to locales which are missing one which simply concatenates the existing male_first_name and female_first_name lists?

Had a go at this in #1610

[2022-11-27 11:57] matthewmayer commented on #1553
@ST-DDT can this be reopened? This is not the same as #547 - this is a related but different issue, which happens when a locale ONLY has generic names, not male/female names. #547 happened for locales with male/female names but NO generic names.

[2022-11-27 12:13] matthewmayer commented on #1553
these locales have first_name but no male_first_name and female_first_name
[code]

In a lot of cases it would be pretty simple to manually seperate into male and female, for example https://github.com/faker-js/faker/blob/next/src/locales/en_AU/person/first_name.ts is male for lines 1-101 and female for lines 102-201. So we could do that and then create the synthetic generic list like in my PR for

[2022-11-27 14:26] ST-DDT commented on #1553
#547 is about a structural error in the locales which has basically 2 symptoms.
The original one reported in #547 and this one.
Please note, the issue is not only about first names, but also last names, middle names etc...

See for our decision: https://github.com/faker-js/faker/issues/547#issuecomment-1240937734

[2022-11-27 15:09] matthewmayer commented on #1553
Hmm, i'm not sure how that decision would actually fix the bug though? Because if a locale doesn't contain gendered first names, won't it continue to fallback to en?

[2022-11-27 15:19] matthewmayer commented on #1553
Note this doesn't typically affect last names, because `en` doesn't have gendered last names. It does in theory affect middle names, but since fullName doesn't use middle name, that rarely comes up.

[2022-11-27 16:22] matthewmayer opened #1612 "Remove en_AU_ocker locale"
### Clear and concise description of the problem

Seems this locale was originally added as a jokey way to add Australian slang names

https://en.wikipedia.org/wiki/Ocker

`['Bazza', 'Bluey', 'Davo', 'Johno', 'Shano', 'Shazza'];`

But there's no API to access this:
https://github.com/faker-js/faker/blob/next/src/locales/en_AU_ocker/person/ocker_first_name.ts

So the only way is via `faker.helpers.

[2022-11-27 18:12] ST-DDT commented on #1553
Yes, because it would then fallback to the gendered version of the same locale.

[2022-11-27 18:53] ST-DDT commented on #547
If you add a new locale or change the locale config (for most of the parts in person), then you will encounter the bug again.
Changing the structure prevents that because then you have to either configure the entire block correctly or you will get compile time errors. You can either not define anything, define only generic, define only male and female or define all.

[2022-11-27 20:15] CookrC commented on #487
How do we want to resolve the URL? Should we depend on the node-fetch module and use its fetch function?

[2022-11-27 20:18] Shinigami92 commented on #487
We already us `lock`

https://github.com/faker-js/faker/blob/8bf716225e9c5b3ce5c968511886b9141d5c918d/src/modules/image/index.ts#L114

[2022-11-27 20:18] #487 closed

[2022-11-28 23:32] kharann opened #1618 "Method to get any random animal"
### Clear and concise description of the problem

Hi! I just want a method that returns an animal, of any type.  Sometimes you just want  any kind of animal rather than one of a specific species.

### Suggested solution

maybe something like

[code]

### Alternative

_No response_

### Additional context

_No response_

[2022-11-29 00:31] ejcheng commented on #1618
Perhaps we should have a new function in the `animal` module that pulls from all animal definitions?

I'm pretty sure we shouldn't use `random` as a method name because all methods return random data.

[2022-11-29 02:37] ST-DDT commented on #1618
Instead of returning a complex breed or race of animal, the new method should return the type or category (e.g. dog, cat, ...). Not sure what the actual name for that is. Maybe just `type()`?

[2022-11-29 07:48] Shinigami92 commented on #1618
We could still stick to what we discussed for other stuff and just use `sample`

To shorten it for the long run, we could also use `sample({ category/species?: '' })`

Beside that `type` is not what the issue creator asked for, I'm against `type` as it conflicts with TypeScript's keyword `type`
That is why many code bases written in TS uses `kind` instead

[2022-11-29 13:59] ST-DDT commented on #1618
I also thought about that but I would expect sample to return something like a mixture of the others e.g. Messouri Fox Trotter (Horse) or Red House Cat.

I think `type`/`category`/`kind` (e.g. cat, lion, eagle) is exactly what @kharann asked for (Please correct me if I'm wrong). I fine with naming it `kind` over `type`. But I would have to spend some time to browse some animal categorization liter

[2022-11-29 14:01] kharann commented on #1618
I did ask for any kind of animal. Right now you have to choose a category, as there's no method that returns any kind of animal

[2022-11-29 14:38] Shinigami92 commented on #1618
Oh thanks for the clarification, so I really misunderstood you first, I'm sorry 🙇

So yeah, we could go with `kind` or `category`
A brain-cell in my head yells that `species` is not correct here 🤔

[2022-11-29 14:52] kharann commented on #1618
Honestly, at first i was thinking something like `faker.animal.any()`, but I think any is also kinda cursed as a word in TypeScript world

[2022-11-29 14:55] Shinigami92 commented on #1618
We had this discussion already with the word module.
Yes we want to omit terms like `type`, `any` and `random`

[2022-11-29 21:35] CookrC commented on #1114
Hello, I am willing to start updating the documentation relating to this issue! If you do not mind, I would like to be assigned to this issue.
Thanks!

[2022-11-29 23:00] ST-DDT commented on #1114
Thanks for your help.

[2022-11-29 23:03] ST-DDT commented on #1114
Note that we already have a page partially mentioning this, but the main usage page might need a hint for this as well and the localization page might need some more details.
https://fakerjs.dev/guide/localization.html